/* ======================================================
//   Стили для страницы     Забирання і доставка вантажу
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__courier-form.jpg") no-repeat;
}

/* =================================== */

.section--courier-order {
    margin-top: 90px;
}

.courier-page__title {
    margin-bottom: 20px;
}

.courier-page__desc {
    margin-bottom: 20px;
}

/* Моб. Приложение */
.mob-app-block {
    margin: 20px 0;
}

.mob-app-block__info {
    display: flex;
}

.mob-app-block__icon {
    max-width: 163px;
    min-width: 90px;
    width: 100%;
    margin-right: 5px;
}

.mob-app-block__icon img {
    display: block;
    max-width: 100%;
    height: auto;
}

.mob-app-block__text {
    font-weight: bold;
    max-width: 250px;
}

.mob-app-block__link-group {
    display: flex;
    margin-top: 10px;
}

.mob-app-block__link {
    display: block;
    max-width: 133px;
    width: 100%;
}

.mob-app-block__link:first-child {
    margin-right: 10px;
}

.mob-app-block__link img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Відео інструкція по 1С */
.video-guide {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    margin: 25px 0 100px;
}

.video-guide__title {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 24px;
    color: #333333;
}

.video-guide__item {
    margin-right: 30px;
    margin: 25px 30px 0 0;
}

.video-guide__item iframe {
    width: 380px;
    height: 203px;
}

.video-guide__item:last-child {
	margin-right: 0;
}


/* Таблица городов с новыми тарифами */
.city-price__header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #ffd500;
    padding: 35px 30px;
}

.city-price__select {
    width: 283px;
    background-color: #fff;
}

.city-price__desc {
    max-width: 328px;
    font-weight: bold;
}


/* Pagination */
/* Перебив стилей из smartpagination.css */
.pager {
    margin: 30px 0;
}

.pager_style {
    display: flex;
    align-items: center;
    font-weight: normal;
    padding: 5px;
    height: 30px;
}

.green.normal {
    background-color: transparent;
}

.green.active, .pager ul li a:hover, .pager ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffd500;
    color: #333;
    border-radius: 50px;
    padding: 0;
    width: 33px;
    height: 32px;
}

.pager ul li a {
    background-color: transparent;
    color: #3072C4;
}

.pager .btn {
    padding: 0 10px;
    border-radius: 50px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    color: #3072C4;
    font-size: 16px;
    height: 32px;
}

#btn-prev {
    width: 33px;
    height: 32px;
}

#btn-next img {
    margin-left: 15px;
}

/* Таблица */
.main_table_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8F8;
    height: 70px;
    font-weight: 600;
}

.main_row_style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 40px;
}

.main_row_style:nth-child(odd) {
    background-color: #F8F8F8;
}

.just_flex {
    display: flex;
}

.little_bird {
    background-image: url("../img/system/icon/green-approve-bird.svg");
    width: 60px;
    height: 100%;
    min-height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.day_width_sm {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 40px;
    width: 60px;
    border-right: 1px solid #999999;
}

.day_width_sm:last-child {
    border-right: none;
}

.first_clmn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 100%;
    min-height: 40px;
    padding: 0 15px;
    border-right: 1px solid #999999;
    text-align: center;
}

.first_clmn:last-child {
    border-right: none;
}

.day-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.day-title {
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.last_clmn {
    width: 377px;
}

.price-link {
    color: #3072C4;
}

.price-link:hover {
    text-decoration: underline;
    color: #3072C4;
}

.address-services {
    margin-top: 100px;
}

.address-services__title{
    margin-bottom: 20px;
}

.address-services p {
    margin-bottom: 10px;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#cityAddIdinp {
    width: 410px;
    height: 40px;
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
}

.address-services__header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;
    background-color: #FFD500;
    margin-top: 25px;
}

.custom-combobox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.address-services__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    margin-right: 30px;
}

/* Результат Таблицы: АДРЕСНЕ ОБСЛУГОВУВАННЯ */
.table_tarif {
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 4px;
    border-collapse: collapse;
}

.table_tarif th,
.table_tarif td {
    padding:6px;
    width: 33%;
    text-align: center;
    height: 40px;
}

.table_tarif th {
    background-color:#F8F8F8;
    font-weight: 600;
}

.table_tarif tbody tr:nth-child(even) {
    background-color:#F8F8F8;
}

.table_tarif tbody tr td:nth-child(2) {
    background-color: #fff;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
}

.table_tarif tr td:first-child, .table_tarif tr th:first-child {
    border-right: 1px solid #999999;
}

.table_tarif tr td:last-child, .table_tarif tr th:last-child {
    border-left: 1px solid #999999;
}

.text-center {
    text-align: center;
}



/* Tabs */

.tabs__wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: -42px;
    width: 100%;
}

.tabs {
    display: flex;
    flex-wrap: nowrap;
    margin-top: -17px;
    width: 100%;
}

.tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    max-width: 520px;
    width: 100%;
    height: 60px;
    margin-top: -20px;
    
    text-align: center;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;

    border: 2px solid #FFD500;
    border-bottom-color: transparent;
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;

    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    color: #999999;
}

.tab:first-child {
    margin-right: 50px;
}

.panels {
    min-height:200px;
    width: 100%;
    overflow:hidden;
    padding: 50px 0;  
}

.panel {
    display:none;
    animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.radio {
    display:none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel{
    display:block
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab{
    color: #333333;
    background-color: #F8F8F8;
    border: transparent;
}



/* Форма */

.courier-order__form {
    width: 805px;
}

.courier-order__title {
    margin-bottom: 30px;
}

.courier-order__description {
    margin-bottom: 20px;
}

.courier-order__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.courier-order__input--small, .courier-order__item--small {
    width: 258px;
}

.courier-order__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courier-order__required-input {
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}

.courier-order__required-input span {
    color: #333;
    font-size: 16px;
}

.courier-order__btn {
    margin-top: 35px;
}

input[type="radio"] {
    height: auto;
    margin-top: 2px;
}

.courier-order__type-order {
    display: flex;
}

.courier-order__type-order div {
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.courier-order__type-order input {
    margin-left: 15px;
}

#DateOrder {
    width: 105px;
    margin-left: 17px;
    padding: 0 13px;
}

#TimeFromOrder {
    width: 105px;
    margin-left: 17px;
    margin-right: 17px;
    background-position: 90%;
}

#TimeToOrder {
    width: 105px;
    margin-left: 17px;
    background-position: 90%;
}

#type-cargo {
    width: 209px;
    margin-left: 15px;
}

.courier-order__item--short {
    width: 248px;
}

.checkbox--before {
    display: block;
}

.checkbox--before input[type=checkbox] + label:before {
    margin: -5px 15px 0 0;
}

.checkbox--before p {
    font-size: 12px;
    line-height: 13px;
    color: #808080;
    margin-top: 8px;
    padding-left: 35px;
}

.checkbox--before label {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.courier-order__item--large {
    width: 100%;
}

.courier-order__textarea {
    min-height: 81px;
    max-height: 200px;
    min-width: 100%;
}

.add-pack__text-area {
    display: none;
}

.show-block {
    display: flex;
}

.courier-order__tarif-links a {
    color: #3072C4;
}

.courier-order__tarif-links a:hover {
    color: #3072C4;
    text-decoration: underline;
}

.add-warehouse {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.add-warehouse label {
    font-weight: bold;
    color: #333333;
    margin-left: 15px;
}

.add-warehouse__btn {
    min-width: 74px;
    height: 40px;
    background-color: transparent;
}

.add-warehouse__btn img {
    margin-right: 0;
}

.courier-order__footer {
    display: flex;
    margin-top: 30px;
}

.total_cost {
    margin-left: 135px;
    margin-top: 30px;
}

.total_cost__text {
    font-weight: 600;
    font-size: 24px;
    color: #333333;
}

.total_cost__value {
    font-weight: bold;
    font-size: 32px;
    color: #ffd500;
    line-height: 32px;
}

.total_cost__result {
    display: flex;
    align-items: flex-end;
    margin-top: 15px;
}

.count-btn {
    margin-bottom: 30px;
    background-color: transparent;
}

.courier-order__line--my-order {
    align-items: center;
    margin: 30px 0px;
}

.courier-order__line--my-order-2 {
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0;
}

.courier-order__line--my-order-2 .checkbox--before {
    margin-left: 32px;
}

.courier-order__my-order {
    display: flex;
    align-items: center;
}

.courier-order__my-order p {
    color: #999999;
    margin-left: 30px;
    max-width: 178px;
    line-height: 23px;
}

.my-order__btn {
    background-color: transparent;
}

.everyday_block {
    margin: 25px 0;
    display: none;
}

.show-it {
    display: flex;
}

.day_width {
    display: flex;
}

.hidden-block {
    display: none;
}

.only-for-pallets {
    display: none;
    position: relative;
}

.add_pallet {
    position: absolute;
    top: 13px;
    right: -24px;
    width: 14px;
    height: 14px;
    background: url("../img/system/icon/green-plus.svg") no-repeat center;
    background-size: 14px 14px;
    cursor: pointer;
}

.payer-3dr__form {
    display: none;
}

.show-block2 {
    display: flex;
}

.hide-block2 {
    display: none;
}

.courier-order__parcel-btn {
    margin-top: 30px;
    color: #333333;
    border: 1px solid #333333;
    background-color: transparent;
}

.courier-order__parcel-btn:hover {
    background-color: #F0F5F9;
    color: #333333;
}

.courier-order__parcel-btn img{
    margin-right: 10px;
}

.add-parcel {
    display: none;
    position: relative;
    width: 1013px;
    border: 1px solid #FFD500;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-parcel__form {
    width: 805px;
}

.add-parcel__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-bottom: 25px;
}

.add-parcel__delete {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.courier-order__line--short {
    justify-content: flex-start;
}

.courier-order__line--short .courier-order__item:last-child {
    margin-left: 100px;
}

#dateReceive, #timeReceive {
    width: 105px;
    margin-left: 30px;
}

.person-3dr__hidden {
    display: none;
}

hr {
    color: #DADADA;
    background-color:#DADADA;
    border: 0 none;
    height: 1px;
    margin-bottom: 15px;
}

.type-payment__item {
    display: flex;
    align-items: center;
}

.type-payment__item label {
    width: 104px;
    cursor: pointer;
}

.type-payment__item input {
    margin: 0 15px;
}

.type-payment .type-payment__item:last-child,
.type-payment .type-payment__item:nth-child(2) {
    margin-left: 90px;
}

.insurance-payer-3dr__hidden {
    display: none;
}

.insurance-block__hidden {
    display: none;
}

.delivery_item {
    position: relative;
}

.delivery_item > div {
    display: flex;
    margin-bottom: 10px;
}

.delivery_item > label {
    font-weight: normal;
    font-size: 16px;
    color: #333333;
}

.delivery_item .ng-binding {
    font-weight: bold;
    margin-left: 13px;
}

.delivery_item .three_in_line > div {
    display: flex;
    margin-right: 30px;
}

.add-parcel__results {
    margin-top: 30px;
}

.results-parcel__name {
    font-weight: 600;
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
}

.add-parcel__results-btn {
    display: flex;
    position: absolute;
    top: 0;
    right: 65px;
}

.add-parcel__results-btn .delivery_edit {
    margin-right: 20px;
    color: #999999;
} 

.add-parcel--show-block {
    display: block;
}

.add-parcel--hide-block {
    display: none;
}

.add-parcel__btn-group {
    display: flex;
    margin-top: 30px;
}

.add-parcel__cleer {
    margin-left: 30px;
}

.type-payment__title {
    width: 105px;
}

/* Результат Добавление Склада */
.result-add-warehouse__conteiner {
    margin: 25px 0 25px 0;
}

.result-add-warehouse {
    display: flex;
    position: relative;
    margin: 20px 0 20px 0;
}

.table_pallet_row {
    margin-left: 15px;
    font-weight: bold;
}

.table_pallet_row div {
    margin-bottom: 10px;
}

.table_pallet_head div {
    margin-bottom: 10px;
    width: 115px;
}

.delete_row {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: url("../img/system/icon/red-close.svg") no-repeat center;
    background-size: 14px 14px;
    cursor: pointer;
}

.edit_row {
    position: absolute;
    top: -3px;
    right: 25px;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #999;
}

/* только для 2го таба */
.find-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 40px;
    background-color: #ffd500;
    border-radius: 5px;
    border: 1px solid transparent;
    margin-left: 30px;
    cursor: pointer;
    transition: all .5s linear;
}

.find-btn:hover {
    background: #F0F5F9;
    border: 1px solid #808080;
    transition: all .5s linear;
}

/* кнопка добавить квитанцию */
.add-receipt__btn {
    background-color: transparent;
}

.add-receipt__btn span {
    color: #ffd500;
    font-size: 19px;
    padding: 0 5px 1px 0;
}

#DateOrderDeliv {
    width: 105px;
    margin-left: 17px;
    padding: 0 13px;
}

.hydro-item {
    margin-left: 177px;
}

.type-payment--small {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 387px;
}

.type-payment--small input {
    margin-right: 10px;
}

.type-payment--small label {
    cursor: pointer;
}

.courier-order__discont {
    width: 387px;
    justify-content: flex-start;
}

.courier-order__discont label {
    cursor: pointer;
}

.courier-order__discont div:first-child {
    margin-right: 50px;
}

.courier-order__info-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.time-pick__inner {
    display: flex;
}

.mob-kill-koma {
    margin-right: 3px;
}

.print_form_block_title_style {
    display: none;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
}

.print_form_block_row {
    display: flex;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.print_form_block_button {
    cursor: pointer;
    color: #808080;
    display: flex;
    align-items: center;
}

.print_form_block_button img {
    margin-top: 4px;
    margin-right: 9px;
}

.print_form_block_button:hover {
    color: #ffd500;
}

#only-mobile {
    display: none;
}

.type-payment__clearfix {
    margin-left: 0 !important;
}

.add-services__first {
    width: 387px;
    margin-right: 30px;
}

.add-services__second {
    width: 387px;
}

@media (max-width: 1024px) {
    .add-parcel__title {
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
    }
    .add-parcel__delete {
        top: 20px;
        right: 20px;
    }
    #only-mobile {
        display: block;
    }
    .courier-page__title {
        display: none;
    }
    .tab {
        height: 60px;
        padding: 10px 12px;
        margin: 0px 2px;
        font-size: 13px;
    }
    .video-guide__title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 20px;
    }
    .add-parcel {
        width: 870px;
        padding: 20px 15px;
        margin: 20px 0;
    }
    .panels {
        padding: 40px 0;
    }
    .courier-order__my-order p {
        font-size: 13px;
        line-height: 13px;
        margin-left: 10px;
    }
    .checkbox--before label {
        font-size: 15px;
    }
    .add-warehouse label {
        font-size: 15px;
    }
    .add-parcel__btn-group {
        margin-top: 25px;
    }
    .total_cost__text {
        font-size: 18px;
        line-height: 20px;
    }
    .total_cost__value {
        font-size: 30px;
        line-height: 45px;
    }
    .edit_row {
        top: -3px;
        right: 25px;
        font-size: 15px;
    }
    .print_form_block_row {
        font-size: 15px;
    }
    .print_form_block_title_style {
        margin-top: 40px;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    .video-guide {
        margin: 20px 0 30px;
    }
    .address-services__title{
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .address-services__text {
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        margin-left: 10px;
    } 
    #cityAddIdinp {
        width: 387px;
    }
    .table_tarif th, .table_tarif td {
        font-size: 15px;
    }
}


@media (max-width: 930px) {
    .courier-order__form, .add-parcel__form {
        width: 100%;
    }
	.courier-order__line {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .courier-order__item {
        justify-content: end;
        margin-bottom: 25px;
        width: 100%;
    }
    .courier-order__select {
        width: 100%;
        max-width: 387px;
    }
	.courier-order__item--large {
		max-width: 387px;
		width: 100%;
    }
    .add-parcel {
        width: 100%;
    }
    .courier-order__line--my-order-2 {
        align-items: baseline;
        margin: 0 0 25px;
    }
    .courier-order__line--my-order {
        align-items: baseline;
        margin: 0 0 25px;
    }
    .courier-order__line--my-order-2 .checkbox--before {
        margin-left: 0;
        margin: 25px 0 0;
    }
    .everyday_block {
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .everyday_block>div {
        margin: 0 0 25px;
        width: 145px;
    }
    .courier-order__tarif-links {
        margin-bottom: 25px;
    }
    .courier-order__tarif-links p:first-child {
        margin-bottom: 15px;
    }
    .time-pick {
        flex-direction: column;
        align-items: baseline;
    }
    .time-pick__inner {
        margin-top: 25px;
    }
    .mob-kill-koma {
        display: none;
    }
    #TimeFromOrder, #TimeToOrder  {
        width: 100px;
        margin-left: 19px;
        background-position: 90%;
    }
    #TimeToOrder {
        margin-right: 0;
    }
    .time-pick__inner>div {
        display: flex;
        align-items: center;
    }
    .type-payment {
        flex-direction: column;
        align-items: baseline;
        margin-left: 0 !important;
    }
    .type-payment__item {
        margin-left: 0 !important;
        margin-bottom: 15px;
    }
    .type-payment__item:last-child {
        margin-bottom: 0;
    }
    .hydro-item {
        margin-left: 30px;
    }
    .courier-order__line--my-order p {
        line-height: 20px;
    }
    .type-payment--mobile {
        flex-direction: column;
    }
    .type-payment--mobile .type-payment {
        margin-bottom: 0;
    }
    .type-payment__item input {
        margin-left: 0;
    }
}

@media (max-width: 830px) {
    .video-guide__item:last-child {
        margin-right: 30px;
    }
    .total_cost {
        margin-left: 50px;
        margin-top: 14px;
    }
}

@media (max-width: 700px) {
    .custom-combobox {
        flex-direction: column;
        align-items: baseline;
    }
    #cityAddIdinp {
        margin-left: 10px;
        margin-top: 10px;
    }
    .address-services__text {
        margin-right: auto;
    } 
}

@media (max-width: 480px) {
    .video-guide {
        justify-content: flex-start;
    }
    .video-guide__item {
        margin: 20px 0 0;
    }
    .video-guide__item:last-child {
        margin-right: 0;
    }
    .video-guide__item iframe {
        width: 280px;
        height: 160px;
    }
    .tab:first-child {
        margin-right: 10px;
    }
    .total_cost {
        margin-left: 25px;
    }
    .edit_row p {
        display: none;
    }
    .edit_row {
        right: 0;
        top: 25px;
        width: 21px;
        height: 21px;
        background: url('../img/system/icon/edit-icon.svg') no-repeat center center;
        background-size: 20px;
    }
    .add-services {
        flex-direction: column;
        align-items: baseline;
    }
    .add-services__first {
        width: auto;
        margin: 0 0 20px;
    }
    .add-services__second {
        width: auto;
    }
    #cityAddIdinp {
        width: 93%;
        max-width: 387px;
    }
    .table_tarif th, .table_tarif td {
        font-size: 14px;
    }
}

@media (min-width: 440px) {
    .mob-app-block {
        position: relative;
        width: 100%;
    }
    .mob-app-block__link-group {
        position: absolute;
        bottom: 25px;
        left: 170px;
    }
}

@media (max-width: 370px) {
    .courier-order__footer {
        position: relative;
    }
    .total_cost__result {
        margin-top: 10px;
    }
    #pick_up_send {
        margin-top: 115px;
    }
    .total_cost {
        position: absolute;
        bottom: 55px;
        left: 0;
        margin: 0;
    }

}

@media (max-width: 350px) {
    .textarea-large {
        width: 79%;
    }
}