/* ======================================================
//   Стили для страницы          Гарячі рейси
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__hot-flights.jpg") no-repeat;
}

/* =================================== */

.hot-flights__title {
    margin-bottom: 20px;
}

.hot-flights__desc {
    margin-bottom: 20px;
}

.tutorial {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.tutorial__item {
    width: 200px;
    text-align: center;
    position: relative;
}

.tutorial__item::after {
    content: " ";
    position: absolute;
    top: 24%;
    right: -31%;
    width: 50px;
    height: 47px;
}

.tutorial__item:nth-child(1)::after {
    background: url("../img/system/delivery-group__logos/delGroup_logo--arrow.png") no-repeat center center;
}

.tutorial__item:nth-child(2)::after {
    background: url("../img/system/delivery-group__logos/deltruck--arrow.png") no-repeat center center;
}

.tutorial__item:nth-child(3)::after {
    background: url("../img/system/delivery-group__logos/inter--arrow.png") no-repeat center center;
}

.tutorial__icon {
    margin: 0 auto;
    max-width: 150px;
    width: 100%;
}

.tutorial__icon img {
    display: block;
    width: 100%;
    height: auto;
}

.tutorial__step {
    display: none;
}

.tutorial__info {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
    margin-top: 20px;
}

/* Таблица */
.hot-flights__table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.hot-flights__table thead tr:first-child {
    background-color: #FFD500;
    width: 100%;
    height: 64px;
}

.hot-flights__table th {
    font-weight: 600;
    font-size: 16px;
}

.hot-flights__table tr:first-child th {
    font-weight: 600;
    font-size: 24px;
}

.hot-flights__table tr:first-child th span {
    font-weight: bold;
}

.hot-flights__table thead tr:last-child {
    background-color: #F8F8F8;
    height: 60px;
}

.hot-flights__table tr td {
    height: 40px;
}

.hot-flights__table tr:nth-child(even) {
    background-color: #F8F8F8;
}

.hot-flights__table tr td:first-child {
    text-align: left;
    padding-left: 30px;
    width: 40%;
}

.hot-flights__table tr td:nth-child(2), .hot-flights__table tr th:nth-child(2) {
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

.hot-flights__table tbody tr:last-child {
    border-bottom: 1px solid #999999;
}

.hot-flights__table tr td {
    width: 30%;
    font-weight: normal;
    font-size: 15px;
}

.hot-flights__table tr td:first-child:hover {
    color: #3072C4;
    cursor: pointer;
}

/* Заявка */
.hot-order {
    width: 805px;
    margin: 50px 0;
}

.hot-order__title {
    margin-bottom: 30px;
}

.hot-order__sub-title {
    font-weight: 600;
    font-size: 24px;
    color: #999999;
    margin-bottom: 15px;
}

.hot-order__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.hot-order__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hot-order__item--col {
    flex-direction: column;
    align-items: flex-start;
}

.hot-order__item--col label {
    margin-bottom: 15px;
    font-weight: bold;
}

.hot-order__btn {
    margin-top: 30px;
}

.required-alert {
    font-size: 12px;
    color: #808080;
}

.required-alert span {
    color: #333333;
}

.get-cargo-alert {
    margin-bottom: 15px;
}

.get-cargo-alert span {
    color: #FF0000;
}

#route-arrow {
    position: relative;
}

#route-arrow::after {
    content: " ";
    position: absolute;
    bottom: 8px;
    right: -27px;
    width: 23px;
    height: 23px;
    background: url("../img/system/icon/yellow-arrow.svg") no-repeat center;
    background-size: 16px 19px;
    transform: rotate(-90deg);
}

.readyTime__baggage {
    margin-right: auto;
    margin-left: 30px;
}

.readyTime__baggage p {
    color: #999;
}

@media (max-width: 1140px) {
    .tutorial__item::after {
        right: -25%;
    }
}

@media (max-width: 1024px) {
    .hot-order {
        margin: 30px 0;
    }
    .hot-flights__title {
        display: none;
    }
    .hot-flights__desc {
        margin-bottom: 15px;
    }
    .tutorial__info {
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
        font-weight: normal;
    }
    .tutorial__step {
        display: block;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    .tutorial__item::after {
        display: none;
    }
    .hot-flights__table tr:first-child th {
        font-size: 18px;
    }
    .hot-flights__table th {
        font-size: 13px;
    }
    .hot-flights__table tr td:first-child {
        min-width: 40%;
        min-height: 40px;
        height: auto;
        padding: 7px;
    }
    .hot-flights__table tr td {
        width: 10%;
    }
    .hot-order__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .hot-order__sub-title {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .hot-order__item--col label {
        margin-bottom: 25px;
        font-size: 15px;
    }
    .hot-order__btn {
        margin-top: 20px;
    }
}

@media (max-width: 960px) {
    .hot-order__line {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .hot-order__item {
        margin-bottom: 25px;
        width: 100%;
    }
    #route-arrow::after {
        display: none;
    }
    #from_ro--label, #to_ro--label {
        margin-bottom: 10px;
    }
    .readyTime__baggage {
        margin-left: 0px;
        margin-top: -15px;
    }
    .readyTime__baggage p {
        color: #333;
    }
}

@media (max-width: 470px) {
    .hot-flights__table tr td:first-child {
        padding: 10px 3px;
    }
    .tutorial__icon {
        margin: 0 auto;
        max-width: 120px;
        width: 100%;
    }
}

@media (max-width: 430px) {
    .hot-order {
        max-width: 100%;
    }
    select {
        width: 100%;
    }
}