/* ======================================================
//   Стили для страницы Програма лояльності
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__loyalty.jpg") no-repeat;
}

/* =================================== */

.benefits-program {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 50px;
}

.benefits-program__item {
    width: 190px;
    text-align: center;
    position: relative;
}

.benefits-program__item::after {
    content: " ";
    position: absolute;
    top: 24%;
    right: -48px;
    width: 50px;
    height: 47px;
}

.benefits-program__item:nth-child(1)::after {
    background: url("../img/system/delivery-group__logos/delGroup_logo--arrow.png") no-repeat center center;
}

.benefits-program__item:nth-child(2)::after {
    background: url("../img/system/delivery-group__logos/deltruck--arrow.png") no-repeat center center;
}

.benefits-program__item:nth-child(3)::after {
    background: url("../img/system/delivery-group__logos/inter--arrow.png") no-repeat center center;
}

.benefits-program__item:nth-child(4)::after {
    background: url("../img/system/delivery-group__logos/kvorum--arrow.png") no-repeat center center;
}

.benefits-program__img {
    margin: 0 auto;
    max-width: 150px;
}

.benefits-program__img img {
    display: block;
    width: 100%;
    height: auto;
}

.benefits-program__item p {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    margin-top: 20px;
}

/* Описание программы  */
.about-program p {
    max-width: 1043px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.about-program__more {
    display: none;
    height: auto;
}

.about-program__more[open] .more__title {
    margin-bottom: 20px;
}

.about-program__more[open] .more__title img {
    transform: rotate(90deg);
    transition: all .2s linear;
}

.more__title  {
    display: flex;
    align-items: center;
    color: #3072C4;
}

.more__title img {
    margin-left: 8px;
    transition: all .2s linear;
}

.about-program .main-btn {
    margin-top: 30px;
    margin-bottom: 100px;
}

.bonus__title {
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
}

.bonus__title span {
    font-weight: 900;
    font-size: 60px;
    color: #3072C4;
    opacity: .1;
    letter-spacing: -4px;
    margin-right: -7px;
}

.bonus__group-logos {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.bonus__item {
    max-width: 283px;
    width: 100%;
    max-height: 92px;
}

.bonus__item img {
    display: block;
    width: 100%;
    height: auto;
}

/* Таблица */
.bonus-table {
    margin-top: 30px;
}

.bonus-table__inner {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.bonus-table__inner:last-child {
    margin-bottom: 0;
}

.bonus-table__company {
    max-width: 178px;
    max-height: 58px;
    margin-right: 36px;
}

.bonus-table__company img {
    display: block;
    width: 100%;
    height: auto;
}

.bonus-table__category {
    display: flex;
    align-items: center;
    margin-right: 36px;
    max-width: 178px;
    width: 100%;
}

.bonus-table__category p {
    font-weight: 600;
}

.bonus-table__category img {
    width: 35px;
    height: 35px;
    margin-right: 30px;
}

.bonus-table__point {
    max-width: 870px;
    width: 100%;
}

.bonus-table__point li {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.bonus-table__point li p:first-child {
    min-width: fit-content;
}

.bonus-table__point li span {
    width: 100%;
}

.bonus-table__point--dots li span {
    border-bottom: 1px dotted #000;
    height: 16px;
    margin: 0 5px;
}

.bonus-table__point li p:last-child {
    min-width: 250px;
}

.more-point__btn {
    position: relative;
    cursor: pointer;
    font-weight: 600;
}

.more-point__btn::after {
    content: " ";
    position: absolute;
    top: 3px;
    right: -30px;
    width: 18px;
    height: 18px;
    background: url(../img/system/icon/arrow-right.svg) no-repeat center center;
    transition: all .2s linear;
}

.more-point__btn--hover::after {
    background: url(../img/system/icon/arrow--blue.svg) no-repeat center center;
    transform: rotate(90deg);
    transition: all .2s linear;
}

.bonus-table--hide-block {
    display: none;
}

.bonus-table--show-block {
    display: block;
}

.more-point__btn--hover  {
    color: #3072C4;
}

/* Обмен балов */
.exchange {
    display: flex;
    margin-top: 30px;
    margin-bottom: 45px;
}

.exchange__img {
    max-width: 283px;
    width: 100%;
    max-height: 180px;
}

.exchange__img img {
    display: block;
    width: 100%;
    height: auto;
}

.exchange__info  {
    margin-top: 10px;
    margin-left: 30px;
    max-width: 730px;
}

.exchange__info p {
    margin-bottom: 20px;
}

.exchange__info p:first-child {
    font-weight: bold;
    font-size: 32px;
    color: #ffd500;
}

/* Додаткові переваги */
.add-benefits {
    margin-top: 45px;
}

.add-benefits__inner {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px 0;
}

.add-benefis__item {
    margin-right: 35px;
}

.add-benefis__item:last-child {
    margin-right: 0;
}

.add-benefis__item p {
    line-height: 24px;
    max-width: 388px;
}

.add-benefis__heading {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.add-benefis__heading p {
    font-weight: bold;
    max-width: 205px;
}

.add-benefis__heading img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.program-support {
    margin: 30px 0 20px 0;
}

.program-support__btn-group {
    display: flex;
    margin-top: 30px;
}

.program-support__btn-group .main-btn:last-child {
    margin-left: 30px;
}

.program-support__btn {
    width: 236px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    border: 1px solid #333;
    background-color: #fff;
}

.program-support__btn:hover {
    background-color: #F0F5F9;
    color: #333;
}

.program-support__btn img{
    margin-right: 10px;
}

.benefits-program__step {
    display: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

@media (max-width: 1160px) {
    .benefits-program__item::after {
        right: -21%;
    }
}

@media (max-width: 1090px) {
    .benefits-program__item::after {
        right: -18%;
    }
}

@media (max-width: 1040px) {
    .benefits-program__item::after {
        display: none;
    }
}

@media (max-width: 1024px) {
    .about-program__open-info {
        display: none;
    }
    .about-program__more {
        display: block;
    }
    .program-loyalty__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin: 25px 0 10px 0;
    }
    .about-program p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .benefits-program__item p {
        margin-top: 10px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
    }
    .benefits-program {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about-program .main-btn {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .bonus__main-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    .bonus__title {
        display: flex;
        align-items: center;
        margin-top: 30px;
        font-size: 18px;
    }
    .bonus__title span {
        line-height: 40px;
    }
    .bonus__group-logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    .bonus__item {
        margin: 5px;
    }
    .bonus-table__inner {
        flex-direction: column;
    }
    .bonus-table__company {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .bonus-table__category p {
        font-weight: bold;
        font-size: 15px;
    }
    .bonus-table__category img {
        margin-right: 10px;
    }
    .exchange__info p:first-child {
        font-size: 18px;
    }
    .add-benefits__inner {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
    }
    .add-benefits {
        margin-top: 20px;
    }
    .add-benefis__item {
        margin: 25px;
    }
    .add-benefits__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    .program-support {
        margin-bottom: 0;
    }
    .benefits-program__step {
        display: block;
    }
}

@media (max-width: 860px) {
    .add-benefits__inner {
        justify-content: flex-start;
    }
    .add-benefis__item {
        margin: 20px 0 0;
    }
    .add-benefis__item:first-child {
        margin: 0;
    }
    .benefits-program__img {
        max-width: 130px;
    }
}

@media (max-width: 800px) {
    .bonus-table__point li {
        flex-wrap: wrap;
    }
    .bonus-table__point--dots li span {
        display: none;
    }
    .bonus-table__point li p:first-child {
        min-width: fit-content;
        margin-right: 10px;
    }
    .bonus-table__point--dots li p:last-child {
        min-width: 90px;
    }
}

@media (max-width: 700px) {
    .exchange__img {
        display: none;
    }
    .exchange__info {
        margin: 0;
    }
    .exchange {
        margin: 10px 0 20px;
    }
}

@media (max-width: 480px) {
    .program-support__btn-group {
        flex-direction: column;
        margin-top: 20px;
    }
    .program-support__btn-group .main-btn:last-child {
        margin-left: 0;
        margin-top: 20px;
    }
    .bonus-table__point li p:first-child {
        width: 90%;
        padding-right: 7px;
        min-width: auto;
    }
    .more-point__btn::after {
        right: -18px;
    }
}