/* ======================================
//     Стили для страницы Документи
====================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__documents.jpg") no-repeat;
}

/* -------------------------------------------------------------------------------------- */

.documents {
    padding-bottom: 35px;
    max-width: 750px;
}

.documents__category {
    
}

.documents__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    margin: 20px 0;
}

.documents__item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    max-width: 750px;
}

.documents__item a {
    font-size: 16px;
    line-height: 20px;
    margin-right: 5px;
}

.documents__item a:hover {
    text-decoration-line: underline;
    color: #3072C4;
}

.documents__item span {
    color: #808080;
    text-decoration-line: none;
}

.documents__link {
    max-width: 620px;
}

.documents__link:hover ~ .documents__doc  {
    color: #3072C4;
}

.documents__doc {
    padding-left: 70px;
    color: #000000;
    text-transform: uppercase;
}

.documents__group-links {
    margin-top: 40px;
}

.documents__group-links li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.documents__group-links li:last-child {
    margin-bottom: 0;
}

.group-links__logos {
    max-width: 179px;
    width: 100%;
    max-height: 58px;
    height: auto;
    margin-right: 30px;
}

.group-links__logos img {
    display: block;
    width: 100%;
    height:auto;
}

.documents__group-links p {
    padding-right: 3px;
}

.documents__group-links a {
    color: #3072C4;
}

.documents__group-links a:hover {
    text-decoration-line: underline;
    color: #3072C4;
}

@media (max-width: 1024px) {
    .documents {
        padding-bottom: 0;
    }
    .documents__main-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin: 20px 0 10px;
    }
    .documents__category {
        display: none;
        max-width: 600px;
    }
    .category__active {
        display: block;
    }
    .documents__title {
        display: flex;
        align-items: center;
        font-weight: normal;
        position: relative;
        font-size: 15px;
        line-height: 20px;
        height: 50px;
        width: 100%;
        max-width: 600px;
        background: #F0F5F9;
        border-radius: 5px;
        padding-left: 10px;
        padding: 0 40px 0 10px;
        margin: 10px 0;
    }
    .documents__title:after {
        content: " ";
        position: absolute;
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background: #ffd500 url("../img/system/icon/tabs-icon--close.svg") no-repeat center;
        background-size: 10px;
        border-radius: 50px;
        transform-origin: center;
        transition: transform .2s linear;
        transform: rotate(0deg);
    }
    .category__title-active:after {
        transform: rotate(90deg);
        background: #fff url("../img/system/icon/tabs-icon--open.svg") no-repeat center;
        background-size: 10px;
        transition: transform .5s linear;
    }
    .documents__item a {
        font-size: 15px;
    }
    .documents__item span {
        font-size: 14px;
    }
    .documents__doc {
        padding-left: 20px;
    }
}

@media (max-width: 480px) {
    .documents__group-links li {
        flex-direction: column;
        align-items: baseline;
    }
    .documents__group-links li p {
        display: flex;
        flex-direction: column;
    }
    .group-links__logos {
        max-width: 279px;
        max-height: 91px;
        margin-right: 0;
        margin-bottom: 10px;
    }
}