/* ======================================
//     Стили для страницы Документи
====================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__documents.jpg") no-repeat;
}

/* -------------------------------------------------------------------------------------- */

.documents {
    max-width: 750px;
}

.documents__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    margin: 20px 0;
}

.documents__item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    max-width: 750px;
}

.documents__item a {
    font-size: 16px;
    line-height: 20px;
    margin-right: 5px;
}

.documents__item a:hover {
    text-decoration-line: underline;
    color: #3072C4;
}

.documents__item span {
    color: #808080;
    text-decoration-line: none;
}

.documents__link {
    max-width: 620px;
}

.documents__link:hover ~ .documents__doc  {
    color: #3072C4;
}

.documents__doc {
    padding-left: 70px;
    color: #000000;
    text-transform: uppercase;
}

.doc-tab {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 72px;
    background-color: #F0F5F9;
    border-radius: 5px;
    padding: 0 70px 0 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.doc-tab:after {
    content: " ";
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    background: #ffd500 url("../img/system/icon/tabs-icon--close.svg") no-repeat center;
    border-radius: 50px;
    transform-origin: center;
    transition: transform .2s linear;
    transform: rotate(0deg);
}

.doc-tab__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
}

.doc-list {
    display: none;
    margin-bottom: 20px;
}

.doc-list__active {
    display: block;
}

.doc-tab__title-active::after {
    transform: rotate(90deg);
    background: #fff url("../img/system/icon/tabs-icon--open.svg") no-repeat center;
    transition: transform .5s linear;
}

.doc-tab__img {
    width: 170px;
    min-width: 170px;
    height: 55px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 15px;
}

.doc-tab__img img {
    display: block;
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .documents {
        padding-bottom: 0;
    }
    .documents__item {
        padding: 8px 0;
    }
    .documents__title {
        margin: 10px 0;
        font-size: 15px;
    }
    .documents__main-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin: 20px 0 10px;
    }
    .doc-tab__title {
        font-size: 15px;
        line-height: 20px;
    }
    .doc-tab__img {
        width: 120px;
        min-width: 120px;
        height: 40px;
    }
    .doc-tab {
        height: 50px;
        padding: 0 50px 0 10px;
        margin-bottom: 10px;
    }
    .doc-tab:after {
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-size: 10px;
    }
    .doc-tab__title-active::after {
        background-size: 10px;
    }
    .documents__item a {
        font-size: 15px;
    }
    .documents__item span {
        font-size: 14px;
    }
    .documents__doc {
        padding-left: 20px;
    }
}

@media (max-width: 430px) {
    .doc-tab__img {
        display: none;
    }
}

@media (max-width: 350px) {
    .doc-tab {
        height: 60px;
    }
    .doc-tab:after {
        right: 10px;
        top: 15px;
    }
}