/* =================================================
//     Стили для страницы Система знижок
=================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__discount.jpg") no-repeat;
}

/* -------------------------------------------------------------------------------------- */

.discount__map {
    width: 100%;
    margin: 20px 0 60px 0;
    position: relative;
}

.discount__map img {
    cursor: pointer;
    display: block;
    width: 100%;
    height: auto;
}

.discount__print, .discount__open {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.discount__print:hover path, .discount__open:hover path {
    fill: #ffd500
}

.discount__open {
    right: 60px;
    cursor: pointer;
}

.discount-prog__rules li span {
    color: #3072C4;
    margin-right: 5px;
}

/* Аккардион */
.acc-discount {
	max-width: 730px;
}

.acc-discount details[open] summary ~ * {
	animation: acc-discount-open 0.3s ease-in-out;
}

@keyframes acc-discount-open {
	0% {
		opacity: 0;
    }
	100% {
		opacity: 1;
	}
}

.acc-discount summary::-webkit-details-marker {
	display: none;
}

.acc-discount summary {
	display: flex;
	align-items: center;
	width: 100%;
	height: 72px;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	list-style: none;
	background-color: #F0F5F9;
	border-radius: 5px;
	font-weight: 600;
	font-size: 24px;
	line-height: 20px;
    color: #333333;
    outline: 0;
}

.acc-discount__summary {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.acc-discount__summary:after {
	content: " ";
	position: absolute;
	right: 20px;
	width: 35px;
	height: 35px;
	background: #ffd500 url("../img/system/icon/tabs-icon--close.svg") no-repeat center;
	border-radius: 50px;
	transform-origin: center;
    transition: 200ms linear;
}

.acc-discount details[open] .acc-discount__summary:after {
    transform: rotate(90deg);
	background: #fff url("../img/system/icon/tabs-icon--open.svg") no-repeat center;
    transition: transform 0.5s linear;
}

/* Title */
.acc-discount__title {
    padding-left: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.acc-discount__info {
    padding-bottom: 35px;
    width: 999px;
}

.acc-discount__info p, .discount-prog p {
    margin-bottom: 20px;
}

.acc-discount__info p a, 
.acc-discount__links p a {
    color: #3072C4;
}

.acc-discount__info p a:hover,
.acc-discount__links p a:hover {
    color: #3072C4;
    text-decoration: underline;
}

.acc-discount__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 510px;
    width: 100%;
}

.discount-prog {
    margin-top: 100px;
}

.discount-prog__inner {
    width: fit-content;
    margin: 0 auto;
}

.discount-prog__card-img {
    max-width: 300px;
    width: 100%;
}

.discount-prog__card-img img {
    display: block;
    width: 100%;
    height: auto;
}

.discount-prog__title {
    margin-bottom: 25px;
}

.discount-prog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.discount-prog__info {
    display: flex;
    align-items: baseline;
}

.discount-prog__info p:first-child {
    width: 127px;
    margin-right: 15px;
}

.discount-prog__info span {
    color: #FF2727;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    margin-left: 15px;
}

@media (max-width: 1024px) {
    .discount__title {
        margin: 20px 0 10px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
    .discount__map {
        margin: 10px 0 20px 0;
    }
    .acc-discount {
        max-width: 600px;
    }
    .acc-discount summary {
        height: 50px;
        margin-bottom: 10px;
    }
    .acc-discount__title {
        padding-left: 10px;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        width: 75%;
    }
    .acc-discount__summary:after {
        right: 10px;
        width: 30px;
        height: 30px;
        background-size: 10px;
    }
    .acc-discount details[open] .acc-discount__summary:after {
        background-size: 10px;
    }
    .acc-discount__links p:first-child {
        margin-bottom: 25px;
    }
    .discount-prog {
        margin-top: 15px;
    }
    .discount-prog__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .acc-discount__info p, .discount-prog p {
        margin-bottom: 10px;
    }
    .acc-discount__info {
        padding-bottom: 20px;
        width: 100%;
    }
    .discount-prog__list {
        margin-bottom: 30px;
    }
}

@media (max-width: 550px) {
    .discount__print, .discount__open {
        bottom: 10px;
        right: 10px;
    }
    .discount__open {
        right: 50px;
    }
}

@media (max-width: 414px) {
    .discount__print, .discount__open {
        bottom: 5px;
        right: 5px;
    }
    .discount__open {
        right: 40px;
    }
}