/* ===============================================================
//   Стили для страницы    Тариф Адресна доставка та забирання
================================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__tariff-main.jpg") no-repeat;
}
/* =================================== */

.main-btn--white {
	margin-top: 30px;
}

.main-btn--white img {
	width: 9px;
	margin-right: 5px;
}

.address__item {
	margin-bottom: 40px;
}

.address__heading {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.address__heading img {
	width: 62px;
	height: 42px;
	margin-right: 20px;
}

.address__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
}

.address__item p  {
	margin-bottom: 17px;
}

.address__item p a {
	color: #3072C4;
}

.address__item p a:hover {
	color: #3072C4;
	text-decoration: underline;
}

.address__video {
	max-width: 700px;
	width: 100%;
	height: 394px;
	margin: 20px 0 25px 0;
}

.address__video iframe {
	display: block;
	width: 100%;
	height: 100%;
}

/* Table */
.tariff__table {
	border-collapse: collapse;
	width: 805px;
	text-align: center;
	margin: 20px 0;
}

.tariff__table thead {
	background-color: #FFD500;
}

.tariff__table tbody {
	border-bottom: 1px solid #999999;
}

.tariff__table thead th {
	height: 40px;
}

.tariff__table tbody tr:nth-child(even) {
	background-color: #F8F8F8;
}

.tariff__table tbody td {
	min-height: 40px;
	padding: 12px 5px;
}

.tariff__table th, .tariff__table td  {
	border-right: 1px solid #999999;
}

.tariff__table th:last-child, .tariff__table td:last-child  {
	border-right: none;
}

.tariff__table tbody tr {
	transition: all .4s linear;
}

.tariff__table tbody tr:hover {
	background-color: #FFEF9E;
	transition: all .4s linear;
}


/* Таблица 1 */
#table--size1 thead th:first-child, #table--size1 tbody td:first-child {
	width: 250px;
}

#table--size1 thead th:nth-child(2), #table--size1 tbody td:nth-child(2),
#table--size1 thead th:nth-child(3), #table--size1 tbody td:nth-child(3),
#table--size1 thead th:nth-child(4), #table--size1 tbody td:nth-child(4) {
	width: 183px;
}

#table--size1 thead th {
	height: 60px;
}

/* Таблица 2 */
#table--size2 thead th:first-child, #table--size2 tbody td:first-child {
	width: 310px;
}

/* Таблица 3 */
#table--size3 thead th:first-child, #table--siz3 tbody td:first-child {
	width: 245px;
}

#table--size3 thead th:nth-child(2), #table--size3 tbody td:nth-child(2),
#table--size3 thead th:nth-child(3), #table--size3 tbody td:nth-child(3),
#table--size3 thead th:nth-child(4), #table--size3 tbody td:nth-child(4) {
	width: 186px;
}

#table--size3 thead th {
	height: 60px;
}

/* Таблица 4 */
#table--size4 thead th:first-child, #table--size4 tbody td:first-child {
	width: 350px;
}

#table--size4 thead th:nth-child(2), #table--size4 tbody td:nth-child(2),
#table--size4 thead th:nth-child(3), #table--size4 tbody td:nth-child(3) {
	width: 226px;
}

/* Таблица 5 */
#table--size5 thead th:first-child, #table--size5 tbody td:first-child {
	width: 247px;
}

#table--size5 thead th:nth-child(2), #table--size5 tbody td:nth-child(2),
#table--size5 thead th:nth-child(3), #table--size5 tbody td:nth-child(3),
#table--size5 thead th:nth-child(4), #table--size5 tbody td:nth-child(4),
#table--size5 thead th:nth-child(5), #table--size5 tbody td:nth-child(5) {
	width: 139px;
}


/* Таблица населених пунктів, в яких діє послуга:  */
.tariff__city {
    border-collapse: collapse;
    margin: 20px 0 50px 0;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.tariff__city tbody {
    display: block;
    height: 360px;
    width: max-content;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tariff__city tbody::-webkit-scrollbar { width: 3px; height: 3px;}
.tariff__city tbody::-webkit-scrollbar-button { height: 0; }
.tariff__city tbody::-webkit-scrollbar-thumb {height: 50px; background-color: #ffd500; border-radius: 50px;}
.tariff__city tbody::-webkit-scrollbar-track-piece { background-color: #DADADA;}

.tariff__city tr {
    display: flex;
    width: 805px;
}
.tariff__city tr:nth-child(odd) {
    background-color: #F8F8F8;
}

.tariff__city td {
    display: inline-flex;
    align-items: center;
    width: 33%;
    height: 40px;
    padding-left: 30px;
}

.tariff__city td:nth-child(2) {
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
}

.tariff__city tbody tr:hover {
	background-color: #FFEF9E;
	transition: all .4s linear;
}


.address__item details[open] summary ~ * {
	animation: address__item-open 0.3s ease-in-out;
}

@keyframes address__item-open {
	0% {
		opacity: 0;
    }
	100% {
		opacity: 1;
	}
}

.address__item summary::-webkit-details-marker {
	display: none;
}

.tariff-city__title {
	display: flex;
	align-items: center;
	width: fit-content;
	padding-right: 40px;
	position: relative;
	margin-bottom: 20px;
	cursor: pointer;
	list-style: none;
    color: #333333;
	outline: 0;
	font-weight: bold;
}

.tariff-city__title:after {
	content: " ";
	position: absolute;
	right: 0px;
	width: 35px;
	height: 35px;
	background: url("../img/system/icon/arrow.svg") no-repeat center;
	transform-origin: center;
	transition: 200ms linear;
}

.address__item details[open] .tariff-city__title {
	color: #3072C4;
}

.address__item details[open] .tariff-city__title:after {
    transform: rotate(90deg);
	background: url("../img/system/icon/arrow--blue.svg") no-repeat center;
	transition: transform 0.4s linear;
}

.border-bottom {
	border-bottom: 1px solid #999;
}

.white-space-nowrap {
	white-space: nowrap;
}



.tariff__table--pack-bicycle tbody tr:nth-child(even) {
	background-color: transparent;
}

.tariff__table--pack-bicycle tbody .tariff--bg td {
	background-color: #F8F8F8;
}

.tariff__table--pack-bicycle tbody tr:hover {
	background-color: transparent;
}

.tariff__table--pack-bicycle tbody td:hover {
	background-color: #FFEF9E !important;
}


@media (max-width: 1024px) {
	.tariff-content__hide {
		display: none;
	}
	.tariff-content__active {
		display: block;
	}
	.address__title {
		font-size: 18px;
		line-height: 20px;
	}
	.address__heading img {
		margin-right: 10px;
	}
	.address__heading {
		border-top: 2px solid #F0F5F9;
		padding: 10px 35px 10px 0;
		margin-bottom: 0;
		position: relative;
	}
	.address__item {
		margin-bottom: 0;
	}
	.address {
		border-bottom: 2px solid #f0f5f9;
	}
	.address__heading:after {
		content: "+";
		position: absolute;
		top: calc(50% - 10px);
		right: 5px;
		color: #ffd500;
		font-weight: bold;
		font-size: 20px;
		line-height: 1;
		transform: rotate(0deg);
		transition: all .1s linear;
	}
	.tariff-title__active:after {
		transform: rotate(45deg);
		right: 3px;
		transition: all .1s linear;
	}
	.tariff__support {
		margin-top: 20px;
	}
	.tariff__support .main-btn--white {
		margin-top: 20px;
	}
	.tariff__table {
		max-width: 805px;
		width: 100%;
	}
	.address__item p {
		margin-bottom: 10px;
	}
	.address__video {
		max-width: 400px;
		height: 260px;
		margin: 10px 0 20px 0;
	}
	.address__video-block {
		margin-top: 40px;
	}
	.main-btn--white {
		margin-top: 20px;
	}
	.tariff__city tr {
		display: flex;
		width: 500px;
	}
}

@media (max-width: 530px) {
	.tariff__table {
		min-width: 445px;
		margin-bottom: 0;
	}
	.scroll-wrap {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		margin-bottom: 20px;
	}
	.scroll-wrap::-webkit-scrollbar { width: 3px; height: 3px;}
    .scroll-wrap::-webkit-scrollbar-button { height: 0; width: 100%;}
    .scroll-wrap::-webkit-scrollbar-thumb {background-color: #ffd500; border-radius: 50px;}
    .scroll-wrap::-webkit-scrollbar-track-piece { background-color: transparent;
	}
	#table--size2 thead th:first-child, #table--size2 tbody td:first-child {
		width: 165px;
	}
	#table--size2 {
		min-width: 331px;
	}
	.table-4--wrap .tariff__table {
		min-width: 620px;
	}
	.tariff__city {
		margin: 0;
	}
}

@media (max-width: 400px) {
	.address__video {
		max-width: 320px;
		height: 210px;
	}
}