/* ===============================================================
//   Стили для страницы    Тариф Адресна доставка та забирання
================================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__tariff-main.jpg") no-repeat;
}
/* =================================== */

.main-btn--white {
	margin-top: 30px;
}

.main-btn--white img {
	width: 9px;
	margin-right: 5px;
}


.address__item {
	margin-bottom: 40px;
}


.address__heading {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.address__heading img {
	width: 62px;
	height: 42px;
	margin-right: 20px;
}

.address__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
}


.address__item p  {
	margin-bottom: 17px;
}

.address__item p a {
	color: #3072C4;
}

.address__item p a:hover {
	color: #3072C4;
	text-decoration: underline;
}

.address__video {
	margin: 20px 0 25px 0;
}


/* Table */
.tariff__table {
	border-collapse: collapse;
	width: 805px;
	text-align: center;
	margin: 20px 0;
}

.tariff__table thead {
	background-color: #FFD500;
}

.tariff__table tbody {
	border-bottom: 1px solid #999999;
}

.tariff__table thead th {
	height: 40px;
}

.tariff__table tbody tr:nth-child(even) {
	background-color: #F8F8F8;
}

.tariff__table tbody td {
	min-height: 40px;
	padding: 12px 5px;
}

.tariff__table th, .tariff__table td  {
	border-right: 1px solid #999999;
}

.tariff__table th:last-child, .tariff__table td:last-child  {
	border-right: none;
}

.tariff__table tbody tr {
	transition: all .4s linear;
}

.tariff__table tbody tr:hover {
	background-color: #FFEF9E;
	transition: all .4s linear;
}


/* Таблица 1 */
#table--size1 thead th:first-child, #table--size1 tbody td:first-child {
	width: 250px;
}

#table--size1 thead th:nth-child(2), #table--size1 tbody td:nth-child(2),
#table--size1 thead th:nth-child(3), #table--size1 tbody td:nth-child(3),
#table--size1 thead th:nth-child(4), #table--size1 tbody td:nth-child(4) {
	width: 183px;
}

#table--size1 thead th {
	height: 60px;
}

/* Таблица 2 */
#table--size2 thead th:first-child, #table--size2 tbody td:first-child {
	width: 310px;
}

/* Таблица 3 */
#table--size3 thead th:first-child, #table--siz3 tbody td:first-child {
	width: 245px;
}

#table--size3 thead th:nth-child(2), #table--size3 tbody td:nth-child(2),
#table--size3 thead th:nth-child(3), #table--size3 tbody td:nth-child(3),
#table--size3 thead th:nth-child(4), #table--size3 tbody td:nth-child(4) {
	width: 186px;
}

#table--size3 thead th {
	height: 60px;
}

/* Таблица 4 */
#table--size4 thead th:first-child, #table--size4 tbody td:first-child {
	width: 350px;
}

#table--size4 thead th:nth-child(2), #table--size4 tbody td:nth-child(2),
#table--size4 thead th:nth-child(3), #table--size4 tbody td:nth-child(3) {
	width: 226px;
}

/* Таблица 5 */
#table--size5 thead th:first-child, #table--size5 tbody td:first-child {
	width: 247px;
}

#table--size5 thead th:nth-child(2), #table--size5 tbody td:nth-child(2),
#table--size5 thead th:nth-child(3), #table--size5 tbody td:nth-child(3),
#table--size5 thead th:nth-child(4), #table--size5 tbody td:nth-child(4),
#table--size5 thead th:nth-child(5), #table--size5 tbody td:nth-child(5) {
	width: 139px;
}


/* Таблица населених пунктів, в яких діє послуга:  */
.tariff__city {
    border-collapse: collapse;
    margin: 20px 0 50px 0;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

.tariff__city tbody {
    display: block;
    height: 360px;
    width: max-content;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tariff__city tbody::-webkit-scrollbar { width: 3px; height: 3px;}
.tariff__city tbody::-webkit-scrollbar-button { height: 0; }
.tariff__city tbody::-webkit-scrollbar-thumb {height: 50px; background-color: #ffd500; border-radius: 50px;}
.tariff__city tbody::-webkit-scrollbar-track-piece { background-color: #DADADA;}

.tariff__city tr {
    display: flex;
    width: 805px;
}
.tariff__city tr:nth-child(odd) {
    background-color: #F8F8F8;
}

.tariff__city td {
    display: inline-flex;
    align-items: center;
    width: 33%;
    height: 40px;
    padding-left: 30px;
}

.tariff__city td:nth-child(2) {
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
}
