/* ===============================================================
//   Стили для страницы    Тариф «Будівельний Прайс»
================================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__construct.jpg") no-repeat;
}
/* =================================== */

.construct__main-title {
	margin-bottom: 20px;
}

.main-btn--white {
	margin-top: 30px;
}

.main-btn--white img {
	width: 9px;
	margin-right: 5px;
}

.tariff__advantages {
	display: flex;
	justify-content: space-between;
	margin: 30px 0;
}

.advantages__img {
	width: 144px;
	height: 138px;
	margin: 0 auto 20px auto;
}

.advantages__img img {
	display: block;
	width: 100%;
	height: auto;
}

.tariff__advantages p {
	font-weight: bold;
	text-align: center;
}

.construct__item {
	margin-bottom: 40px;
}

.construct__heading {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.construct__heading img {
	width: 62px;
	height: 42px;
	margin-right: 20px;
}

.construct__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
}

.construct__title span {
	font-weight: normal;
}

.sub-thead {
	background-color: #FFEF9E;
}

.construct__intro p  {
	margin-bottom: 17px;
}

.construct__intro p a {
	color: #3072C4;
}

.construct__intro p a:hover {
	color: #3072C4;
	text-decoration: underline;
}

.construct__list li {
	padding-left: 9px;
}

/* Table */
.tariff__table {
	border-collapse: collapse;
	width: 805px;
	text-align: center;
	margin: 20px 0;
}

.tariff__table thead {
	background-color: #FFD500;
}

.tariff__table tbody {
	border-bottom: 1px solid #999999;
}

.tariff__table thead th {
	height: 40px;
	width: 33%;
}

.tariff__table tbody tr:nth-child(even) {
	background-color: #F8F8F8;
}

.tariff__table tbody td {
	min-height: 40px;
	padding: 12px 5px;
	width: 33%;
}

.tariff__table th, .tariff__table td  {
	border-right: 1px solid #999999;
}

.tariff__table th:last-child, .tariff__table td:last-child  {
	border-right: none;
}

.tariff__table tbody tr {
	transition: all .4s linear;
}

.tariff__table tbody tr:hover {
	background-color: #FFEF9E;
	transition: all .4s linear;
}

.new-wrap {
	position: relative;
}

.new {
	position: absolute;
	top: 10px;
	left: 5px;
	margin-bottom: 0;
	
	padding-left: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color: #FF2727;
}

@media (max-width: 1024px) {
	.tariff-content__hide {
		display: none;
	}
	.tariff-content__active {
		display: block;
	}
	.construct {
		border-bottom: 2px solid #f0f5f9;
	}
	.construct__title {
		font-size: 18px;
		line-height: 20px;
	}
	.construct__heading img {
		margin-right: 10px;
	}
	.construct__heading {
		border-top: 2px solid #F0F5F9;
		padding: 10px 35px 10px 0;
		margin-bottom: 0;
		position: relative;
	}
	.construct__item {
		margin-bottom: 0;
		cursor: pointer;
	}
	.construct__main-title {
		display: none;
	}
	.construct__intro p {
		margin-bottom: 10px;
	}
	.construct__heading:after {
		content: "+";
		position: absolute;
		top: calc(50% - 10px);
		right: 5px;
		color: #ffd500;
		font-weight: bold;
		font-size: 20px;
		line-height: 1;
		transform: rotate(0deg);
		transition: all .1s linear;
	}
	.tariff-title__active:after {
		transform: rotate(45deg);
		right: 3px;
		transition: all .1s linear;
	}
	.tariff__table {
		max-width: 805px;
		width: 100%;
	}
	.main-btn--white {
		margin-top: 20px;
	}
	.tariff__advantages {
		justify-content: space-evenly;
		margin: 20px 0;
	}
	.advantages__img {
		width: 100px;
		height: 100px;
		margin: 0 auto 10px auto;
	}
	.new {
		top: 0;
		left: 5px;
		padding-left: 0;
		font-size: 10px;
	}
	.tariff__table thead th {
		padding: 3px;
	}
}
