/* ======================================================
//   Стили для страницы       Тариф “Велопрайс” 
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__tariff-bicycle.jpg") no-repeat;
}
/* =================================== */

.main-btn--white {
	margin-top: 30px;
}

.main-btn--white img {
	width: 9px;
	margin-right: 5px;
}

.bicycle__title {
	margin-bottom: 20px;
}

.bicycle li span  {
	color: #FF0000;
}

.bicycle p, .bicycle li  {
	margin-bottom: 17px;
}

.tarif-zone {
	color: #3072C4;
}

.tarif-zone:hover {
	color: #3072C4;
	text-decoration: underline;
}

/* Table */
.tariff__table {
	border-collapse: collapse;
	width: 805px;
	text-align: center;
	margin-bottom: 20px;
}

.tariff__table thead {
	background-color: #FFD500;
}

.tariff__table tbody {
	border-bottom: 1px solid #999999;
}

.tariff__table thead th {
	height: 40px;
}

.tariff__table thead tr:first-child th:first-child, .tariff__table tbody tr:first-child td:first-child {
	width: 296px;
}

.tariff__table thead tr:first-child th:nth-child(2), .tariff__table tbody tr:first-child td:nth-child(2) {
	width: 87px;
}

.tariff__table tbody tr:nth-child(even) {
	background-color: #F8F8F8;
}

.tariff__table tbody td {
	min-height: 40px;
	padding: 12px 5px;
}

.tariff__table th, .tariff__table td  {
	border-right: 1px solid #999999;
}

.tariff__table th:last-child, .tariff__table td:last-child  {
	border-right: none;
}

.tariff__table tbody tr {
	transition: all .4s linear;
}

.tariff__table tbody tr:hover {
	background-color: #FFEF9E;
	transition: all .4s linear;
}

.border-bottom {
	border-bottom: 1px solid #999;
}

.tariff-call-number {
	color: #333;
	display: flex;
	align-items: center;
}

.tariff-call-number:hover {
	color: #3072C4;
}

.tariff-call-number img {
	width: 12px;
	margin-right: 5px;
}

@media (max-width: 1024px) {
	.bicycle__title {
		display: none;
	}
	.bicycle p, .bicycle li {
		margin-bottom: 10px;
	}
	.tariff__table {
		max-width: 805px;
		min-width: 465px;
		width: 100%;
		margin-bottom: 0;
	}
	.scroll-wrap {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		margin-bottom: 20px;
	}
	.scroll-wrap::-webkit-scrollbar { width: 3px; height: 3px;}
    .scroll-wrap::-webkit-scrollbar-button { height: 0; width: 100%;}
    .scroll-wrap::-webkit-scrollbar-thumb {background-color: #ffd500; border-radius: 50px;}
    .scroll-wrap::-webkit-scrollbar-track-piece { background-color: transparent;
	}
	.main-btn--white {
		margin-top: 20px;
	}
}

