/* ===============================================================
//   Стили для страницы    Тариф Доставка по Україні
================================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__tariff-main.jpg") no-repeat;
}
/* =================================== */

.main-btn--white {
	margin-top: 30px;
}

.main-btn--white img {
	width: 9px;
	margin-right: 5px;
}

.address__item {
	margin-bottom: 40px;
}

.address__heading {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.address__heading img {
	width: 62px;
	height: 42px;
	margin-right: 20px;
}

.address__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
}

.address__title span {
	font-weight: normal;
}

.sub-thead {
	background-color: #FFEF9E;
}

.address__item p  {
	margin-bottom: 17px;
}

.address__item p a {
	color: #3072C4;
}

.address__item p a:hover {
	color: #3072C4;
	text-decoration: underline;
}

.address__list li {
	padding-left: 11px;
}

/* Table */
.tariff__table {
	border-collapse: collapse;
	width: 805px;
	text-align: center;
	margin: 20px 0;
}

.tariff__table thead {
	background-color: #FFD500;
}

.tariff__table tbody {
	border-bottom: 1px solid #999999;
}

.tariff__table thead th {
	height: 40px;
}

.tariff__table tbody tr:nth-child(even) {
	background-color: #F8F8F8;
}

.tariff__table tbody td {
	min-height: 40px;
	padding: 12px 5px;
}

.tariff__table th, .tariff__table td  {
	border-right: 1px solid #999999;
}

.tariff__table th:last-child, .tariff__table td:last-child  {
	border-right: none;
}

.tariff__table tbody tr {
	transition: all .4s linear;
}

.tariff__table tbody tr:hover {
	background-color: #FFEF9E;
	transition: all .4s linear;
}

/* Таблица 1 */
#table--size1 thead tr:first-child th:first-child, #table--size1 tbody tr:first-child td:first-child {
	width: 205px;
}

/* Таблица 2 */
#table--size2 thead th, #table--size2 tbody td {
	width: 33%;
}

/* Таблица 3 */
#table--size3 thead th:first-child, #table--siz3 tbody td:first-child {
	width: 140px;
}

#table--size3 thead th:nth-child(2), #table--size3 tbody td:nth-child(2) {
	width: 147px;
}

#table--size3 thead th:nth-child(3), #table--size3 tbody td:nth-child(3) {
	width: 243px;
}

#table--size3 thead th:nth-child(4), #table--size3 tbody td:nth-child(4),
#table--size3 thead th:nth-child(5), #table--size3 tbody td:nth-child(5) {
	width: 135px;
}

#table--size3 thead th {
	height: 60px;
}

/* Таблица 4 */
#table--size4 thead tr:first-child th:first-child , #table--siz4 tbody tr:first-child td:first-child  {
	width: 136px;
}

#table--size4 tbody tr:nth-child(2) td  {
	width: 165px;
}

#table--size4 thead tr:nth-child(2) th  {
	height: 72px;
	font-weight: 600;
}

#table--size4 tbody tr:nth-child(2) td:first-child  {
	width: 136px;
}

/* Таблица 5 */
#table--size5 thead th:first-child, #table--size5 tbody td:first-child {
	width: 395px;
}

#table--size5 thead th {
	height: 60px;
}

/* Таблица 6 */
#table--size6 thead tr:first-child th, #table--size6 tbody tr:first-child th {
	width: 338px;
}

#table--size6 thead th {
	height: 30px;
}

#table--size6 thead tr:nth-child(2) th {
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
}

#table--size6 thead tr:nth-child(3) th {
	border-left: 1px solid #999;
	font-weight: 600;
}

.border-bottom {
	border-bottom: 1px solid #999;
}

.white-space-nowrap {
	white-space: nowrap;
}

@media (max-width: 1024px) {
	.tariff-content__hide {
		display: none;
	}
	.tariff-content__active {
		display: block;
	}
	.address__title {
		font-size: 18px;
		line-height: 20px;
	}
	.address__heading img {
		margin-right: 10px;
	}
	.address__heading {
		border-top: 2px solid #F0F5F9;
		padding: 10px 35px 10px 0;
		margin-bottom: 0;
		position: relative;
	}
	.address__item {
		margin-bottom: 0;
	}
	.address {
		border-bottom: 2px solid #f0f5f9;
	}
	.address__heading:after {
		content: "+";
		position: absolute;
		top: calc(50% - 10px);
		right: 5px;
		color: #ffd500;
		font-weight: bold;
		font-size: 20px;
		line-height: 1;
		transform: rotate(0deg);
		transition: all .1s linear;
	}
	.tariff-title__active:after {
		transform: rotate(45deg);
		right: 3px;
		transition: all .1s linear;
	}
	.tariff__support {
		margin-top: 20px;
	}
	.tariff__support .main-btn--white {
		margin-top: 20px;
	}
	.tariff__table {
		max-width: 805px;
		width: 100%;
	}
	.address__item p {
		margin-bottom: 10px;
	}
	#table--size1 thead tr:first-child th:first-child, #table--size1 tbody tr:first-child td:first-child {
		width: 105px;
	}
	#table--size5 thead th:first-child, #table--size5 tbody td:first-child {
		width: 200px;
	}
	#table--size6 thead tr:first-child th, #table--size6 tbody tr:first-child th {
		width: 170px;
	}
}

@media (max-width: 530px) {
	.tariff__table {
		min-width: 445px;
		margin-bottom: 0;
	}
	.scroll-wrap {
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		margin-bottom: 20px;
	}
	.scroll-wrap::-webkit-scrollbar { width: 3px; height: 3px;}
    .scroll-wrap::-webkit-scrollbar-button { height: 0; width: 100%;}
    .scroll-wrap::-webkit-scrollbar-thumb {background-color: #ffd500; border-radius: 50px;}
    .scroll-wrap::-webkit-scrollbar-track-piece { background-color: transparent;
	}
}