/*-------------------------------------------------------------
    Project:        Delivery Group
    Author:         Anton Shaposhnikov
    Telegram:		https://t.me/hesoyam_666
--------------------------------------------------------------*/
@font-face {
    font-family: 'Bebas Neue'; 
    src: url("../fonts/BebasNeueBold.otf"); 
}

html {
	overflow-x: hidden;
	box-sizing: border-box;
	height: 100%;
}

body {
	width: 100%;
	overflow: hidden;
	font-family: 'Segoe UI';
	font-style: normal;
	color: #303030;
	background-color: #fff;
}

@media screen and (max-width: 990px) {
	body {
		width: 100vh;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

textarea, input, select {
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

option,
option:hover,
option:focus {
	border: none;
	outline: none;
	box-shadow: none;
	color: #333;
}

:active, :focus {
	outline: none;
}

ul {
    list-style-type: none;
}

strong {
	font-weight: bold;
}

a, a:focus, a:hover, a:active a:visited {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Segoe UI';
	font-weight: bold;
	color: #333;
}

h1 {
	font-size: 56px;
	line-height: 64px;
}

h2 {
	font-size: 32px;
}

p {
	font-family: 'Segoe UI';
	font-size: 16px;
	line-height: 21px;
	color: #333;
}

input {
    width: 387px;
    height: 40px;
    padding: 0 20px;
	border: 1px solid #DADADA;
	background-color: transparent;
    color: #333333;
    font-size: 16px;
    line-height: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color ease-in-out 0s;
	transition-delay: 5000s;
}

input:invalid {
	border-color: #FF2727;
}

input::placeholder {
    color: #333333;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

select {
    width: 387px;
    height: 40px;
	padding: 0 37px 0 20px;
	color: #333333;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid #DADADA;
    background: url("../img/system/icon/select__arrow-down.svg") no-repeat center;
	background-size: 16px 8px;
	-webkit-appearance: none;
    background-position-x: 97%;
    cursor: pointer;
}

textarea {
	padding: 7px 20px;
	background-color: transparent;
	border: 1px solid #DADADA;
	color: #333333;
    font-size: 16px;
    line-height: 20px;
}

textarea::placeholder {
	color: #333333;
}

input:focus, input:active,
select:focus, select:active,
textarea:focus, textarea:active {
	border: 1px solid #ffd500;
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
	display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
	list-style: none;
}

[type="radio"] {
	width: 14px;
	cursor: pointer;
}



/* checkbox style */

[type="checkbox"], [type="radio"] {
	-webkit-appearance: checkbox;
}

.checkbox--after input[type=checkbox] {display: none;}

.checkbox--after input[type=checkbox] + label:after {
    content: " ";
    display: inline-block;
    border: 1px solid #DADADA;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 0 0 5px;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox--after input[type=checkbox]:checked + label:after {
    background: url("../img/system/icon/checkbox__arrow.svg") no-repeat center;
    background-size: 15px 13px;
}

/* Before */

.checkbox--before label, .checkbox--after label {
	cursor: pointer;
}

.checkbox--before input[type=checkbox] {display: none;}

.checkbox--before input[type=checkbox] + label:before {
    content: " ";
    display: inline-block;
    border: 1px solid #DADADA;
    font-size: 20px;    
    line-height: 22px;
    margin: -5px 5px 0 0;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox--before input[type=checkbox]:checked + label:before {
    background: url("../img/system/icon/checkbox__arrow.svg") no-repeat center;
    background-size: 15px 13px;
}

/* ======================================
//            Layout
====================================== */

.main__container {
	display: flex;
	max-width: 1232px;
	margin: 0 auto;
	padding: 0 5px;
}

.main-content {
	width: 100%;
}

.page-header {
	max-width: 1342px;
	height: 320px;
	margin: 0 auto;
}

.page-header__heading {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 1232px;
	height: 100%;
	margin: 0 auto;
	padding: 0 5px 90px 5px;
}

.page-header__discription {
	font-family: 'Segoe UI';
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
	color: #333333;
	padding-top: 15px;
}

.main-page__title {
	max-width: 640px;
	font-weight: bold;
	font-size: 32px;
	color: #333333;
}

.main-page__description {
	max-width: 1020px;
	padding-bottom: 35px;
}


/* ======================================
//              COMMON
====================================== */

.gray-background {
	background-color: #F8F8F8;
}

.main__container--full-width {
	width: 100%;
	background-color: #F8F8F8;
}

.section--grey {
	background-color: #F8F8F8;
}

.container {
	max-width: 1222px;
	height: 100%;
	margin: 0 auto;
	padding: 0 10px;
}

.hover-animation--zoom {
	transition: all 0.3s ease-in;
}

.hover-animation--zoom:hover {
	transform: scale(1.05);
	transition: all 0.3s ease-in;
}


/* ======================================
//              main-btn 
====================================== */

.main-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 178px;
	height: 50px;
	font-size: 16px;
	color: #333;
	background-color: #ffd500;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background .6s ease;
}

.main-btn:hover {
	transition: background .6s ease;
	background: #575757;
	color: #fff;
}

.main-btn:focus {
	outline: 0;
}

/* Белая Кнопка */
.main-btn--white {
    color: #333333;
    border: 1px solid #333333;
    background-color: #fff;
}

.main-btn--white:hover {
    background-color: #F0F5F9;
    color: #333333;
}

.main-btn--white img {
    margin-right: 10px;
}

/* ======================================
//             main-btn--link
====================================== */
/* 
.main-btn--link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 178px;
	height: 50px;
	background-color: #FFD500;
	border-radius: 5px;
	border: 1px solid #FFD500;
	transition: all 0.3s ease-in;
}

.main-btn--link:hover {
	transition: all 0.3s ease-in;
	border-color: #FFD500;
	background-color: transparent;
} */


/* ======================================
//             Navigation
====================================== */

.main-navigation {
	height: 64px;
	width: 100%;
	background-color: #FFD500;
}

.container--nav {
	display: flex;
	justify-content: space-between;
}

.nav {
	width: max-content;
	height: 100%;
}

.nav__ul {
	display: flex;
	height: 100%;
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.nav__li {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 9999;
	padding: 0 20px;
	text-decoration: none;
	transition: all 0.2s;
	cursor: pointer;
	transition: all 0.3s linear;
}

.nav__li:hover {
	transition: all 0.3s linear;
	background-color: #fff;
	cursor: pointer;
}

.nav__title {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #303030;
}

.nav__li:hover .nav__title {
	color: #333;
}

.nav .drop__ul {
	position: absolute;
	top: 64px;
	left: 0;
	background-color: #fff;
	min-width: 280px;
	padding: 0;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.nav .drop__li {
	height: 40px;
	background-color: #fff;
	transition: all 0.3s linear;
}

.nav .drop__li a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
	height: 100%;
	width: 100%;
	text-transform: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
}

.nav .drop__li:hover a {
	color: #333;
	font-weight: 600;
}

.nav .drop__li:hover {
	transition: all 0.3s linear;
	background-color: #FFD500;
}

.nav .nav__li:hover .drop__ul {
	display: block;
	opacity: 1;
	visibility: visible;
	list-style-type: none;
}

.nav-numbers {
	display: flex;
}

.nav-numbers__item {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

.nav-numbers__item:last-child {
	margin-right: 0;
}

.nav-numbers__item img {
	margin-right: 6px;
	height: 12px;
}

@media screen and (max-width: 1061px) {
	#nav-numbers__tel {
		display: none;
	}
	.nav-numbers {
		margin-right: 80px;
	}
}

/* ======================================
//         Tooltip in Nav
====================================== */

.tooltip {
	position: relative;
}

.tooltip__info {
	width: max-content;
	top: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 10px 25px;
	background-color: #575757;
	border-radius: 5px;
	position: absolute;
	z-index: 99999999;
	box-sizing: border-box;
	display: none;
}

.tooltip__info h3, .tooltip__info p {
	font-family: 'Segoe UI';
	font-size: 12px;
}

.tooltip__info h3 {
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;
}

.tooltip__info p {
	line-height: 14px;
	color: rgba(255, 255, 255, 0.58);
}

.tooltip:hover .tooltip__info {
	display: block;
}

.tooltip__info i {
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 12px;
	overflow: hidden;
}

.tooltip__info i::after {
	content: '';
	position: absolute;
	width: 12px;
	height: 12px;
	left: 50%;
	transform: translate(-50%, 50%) rotate(45deg);
	background-color: #575757;
}

#tooltip__tel {
	display: none;
	
}

@media screen and (max-width: 1301px) {
	.tooltip__info {
		left: 6%;
	}
	.tooltip__info i {
		bottom: 99%;
	}
}

@media screen and (max-width: 1061px) {
	#tooltip__tel {
		display: block;
		color: #ffd500;
	}
	.tooltip__info {
		left: 38%;
	}
}



/* ======================================
//            FOOTER
====================================== */

.footer {
	height: 335px;
	background-color: #333;
}

.footer a {
	color: #999;
}

.footer .footer__inner {
	display: flex;
	justify-content: space-between;
	padding-top: 75px;
}

.footer__support a {
	display: block;
}

.footer__support a:hover {
	color: #FFD500;
}

.support__call-center {
	margin-bottom: 45px;
}

.support__call-center p {
	color: #C4C4C4;
}

.support__call-center .call-center__number {
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
	color: #FFFFFF;
	margin-bottom: 25px;
}

.support__call-center .call-center__schedule {
	border-bottom: 1px dashed #949494;
	padding-bottom: 5px;
	width: max-content;
}

.call-center__schedule {
	cursor: pointer;
}

.support__link {
	margin-bottom: 13px;
}

.support__link:last-child {
	margin-bottom: 0;
}

.footer__menu {
	display: flex;
	justify-content: space-between;
}

.footer__menu .menu__item {
	margin-right: 75px;
}

.footer__menu .menu__item:last-child {
	margin-right: 0;
}

.footer__menu .menu__item a {
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 7px;
}

.footer__menu .menu__item a:hover {
	color: #FFD500;
}

.footer__menu .menu__item a:last-child {
	margin-bottom: 0;
}

.footer__menu .menu__item .menu__title {
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.footer-subs {
	max-width: 415px;
}

.footer-subs__title {
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	margin-bottom: 20px;
}

.footer-subs__form {
	display: flex;
}

.footer-subs__btn {
	background-color: #FFD500;
	border: 2px solid #FFD500;
	border-left: 2px solid #FFD500;
	margin-left: -2px;
	padding: 0 18px;
}

.footer-subs__btn:hover {
	cursor: pointer;
}

.footer-subs__input {
	width: 373px;
	height: 48px;
	border: 2px solid #fff;
	padding-left: 14px;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	background-color: transparent;
}

.footer-subs__input::placeholder {
	color: inherit;
}

.footer-subs__input:focus {
	border: 2px solid #ffd500;
}

.footer-subs__input:focus ~ .footer-subs__btn {
	background-color: #FFD500;
	border: 2px solid #ffd500;
}

.footer__links .links {
	display: flex;
	margin-top: 40px;
}

.footer__links .links .links__title {
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 13px;
}

.footer__links .apps__img, .footer__links .socials__img {
	display: flex;
	align-items: center;
}

.footer__links .apps__img {
	margin-right: 80px;
}

.footer__links .apps__img img {
	width: 106px;
	height: 32px;
}

.footer__links .apps__img img:first-child {
	margin-right: 10px;
}

.footer__links .socials__img {
	justify-content: space-between;
	max-width: 125px;
}

.footer__links .socials__img img:hover {
	opacity: .6;
}

@media screen and (max-width: 1101px) {
	.footer__menu .menu__item {
		display: none;
	}
	.footer__links {
		margin-right: 30px;
	}
}


/* ======================================
//            Sub-FOOTER
====================================== */

.sub-footer {
	height: 100px;
	background-color: #FFD500;
}

.sub-footer__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.sub-footer__info p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 16px;
	color: #333333;
}

.sub-footer__payment {
	display: flex;
	align-items: center;
}

.sub-footer__payment img {
	margin-right: 25px;
}

.sub-footer__payment img:last-child {
	margin-right: 0;
}

/* ======================================
//            Mobile App block
====================================== */

.section--yellow {
	margin-top: 110px;
	background-color: #ffd500;
}

.home-apps {
	display: flex;
	justify-content: space-between;
	height: 305px;
}

.home-apps__phone-img {
	margin: -55px 62px 0 0;
}

.home-apps__info {
	margin-top: 50px;
}

.home-apps__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
}

.home-apps__text {
	margin-top: 25px;
	max-width: 490px;
}

.home-apps__downloads {
	display: flex;
	align-items: center;
	margin-top: 33px;
}

.home-apps__downloads a:first-child {
	margin-right: 20px;
}


/* ======================================
//            KPI (Index)
====================================== */

.home-kpi {
	padding: 40px 0 85px 0;
	display: flex;
	justify-content: space-between;
}

.home-kpi__title {
	display: flex;
	align-items: center;
	max-width: 130px;
	margin-bottom: 22px;
	padding-right: 15px;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
}

.home-kpi:hover .on-time__circle {
	animation: 1s ease-out 0s 1 rotateCircleDiagram;
	transition: all 0.3s ease-in;
}

.home-kpi:hover .stats__icon {
	transform: scale(1.1);
	transition: transform 0.3s ease-in;
}

.on-time {
	display: flex;
	padding: 0 10px;
}

.on-time__diagram {
	width: 194px;
	height: 194px;
	position: relative;
	border-radius: 50%;
	background-color: #ffcf00;
	background-image: linear-gradient(to right, #afafaf 50%, transparent 0);
}

.on-time__diagram .on-time__circle {
	color: transparent;
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	transform: rotate(104deg);
}

.on-time__diagram .on-time__info {
	position: absolute;
	top: 17px;
	left: 17px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	background-color: #fff;
}

.on-time__diagram .on-time__icon {
	display: flex;
	margin: 7px auto 0 auto;
}

.on-time__diagram .on-time__percent {
	display: flex;
	justify-content: center;
}

.on-time__diagram .on-time__percent p {
	font-family: 'Bebas Neue', 'Arial', cursive;
	font-size: 54px;
	line-height: 42px;
	font-weight: normal;
	color: #5f5f5f;
	padding-top: 11px;
}

.on-time__diagram .on-time__percent p span {
	font-family: 'Segoe UI';
	font-size: 27px;
	line-height: 41px;
	font-weight: bolder;
	color: #5f5f5f;
}

.on-time__rank {
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding-top: 7px;
	width: 100%;
	height: 74px;
	background-position: 50% -2px;
	background-repeat: no-repeat;
	background-size: 139px;
	background-image: url("../img/system/kpi/kpi__bg1.png");
}

.on-time__rank img {
	width: 13px;
	height: 9px;
}

.on-time__rank p {
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	margin-left: 5px;
}

.on-time__rank--red p {
	color: #ff0404;
}

.on-time__rank--green p {
	color: #36c154;
}

@keyframes rotateCircleDiagram {
	0% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(104deg);
	}
}

.in-road {
	display: flex;
	padding: 0 10px;
}

.in-road__diagram {
	width: 194px;
	height: 194px;
	position: relative;
	border-radius: 50%;
	background-image: url("../img/system/kpi/kpi__clock.png");
	background-repeat: no-repeat;
	background-size: 100%;
}

.in-road__diagram .in-road__hours {
	color: #5d686c;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.in-road__diagram .in-road__info {
	position: absolute;
	top: 17px;
	left: 17px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	padding-top: 29px;
}

.in-road__diagram .in-road__icon {
	display: flex;
	margin: 7px auto 0 auto;
}

.in-road__diagram .in-road__time {
	display: flex;
	justify-content: center;
	padding-bottom: 5px;
}

.in-road__diagram .in-road__time p {
	font-family: 'Bebas Neue', 'Arial', cursive;
	font-size: 54px;
	line-height: 42px;
	font-weight: normal;
	color: #5f5f5f;
}

.in-road__diagram .in-road__rank {
	background-size: 121px;
}

.stats {
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 0 10px;
}

.stats__item {
	display: flex;
	align-items: center;
	padding-bottom: 3px;
}

.stats__item:first-child {
	border-bottom: 1px solid #c1c1c1;
}

.stats__item .stats__icon {
	width: 45px;
	height: 45px;
	margin-right: 20px;
	margin-left: 5px;
	transition: all 0.3s ease-in;
}

.stats__item .stats__info {
	margin-right: 8px;
	min-width: 137px;
}

.stats__item .stats__info--first {
	font-size: 14px;
	font-weight: bold;
	color: #6e6e6e;
}

.stats__item .stats__info--second {
	font-family: 'Bebas Neue', 'Arial', cursive;
	font-size: 41px;
	font-weight: normal;
	line-height: 32px;
	color: #5f5f5f;
	padding-top: 3px;
}

.stats__item .stats__info--second span {
	font-family: 'Segoe UI';
	font-weight: bolder;
	font-size: 23px;
	color: inherit;
}

.stats__item .stats__info--third {
	font-size: 12px;
}

.stats__item .stats__rank {
	display: flex;
	justify-content: center;
	align-items: baseline;
}

.stats__item .stats__rank img {
	width: 13px;
	height: 9px;
}

.stats__item .stats__rank p {
	font-size: 17px;
	font-family: Arial;
	font-weight: bold;
	margin-left: 5px;
}

.stats__item .stats__rank--red p {
	color: #ff0404;
}

.stats__item .stats__rank--green p {
	color: #36c154;
}


/* ======================================
//            feedback block
====================================== */

.faq {
	display: flex;
	justify-content: space-between;
	padding: 95px 0;
}

.feedback {
	width: 310px;
	height: 553px;
	padding: 15px 0 32px 0;
	background-color: #FFD500;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
}

.feedback__title {
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	width: 87%;
	margin: 0 auto;
}

.feedback__form {
	display: flex;
	flex-direction: column;
	width: 87%;
	margin: 30px auto 0 auto;
}

.feedback__label {
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}

.feedback__input, .feedback__select {
	width: 100%;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 7px;
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.feedback__select {
	cursor: pointer;
	background: url("../img/system/icon/faq__arrow-down.svg") no-repeat center;
	background-color: #F2F2F2;
	background-size: 10px 7px;
	-webkit-appearance: none;
	background-position-x: 97%;
	padding-right: 25px;
}

.feedback__select option {
	background-color: #F2F2F2;
}

.feedback__textarea {
	width: 100%;
	height: 122px;
	margin-top: 5px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	resize: none;
	padding: 10px 7px;
	background-color: #fff;
}

.feedback__input:focus, .feedback__input:active,
.feedback__select:focus, .feedback__select:active,
.feedback__textarea:focus, .feedback__textarea:active {
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.feedback__btn {
	width: 138px;
	height: 48px;
	background-color: #333333;
	border-radius: 5px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	margin-top: 22px;
	border: none;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 0.3s ease-in;
}

.feedback__btn:hover {
	border: 1px solid #333;
	background-color: #fff;
	color: #333;
	transition: all 0.3s ease-in;
}

.faq-block {
	padding-left: 10px;
}

.faq-block__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
}

.faq-block__ask-btn {
	display: flex;
	align-items: center;
	font-size: 20px;
	line-height: 24px;
}

.faq-block__ask-btn:hover {
	opacity: .6;
}

.faq-block__ask-btn img {
	margin-left: 14px;
	margin-top: 3px;
	width: 18px;
}

.faq-block__questions {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	width: 800px;
	height: 440px;
	margin: 30px 0 20px 0;
	position: relative;
}

.questions {
	display: flex;
	padding: 4px 0;
}

.questions__input {
	display: none;
}

.questions__label {
	display: block;
	padding: 5px 10px;
	cursor: pointer;
	height: auto;
	min-height: 35px;
	width: 300px;
	border: 2px solid transparent;
}

.questions__label:before {
	content: " ";
	position: absolute;
	top: 0;
	right: -11px;
	width: 17px;
	height: 100%;
}

.questions__input:checked + .questions__label {
	background-color: #FFFFFF;
	border: 2px solid #FFD54B;
	border-right: none;
	border-radius: 3px;
	color: #333333;
	position: relative;
}

.questions__input:checked + .questions__label:before {
	background: url("../img/system/icon/faq__arrow-checked.svg") no-repeat;
	background-position: right;
}

.questions__answer {
	display: none;
	position: absolute;
	top: 0;
	left: 340px;
	padding: 5px 10px;
	height: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none
}

.questions__answer::-moz-scrollbar{
	width: 0px;
	height: 0px;
}

.questions__answer::-webkit-scrollbar {
	width: 0;
}

.questions__answer .answer__text {
	margin-bottom: 20px;
}

.questions__answer .answer__text:last-child {
	margin-bottom: 0;
}

.questions__answer .answer__title {
	font-weight: normal;
	margin-bottom: 33px;
}

.questions__input:nth-of-type(1):checked ~ .questions__answer:nth-of-type(1) {
	display: block;
}


@media screen and (max-width: 1141px) {
	.faq-block__questions {
		width: 900px;
	}
	.faq {
		flex-wrap: wrap;
		padding: 40px 0;
	}
	.feedback {
		width: 100%;
		height: 480px;
		margin-bottom: 50px;
	}
	.feedback__input, .feedback__select  {
		width: 387px;
	}
	.feedback__textarea {
		width: 804px;
		height: 80px;
	}
	.feedback__group {
		display: flex;
	}
	.feedback__group .feedback__item:first-child {
		margin-right: 30px;
	}
	.feedback__item {
		display: flex;
		flex-direction: column;
	}
	.feedback__item:last-child {
		width: 100%;
	}
}



/* ======================================
//            Crumbs
====================================== */

.crumbs__inner {
    display: flex;
    align-items: center;
    height: 32px;
    background-color: #FBFBFB;
    padding: 0 8px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin: 11px 0 25px 0;
}

.crumbs__inner span {
    color: #ffd500;
    padding: 0 4px;
}

.crumbs__inner a {

}

.crumbs__inner a:hover {
	color: #3072C4;
}


/* ======================================
//            News Block
====================================== */

.home-news {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 100px;
}

.home-news .list {
	height: 439px;
	width: 387px;
	background-color: #F8F8F8;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: relative;
}

.home-news .list::-webkit-scrollbar {
	width: 0;
}

@media screen and (max-width: 1141px) {
	.list {
		display: none;
	}
}

.home-news .list__item {
	padding: 25px 25px 15px 25px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-news .list__item:hover .list__title {
	color: #3072C4;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-news .list__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 10px;
}

.home-news .list__date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.home-news .list__date img {
	width: 11px;
	height: 12px;
	margin-right: 7px;
}

.home-news .list__date time {
	font-size: 12px;
	color: #666666;
}

.home-news .preroll {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 805px;
	min-height: 439px;
	margin-left: 30px;
}

.home-news .preroll__img {
	max-width: 128px;
	height: auto;
}

.home-news .preroll__large-block {
	width: 100%;
	height: 258px;
}

.home-news .preroll__large-block .preroll__img {
	max-width: 383px;
}

.home-news .preroll__large-block .preroll__info {
	padding-top: 25px;
}

.home-news .preroll__large-block .preroll__info h3 {
	font-size: 24px;
	line-height: 28px;
}

.home-news .preroll__small-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 161px;
}

.home-news .preroll__small-block .preroll__item {
	width: 387px;
}

.home-news .preroll__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	background-color: #F8F8F8;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-news .preroll__item:hover .preroll__info h3 {
	color: #3072C4;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-news .preroll__item:hover .preroll__btn {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-news .preroll__item--delivery {
	border-bottom: 4px solid #FFD500;
}

.home-news .preroll__item--kvorum {
	border-bottom: 4px solid #96B620;
}

.home-news .preroll__item--international {
	border-bottom: 4px solid #3F81A7;
}

.home-news .preroll__item--deltruck {
	border-bottom: 4px solid #ACABA8;
}

.home-news .preroll__info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 15px;
	padding: 15px 0;
}

.home-news .preroll__info h3 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.home-news .preroll__info p {
	margin-top: 25px;
}

.home-news .preroll__footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-right: 25px;
}

.home-news .preroll__btn {
	width: 15px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-news .preroll__date {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.home-news .preroll__date img {
	width: 15px;
	height: 16px;
	margin-right: 7px;
}

.home-news .preroll__date time {
	font-size: 14px;
	color: #666666;
}


/* ======================================
//            Aside
====================================== */

.aside-block {
	height: 100%;
	/* padding-left: 50px; */
    margin-left: 50px;
}

.aside-block__title {
    border-bottom: 2px solid #FFD500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    padding-bottom: 15px;
    font-weight: normal;
}

/* Aside Search */
.aside-search {
    width: 362px;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
}

.aside-search__form {
	width: 100%;
	height: 100%;
}

.aside-search__input {
    width: 100%;
    height: 100%;
    border: 1px solid #D9D9D9;
    padding: 0 45px 0 10px;
    font-size: 16px;
    line-height: 20px;
}

.aside-search__input::placeholder {
    color: #808080;
}

.aside-search__input:active, .aside-search__input:focus, .aside-search:hover .aside-search__input  {
    border: 1px solid #ffd500;
}

.aside-search__btn {
    position: absolute;
    top: 7px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}

/* Aside News */
.aside-news {
    width: 362px;
    margin-bottom: 30px;
}

.aside-news__item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 10px 15px 0;
}

.aside-news__item:hover p {
    color: #3072C4;
}

.aside-news__item:hover time {
    color: #3072C4;
}

.aside-news__item:last-child {
    border-bottom: none;
}

.aside-news__item time {
    font-size: 12px;
    line-height: 16px;
    color: #808080;
    padding-right: 15px;
}

/* Aside Banner Slider */
.action-slider {
	width: 300px;
	height: 160px;
	margin-top: 25px;
	margin-bottom: 30px;
}
.action-slider div {
	width: 100%;
	display: none;
}
.action-slider img {
	width: 100%;
	height: auto;
}

/* Aside Button group */

.aside-btn__inner {
	display: flex;
	justify-content: space-between;
	width: 360px;
	margin-bottom: 30px;
}

.aside-btn__item {
	display: flex;
	align-items: center;
	width: 170px;
	height: 60px;
	border: 1px solid #808080;
	border-radius: 5px;
	cursor: pointer;
	transition: all .4s linear;
}

.aside-btn__item:hover {
	border: 1px solid #ffd500;
	transition: all .4s linear;
}

/* 1-я кнопка "Розрахувативартість" */
.aside-btn__item:nth-child(1) {
	background: #fff url("../img/system/icon/aside-calculator.svg") no-repeat 20px;
}

.aside-btn__item:nth-child(1):hover {
	background: #F0F5F9 url("../img/system/icon/aside-calculator-yellow.svg") no-repeat 20px;
}

/* 2-я кнопка "Перейти в мій кабінет" */
.aside-btn__item:nth-child(2) {
	background: #fff url("../img/system/icon/aside-account.svg") no-repeat 20px;
}

.aside-btn__item:nth-child(2):hover {
	background: #F0F5F9 url("../img/system/icon/aside-account-yellow.svg") no-repeat 20px;
}

.aside-btn__item p {
	padding-left: 60px;
}

/* Компанії групи «DELIVERY» */

.aside-links__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 360px;
	margin: 20px 0 10px 0;
}

.aside-links__inner img {
	width: 170px;
	height: 58px;
	transition: transform .3s ease-in;
}

.aside-links__inner img:hover {
	transform: scale(1.05);
	transition: transform .3s ease-in;
}

.aside-links__inner li {
	margin: 0 0 20px 0;
}

/* ======================================
//            Block Add File
====================================== */

.add-file {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.add-file__info {
    max-width: 280px;
}

.add-file__title {
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 20px;
}

.add-file__text {
	font-size: 12px;
    line-height: 23px;
    color: #808080;
}

.add-file__text--error {
	display: none;
	font-size: 14px;
	font-weight: bold;
	color: #FF2727;
}

.add-file__btn {
	width: 178px;
	height: 50px;
    margin-top: 40px;
	border: 1px solid #808080;
	border-radius: 5px;
    transition: background .6s ease;
}

.add-file__btn input {
	display: none;
	width: 100%;
	height: 100%;
}

.add-file__btn label {
	display: flex;
    align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
    font-size: 16px;
	color: #333;
	cursor: pointer;
}

.add-file__btn label img {
    padding-right: 5px;
}

.add-file__btn:hover {
    transition: background .6s ease;
    background: #F0F5F9;
}

.add-file__result {
    width: 255px;
}

.add-file__result-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.add-file__result-item:last-child {
    margin-bottom: 0;
}

.add-file__name {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}

.add-file__delete {
    width: 10px;
    height: 10px;
}

/* ======================================
//             Заголовки Блоков
====================================== */

.home-heading {
	display: flex;
	justify-content: space-between;
	padding: 55px 0 27px 0;
}

.home-heading__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
}

.home-heading__link {
	display: flex;
	align-items: center;
	font-size: 20px;
	line-height: 24px;
}

.home-heading__link:hover {
	opacity: .6;
}

.home-heading__link img {
	margin-left: 14px;
	width: 18px;
}


/* ======================================
	pop up/modal общие стили
====================================== */

/* pop up */
.popup-main {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 95px 105px;
    position: relative;
}

.popup-main__title {
    font-weight: bold;
    font-size: 32px;
	line-height: 43px;
	margin-bottom: 15px;
}

.popup-main__desc {
	margin-bottom: 13px;
}

/* pop up common style */
.popup-event--1_close,
.popup-event--2_close,
.popup-news_close,
.popup-tariff-map_close,
.popup-discount_close,
.popup-call-center_close {
    position: absolute;
    top: 50px;
    right: 60px;
    border: none;
    width: 11px;
    height: 11px;
    background: url("../img/system/icon/red-close.svg") no-repeat center;
    cursor: pointer;
}

.popup-event--1_close span,
.popup-event--2_close span,
.popup-news_close span,
.popup-tariff-map_close span,
.popup-discount_close span,
.popup-call-center_close span {
    display: none;
}

#popup-event--1_background,
#popup-event--2_background,
#popup-news_background,
#popup-tariff-map_background,
#popup-discount_background,
#popup-call-center_background {
    opacity: .9 !important;
}

/* pop up Индивидуальный контент  */
/* Регистрация на мероприятие  */
.p-event__date {
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin-bottom: 15px;
}

.p-event__date img {
    width: 16px;
    height: 15px;
    margin-right: 9px;
}

.p-event__date p {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
	color: #ffd500;
}

.p-event__info {
    display: flex;
    justify-content: space-between;
    max-width: 630px;
    width: 100%;
    margin-top: 20px;
}

.p-event__line {
    display: flex;
}

.p-event__item {
    width: 387px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.p-event__item:last-child {
    margin-right: 0;
}

.p-event__notice {
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}

.p-event__notice span {
    font-size: 15px;
    color: #333333;
}

/* Кнопка со стилями для закрытия поп-апа при клике(перебивает стили)
при дублировании что бы работала, html аттрибуты тоже нужно перенести */
.p-event__btn {
    font-size: 15px;
    line-height: 20px;
    margin-top: 30px;
	padding-bottom: 0;
	position: initial;
	width: 178px;
	height: 50px;
	font-size: 16px;
	color: #333;
	background: #ffd500;
}

/* Подписка на новости */
.p-news {
    padding: 58px 105px 40px 105px;
}

.p-news__line {
    display: flex;
}

.p-news__line--logo {
	justify-content: space-between;
}

.p-news__line--logo img {
	width: 164px;
	height: 70px;
	margin-top: 20px;
}

.p-news__item {
    width: 387px;
    margin-right: 30px;
    margin-bottom: 15px;
}

.p-news__item:last-child {
    margin-right: 0;
}

/* Кнопка со стилями для закрытия поп-апа при клике(перебивает стили)
при дублировании что бы работала, html аттрибуты тоже нужно перенести */
.p-news__btn {
    font-size: 15px;
    line-height: 20px;
    margin-top: 30px;
	padding-bottom: 0;
	position: inherit;
	width: 178px;
	height: 50px;
	font-size: 16px;
	color: #333;
	background: #ffd500;
}

#popup-tariff-map form,
#popup-discount form {
	padding: 25px 25px;
}


#popup-call-center form {
	padding: 70px 50px;
	width: 596px;
}

#popup-call-center .popup-main__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 30px;
}

#popup-call-center .p-call-center__info div {
	display: flex;
	margin-bottom: 20px;
}

#popup-call-center .p-call-center__info div:last-child {
	margin-bottom: 0;
}

#popup-call-center .p-call-center__info div p:first-child {
	width: 158px;
	margin-right: 50px;
}

#popup-call-center .popup-main {
	background: #fff url('../img/system/any/pop-up__call-center.png') no-repeat bottom right;
}



/* Уведомление Approve or Error */
.notice__box {
	display: none;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	width: 387px;
	height: 204px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.notice__box--error {
	box-shadow: 0px 1px 8px rgba(255, 39, 39, 0.1);
}

.notice__box .box_text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	padding: 30px;
}

.notice__box .box_text h5 {
	font-family: 'Segoe UI';
	font-weight: 600;
	font-size: 24px;
	
}

.notice__box .box_text p {
	font-size: 16px;
	margin-top: 23px;
}

.notice__box .box_text img {
	width: 60px;
	height: 60px; 
}


