@font-face {
    font-family: 'Bebas Neue'; 
    src: url("../fonts/BebasNeueBold.otf"); 
}

/* ======================================
//            Banners Slider
====================================== */

.main-slider {
	max-width: 1340px;
	width: 100%;
	margin: 0 auto;
}

.main-slider__link {
	display: block;
	overflow: hidden;
	width: 100%;
	border: none !important;
}

.main-slider__img {
	display: block;
	max-width: 100%;
	height: auto;
}

.main-slider .slick-dots {
	display: flex;
	flex-direction: column;
	justify-content: center;
	bottom: 0;
	height: 100%;
}

.main-slider .slick-dots li {
	right: 30px;
	width: 15px;
	height: 15px;
	margin: 7px 0 7px auto;
	border: 1px solid #fff;
	border-radius: 50px;
}

.main-slider .slick-dots .slick-active {
	background: #FDCE00;
}

.main-slider .slick-dots li button {
	display: none;
}

#main-slider--mobile {
	display: none;
}

@media screen and (max-width: 900px) {
	#main-slider--mobile {
		display: block;
	}
	#main-slider--desctop {
		display: none;
	}
}



/* ======================================
//            Trackind Block
====================================== */

.section--tracking {
	margin: 38px 0;
	position: relative;
	z-index: 1;
}

.tracking {
	max-width: 867px;
	margin: 0 auto;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	background-color: #F8F8F8;
}

.tracking__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}

.tracking__bottom {
	padding: 0 20px;
}

.tracking__bottom .tracking__title {
	padding: 13px 0;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
}

.tracking__bottom .tracking__popup-info {
	padding: 13px 0 33px 0;
}

.tracking__bottom .tracking__popup-info a:hover {
	color: #3072C4;
	/* opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; */
}

.tracking__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 56px;
	padding: 0 13px 0 18px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	background-color: #E6E6E6;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.tracking__item:last-child {
	border: none;
}

.tracking__item:first-child {
	background-color: #F8F8F8;
	border-left: 1px solid #F8F8F8;
	padding: 0 30px 0 20px;
}

.tracking__item img {
	margin-right: 10px;
	height: 22px;
}

.tracking__item #tracking-icon--large {
	height: 16px;
}

.tracking__item:hover {
	background-color: #F8F8F8;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.tracking__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.tracking__form .tracking__btn {
	width: 48px;
	height: 48px;
	background-color: #fff;
	border: 2px solid #ccc;
	border-left: 2px solid #ccc;
	margin-left: -2px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.tracking__form .tracking__btn img {
	max-width: 18px;
}

.tracking__form .tracking__btn:hover {
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	background-color: #FFD500;
	border-color: #FFD500;
	cursor: pointer;
}

.tracking__form .tracking__input {
	width: 542px;
	height: 48px;
	border: 2px solid #ccc;
	padding: 0 0 3px 14px;
	font-size: 20px;
	line-height: 24px;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.tracking__form .tracking__input:focus {
	border-color: #FFD500;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.tracking__form .tracking__input:focus ~ .tracking__btn {
	background-color: #FFD500;
	border-color: #FFD500;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}


@media screen and (min-width: 320px) and (max-width: 800px) {
	.section--tracking {
		background-color: #F8F8F8;
		margin: 0;
	}
	.tracking {
		width: 100%;
		display: flex;
		flex-direction: column-reverse;
		box-shadow: none;
		background-color: transparent;
	}
	.tracking__top {
		flex-direction: column;
		margin-bottom: 20px;
	}
	.tracking__item img {
		width: 24px;
	}
	.tracking__item:first-child {
		display: none;
	}
	.tracking__item {
		display: flex;
		align-items: center;
		height: 40px;
		padding: 0;
		border-right: none;
		background-color: transparent;
	}
	.tracking__item:hover p {
		color: #3072C4;
	}
	.tracking__form .tracking__input {
		width: 100%;
		height: 40px;
		padding: 0 0 0 10px;
		font-size: 15px;
	}
	.tracking__form .tracking__input::placeholder {
		font-size: 13px;
	}
	.tracking__form .tracking__btn {
		width: 40px;
		height: 40px;
	}
	.tracking__bottom {
		padding: 0;
	}
	.tracking__bottom .tracking__popup-info {
		padding-bottom: 10px;
		font-size: 13px;
	}
	.tracking__bottom .tracking__title {
		padding: 25px 0 10px 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 24px;
	}
}


/* ======================================
//            Tariffs block
====================================== */

.home-tariff {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
}

.home-tariff__item-wrapper {
	margin-right: 5px;
}

.home-tariff__item {
	display: block;
	width: 283px;
	height: 350px;
	background-color: #fff;
	border: 1px solid transparent;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-tariff__item:last-child {
	margin-right: 0;
}

.home-tariff__item:hover {
	border: 1px solid #FFD500;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-tariff__item:hover .home-tariff__img {
	-webkit-filter: grayscale(0%);
	        filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
	        filter: grayscale(0%);
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.home-tariff__img-wrap {
    margin: 40px auto 10px auto;
    height: 154px;
}

.home-tariff__img {
	display: block;
    -webkit-filter: grayscale(100%);
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
            filter: grayscale(100%);
            -webkit-filter: gray;
                    filter: gray;
    margin: 0 auto;
}

.home-tariff__info {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	padding: 0 10px 0 25px;
	margin-bottom: 40px;
}

.home-tariff__title {
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.home-tariff__text {
	font-size: 16px;
	line-height: 20px;
}

.home-tariff .slick-prev, .home-tariff .slick-next {
	width: 48px;
	height: 48px;
	background: #fff url("../img/system/icon/h-slider__arrow.svg") no-repeat center center;
}

.home-tariff .slick-prev {
	top: -59px;
	left: auto;
	right: 65px;
	transform: rotate(180deg);
}

.home-tariff .slick-next {
	right: 7px;
	top: -35px;
}

.home-tariff .slick-prev:hover, .home-tariff .slick-prev:focus, .home-tariff .slick-next:hover, .home-tariff .slick-next:focus {
	background: #FFD500 url("../img/system/icon/h-slider__arrow--hover.svg") no-repeat center center;
}

.home-tariff .slick-prev:before, .home-tariff .slick-next:before {
	display: none;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
	.home-tariff {
		margin-top: 60px;
		margin-bottom: 0 !important;
	}
	.home-tariff__item {
		margin: 0 auto;
	}
	.home-tariff__item:last-child {
		margin-right: auto;
	}
	.home-tariff__item-wrapper {
		margin-right: 0;
	}
}
@media screen and (min-width: 320px) and (max-width: 600px) {
	.home-tariff .slick-prev, .home-tariff .slick-next {
		display: none;
	}
	.home-tariff {
		margin-top: 20px;
	}
}


/* ======================================
//            Subscribe block
====================================== */

.section--subs {
	background-color: #3F81A7;
}

.subs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	height: 200px;
	padding: 75px 104px;
}

@media screen and (max-width: 1181px) {
	.subs {
		padding: 75px 27px;
	}
}


.subs__title {
	font-size: 24px;
	line-height: 28px;
	font-weight: normal;
	color: #FFFFFF;
	padding-right: 10px;
}

.subs__form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.subs__form .subs__btn {
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #333333;
	background-color: #FFD500;
	border: 2px solid #FFD500;
	border-left: 2px solid #FFD500;
	margin-left: -2px;
	padding: 0 18px;
	border-radius: 0px 2px 2px 0px;
}

.subs__form .subs__btn:hover {
	cursor: pointer;
}

.subs__form .subs__input {
	width: 373px;
	height: 48px;
	border: 2px solid #ccc;
	padding-left: 14px;
	font-size: 16px;
	line-height: 20px;
	color: #333;
	border-radius: 2px 0px 0px 2px;
	background-color: #fff;
}

.subs__form .subs__input::-webkit-input-placeholder {
	color: #333;
}

.subs__form .subs__input::-moz-placeholder {
	color: #333;
}

.subs__form .subs__input:-ms-input-placeholder {
	color: #333;
}

.subs__form .subs__input::-ms-input-placeholder {
	color: #333;
}

.subs__form .subs__input::-webkit-input-placeholder {
	color: #333;
}

.subs__form .subs__input::-moz-placeholder {
	color: #333;
}

.subs__form .subs__input:-ms-input-placeholder {
	color: #333;
}

.subs__form .subs__input::placeholder {
	color: #333;
}

.subs__form .subs__input:focus {
	border-color: #FFD500;
}

.subs__form .subs__input:focus ~ .subs__btn {
	background-color: #FFD500;
	border-color: #FFD500;
}

/* ======================================
//        Slider Наші переваги 
====================================== */

.section--home-advantages {
	background-color: #F8F8F8;
}

.home-advantages {
	height: 360px;
	margin-bottom: 40px;
	display: inline-block;
	width: 100%;
}

#home-advantages__slider {
	position: relative;
	z-index: 1;
	-webkit-perspective: 1000px; 
		perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

#home-advantages__slider [type="radio"] {
	display: none;
}

#home-advantages__slider .slider__label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: auto;
	width: 314px;
	height: 350px;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	top: 0;
	cursor: pointer;
	-webkit-tap-highlight-color:  transparent;
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.6s ease;
	transition: -webkit-transform 0.6s ease;
	-o-transition: transform 0.6s ease;
	transition: transform 0.6s ease;
	transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.slider__info {
	max-width: 240px;
	margin: 0 auto;
	text-align: center;

}

.slider__info h3 {
	font-size: 20px;
	line-height: 27px;
	margin-bottom: 17px;
}

.slider__info p {
	display: none;
}

#slide1 .slider__icon,
#slide2 .slider__icon,
#slide3 .slider__icon,
#slide4 .slider__icon,
#slide5 .slider__icon {
	width: 155px;
	height: 138px;
	margin: 0 auto 25px auto;
	-webkit-filter: grayscale(100%);
		filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
		filter: grayscale(100%);
		-webkit-filter: gray;
				filter: gray;
	-webkit-transition: -webkit-filter 0.7s linear;
	transition: -webkit-filter 0.7s linear;
	-o-transition: filter 0.7s linear;
	transition: filter 0.7s linear;
	transition: filter 0.7s linear, -webkit-filter 0.7s linear;
}

#slide1 .slider__icon {
	background: url("../img/system/icon/advantages__icon/h-advantages__slider--icon4--gold.png") no-repeat center;
}

#slide2 .slider__icon {
	background: url("../img/system/icon/advantages__icon/h-advantages__slider--icon2--gold.png") no-repeat center;
}

#slide3 .slider__icon {
	background: url("../img/system/icon/advantages__icon/h-advantages__slider--icon1--gold.png") no-repeat center;
}

#slide4 .slider__icon {
	background: url("../img/system/icon/advantages__icon/h-advantages__slider--icon3--gold.png") no-repeat center;
}

#slide5 .slider__icon {
	background: url("../img/system/icon/advantages__icon/h-advantages__slider--icon5--gold.png") no-repeat center;
}

#s1:checked ~ #slide1 .slider__icon,
#s2:checked ~ #slide2 .slider__icon,
#s3:checked ~ #slide3 .slider__icon,
#s4:checked ~ #slide4 .slider__icon,
#s5:checked ~ #slide5 .slider__icon {
	margin: 0 auto 15px auto;
	-webkit-filter: grayscale(0%);
		filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
		filter: grayscale(0%);
	-webkit-transition: -webkit-filter 0.7s linear;
	transition: -webkit-filter 0.7s linear;
	-o-transition: filter 0.7s linear;
	transition: filter 0.7s linear;
	transition: filter 0.7s linear, -webkit-filter 0.7s linear;
}

#s1:checked ~ #slide1 .slider__info p,
#s2:checked ~ #slide2 .slider__info p,
#s3:checked ~ #slide3 .slider__info p,
#s4:checked ~ #slide4 .slider__info p,
#s5:checked ~ #slide5 .slider__info p {
	display: block;
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
	border: 1px solid #ffd500;
	-webkit-transition: -webkit-transform 0.6s ease;
	transition: -webkit-transform 0.6s ease;
	-o-transition: transform 0.6s ease;
	transition: transform 0.6s ease;
	transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(-115%, 10%, -200px);
	    transform: translate3d(-115%, 10%, -200px);
}

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(-90%, 5%, -100px);
	    transform: translate3d(-90%, 5%, -100px);
}

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
}

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(90%, 5%, -100px);
	        transform: translate3d(90%, 5%, -100px);
}

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	-webkit-transform: translate3d(115%, 10%, -200px);
	        transform: translate3d(115%, 10%, -200px);
}

#s1:checked ~ #slide1 .slider__btn--prev1,
#s2:checked ~ #slide2 .slider__btn--prev2,
#s3:checked ~ #slide3 .slider__btn--prev3,
#s4:checked ~ #slide4 .slider__btn--prev4,
#s5:checked ~ #slide5 .slider__btn--prev5 {
	width: 0;
	-webkit-transition: width .01s linear;
	-o-transition: width .01s linear;
	transition: width .01s linear;
}

#s1:checked ~ #slide3 .slider__btn--prev3,
#s2:checked ~ #slide4 .slider__btn--prev4,
#s3:checked ~ #slide5 .slider__btn--prev5,
#s4:checked ~ #slide1 .slider__btn--prev1,
#s5:checked ~ #slide2 .slider__btn--prev2 {
	width: 0;
	-webkit-transition: width .01s linear;
	-o-transition: width .01s linear;
	transition: width .01s linear;
}

#s1:checked ~ #slide4 .slider__btn--prev4,
#s2:checked ~ #slide5 .slider__btn--prev5,
#s3:checked ~ #slide1 .slider__btn--prev1,
#s4:checked ~ #slide2 .slider__btn--prev2,
#s5:checked ~ #slide3 .slider__btn--prev3 {
	width: 0;
	-webkit-transition: width .01s linear;
	-o-transition: width .01s linear;
	transition: width .01s linear;
}

#s1:checked ~ #slide1 .slider__btn--next1,
#s2:checked ~ #slide2 .slider__btn--next2,
#s3:checked ~ #slide3 .slider__btn--next3,
#s4:checked ~ #slide4 .slider__btn--next4,
#s5:checked ~ #slide5 .slider__btn--next5 {
	width: 0;
	-webkit-transition: width .01s linear;
	-o-transition: width .01s linear;
	transition: width .01s linear;
}

#s1:checked ~ #slide3 .slider__btn--next3,
#s2:checked ~ #slide4 .slider__btn--next4,
#s3:checked ~ #slide5 .slider__btn--next5,
#s4:checked ~ #slide1 .slider__btn--next1,
#s5:checked ~ #slide2 .slider__btn--next2 {
	width: 0;
	-webkit-transition: width .01s linear;
	-o-transition: width .01s linear;
	transition: width .01s linear;
}

#s1:checked ~ #slide4 .slider__btn--next4,
#s2:checked ~ #slide5 .slider__btn--next5,
#s3:checked ~ #slide1 .slider__btn--next1,
#s4:checked ~ #slide2 .slider__btn--next2,
#s5:checked ~ #slide3 .slider__btn--next3 {
	width: 0;
	-webkit-transition: width .01s linear;
	-o-transition: width .01s linear;
	transition: width .01s linear;
}

.slider__btn {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 48px;
	height: 48px;
	background-color: #fff;
	background-image: url("../img/system/icon/h-slider__arrow.svg");
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	top: 50%;
	-webkit-transition: width .1s linear;
	-o-transition: width .1s linear;
	transition: width .1s linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.slider__btn:hover {
	background-color: #FFD500;
	background-image: url("../img/system/icon/h-slider__arrow--hover.svg");
}

.slider__btn--prev1,
.slider__btn--prev2,
.slider__btn--prev3,
.slider__btn--prev4,
.slider__btn--prev5 {
	left: -150px;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.slider__btn--next1,
.slider__btn--next2,
.slider__btn--next3,
.slider__btn--next4,
.slider__btn--next5 {
	right: -150px;
}

@media screen and (max-width: 1111px) {
	.slider__btn--prev1, .slider__btn--prev2, .slider__btn--prev3, .slider__btn--prev4, .slider__btn--prev5 {
		left: -113px;
	}
	.slider__btn--next1, .slider__btn--next2, .slider__btn--next3, .slider__btn--next4, .slider__btn--next5 {
		right: -113px;
	}
}

@media screen and (max-width: 1041px) {
	.slider__btn--prev1, .slider__btn--prev2, .slider__btn--prev3, .slider__btn--prev4, .slider__btn--prev5 {
		left: -97px;
	}
	.slider__btn--next1, .slider__btn--next2, .slider__btn--next3, .slider__btn--next4, .slider__btn--next5 {
		right: -97px;
	}
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
	.section--home-advantages {
		background-color: transparent;
	}
	.home-advantages {
		height: 320px;
		margin-bottom: 20px;
	}
	.slider__info {
		max-width: 200px;
	}
	#home-advantages__slider .slider__label {
		width: 238px;
		height: 308px;
		background-color: #fff;
	}
	#slide1 .slider__icon, #slide2 .slider__icon, #slide3 .slider__icon, #slide4 .slider__icon, #slide5 .slider__icon {
		width: 107px;
		height: 107px;
		margin: 0 auto 15px auto;
		background-size: contain;
	}
	.slider__info h3 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 320px) and (max-width: 830px) {
	.slider__btn {
		width: 105px;
		height: 100%;
		top: 0;
		background-color: transparent;
		/* background-color: tan; */
		background-image: none;
	}
	.slider__btn:hover {
		background-color: transparent;
		
		background-image: none;
	}
}

@media screen and (min-width: 320px) and (max-width: 700px) {
	#s1:checked ~ #slide5,
	#s2:checked ~ #slide1,
	#s3:checked ~ #slide2,
	#s4:checked ~ #slide3,
	#s5:checked ~ #slide4 {
		-webkit-transform: translate3d(-60%, 5%, -100px);
			transform: translate3d(-60%, 5%, -100px);
	}
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	#s3:checked ~ #slide4,
	#s4:checked ~ #slide5,
	#s5:checked ~ #slide1 {
		-webkit-transform: translate3d(60%, 5%, -100px);
			transform: translate3d(60%, 5%, -100px);
	}
	#s1:checked ~ #slide3,
	#s2:checked ~ #slide4,
	#s3:checked ~ #slide5,
	#s4:checked ~ #slide1,
	#s5:checked ~ #slide2 {
		-webkit-transform: translate3d(80%, 10%, -200px);
			transform: translate3d(80%, 10%, -200px);
	}
	#s1:checked ~ #slide4,
	#s2:checked ~ #slide5,
	#s3:checked ~ #slide1,
	#s4:checked ~ #slide2,
	#s5:checked ~ #slide3 {
		-webkit-transform: translate3d(-80%, 10%, -200px);
			transform: translate3d(-80%, 10%, -200px);
	}
}

@media screen and (min-width: 320px) and (max-width: 550px) {
	.slider__info {
		visibility: hidden;
	}
	#s1:checked ~ #slide1 .slider__info,
	#s2:checked ~ #slide2 .slider__info,
	#s3:checked ~ #slide3 .slider__info,
	#s4:checked ~ #slide4 .slider__info,
	#s5:checked ~ #slide5 .slider__info {
		visibility: visible;
	}
	#s1:checked ~ #slide5,
	#s2:checked ~ #slide1,
	#s3:checked ~ #slide2,
	#s4:checked ~ #slide3,
	#s5:checked ~ #slide4 {
		-webkit-transform: translate3d(-30%, 5%, -100px);
			transform: translate3d(-30%, 5%, -100px);
	}
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	#s3:checked ~ #slide4,
	#s4:checked ~ #slide5,
	#s5:checked ~ #slide1 {
		-webkit-transform: translate3d(30%, 5%, -100px);
			transform: translate3d(30%, 5%, -100px);
	}
	#s1:checked ~ #slide3,
	#s2:checked ~ #slide4,
	#s3:checked ~ #slide5,
	#s4:checked ~ #slide1,
	#s5:checked ~ #slide2 {
		-webkit-transform: translate3d(45%, 10%, -200px);
			transform: translate3d(45%, 10%, -200px);
	}
	#s1:checked ~ #slide4,
	#s2:checked ~ #slide5,
	#s3:checked ~ #slide1,
	#s4:checked ~ #slide2,
	#s5:checked ~ #slide3 {
		-webkit-transform: translate3d(-45%, 10%, -200px);
			transform: translate3d(-45%, 10%, -200px);
	}
	.slider__btn--next1, .slider__btn--next2, .slider__btn--next3, .slider__btn--next4, .slider__btn--next5 {
		right: -68px;
		width: 88%;
	}
	.slider__btn--prev1, .slider__btn--prev2, .slider__btn--prev3, .slider__btn--prev4, .slider__btn--prev5 {
		left: -74px;
		width: 88%;
	}
}

@media screen and (min-width: 320px) and (max-width: 420px) {
	#s1:checked ~ #slide5,
	#s2:checked ~ #slide1,
	#s3:checked ~ #slide2,
	#s4:checked ~ #slide3,
	#s5:checked ~ #slide4 {
		visibility: hidden;
		-webkit-transform: translate3d(-25%, 5%, -100px);
			transform: translate3d(-25%, 5%, -100px);
	}
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	#s3:checked ~ #slide4,
	#s4:checked ~ #slide5,
	#s5:checked ~ #slide1 {
		visibility: hidden;
		-webkit-transform: translate3d(25%, 5%, -100px);
			transform: translate3d(25%, 5%, -100px);
	}
	#s1:checked ~ #slide3,
	#s2:checked ~ #slide4,
	#s3:checked ~ #slide5,
	#s4:checked ~ #slide1,
	#s5:checked ~ #slide2 {
		-webkit-transform: translate3d(25%, 10%, -200px);
			transform: translate3d(25%, 10%, -200px);
	}
	#s1:checked ~ #slide4,
	#s2:checked ~ #slide5,
	#s3:checked ~ #slide1,
	#s4:checked ~ #slide2,
	#s5:checked ~ #slide3 {
		-webkit-transform: translate3d(-25%, 10%, -200px);
			transform: translate3d(-25%, 10%, -200px);
	}
	.slider__btn {
		width: 230px;
	}
	.slider__btn--next1, .slider__btn--next2, .slider__btn--next3, .slider__btn--next4, .slider__btn--next5 {
		right: -190px;
	}
}

/* ======================================
//        Slider Партнеры
====================================== */

.home-partners {
	padding-bottom: 80px;
}

.home-partners .become-partner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

.partners-slider {
	max-width: 1035px;
	margin: 0 auto;
}

.partners-slider .slick-prev, .partners-slider .slick-next {
	width: 48px;
	height: 48px;
	background: #fff url("../img/system/icon/h-slider__arrow.svg") no-repeat center center;
}

.partners-slider .slick-prev {
	top: 34%;
	left: -88px;
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.partners-slider .slick-next {
	right: -68px;
	top: 40%;
}

.partners-slider .slick-prev:hover, .partners-slider .slick-prev:focus, .partners-slider .slick-next:hover, .partners-slider .slick-next:focus {
	background: #FFD500 url("../img/system/icon/h-slider__arrow--hover.svg") no-repeat center center;
}

.partners-slider .slick-prev:before, .partners-slider .slick-next:before {
	display: none;
}

.partners-slider .partners-slider__item {
	max-width: 242px;
	height: 249px;
	background-color: #fff;
	margin-right: 22px;
	border: 2px solid transparent;
	margin-bottom: 105px;
	-webkit-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.partners-slider .partners-slider__item:hover {
	border: 2px solid #FFD500;
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
	height: 320px;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.partners-slider .partners-slider__item:hover .partners-slider__info p {
	display: block;
}

.partners-slider .partners-slider__item:hover .partners-slider__info a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.partners-slider .partners-slider__logo {
	width: 100%;
	height: 178px;
}

.partners-slider .partners-slider__logo img {
	display: block;
	max-width: 100%;
	height: 100%;
}

.partners-slider .partners-slider__info {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	padding: 27px 10px 10px 22px;
}

.partners-slider .partners-slider__info h3 {
	font-weight: normal;
	font-size: 20px;
	padding-bottom: 12px;
}

.partners-slider .partners-slider__info p {
	display: none;
	font-size: 12px;
	line-height: 16px;
	color: #999999;
	padding-bottom: 8px;
}

.partners-slider .partners-slider__info a {
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        -webkit-align-items: center;
	            -ms-grid-row-align: center;
	        align-items: center;
	width: 90px;
	height: 32px;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.partners-slider .partners-slider__info a:hover {
	border: 1px solid #FFD500;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

@media screen and (max-width: 1241px) {
	.partners-slider .slick-prev {
		left: -66px;
	}

	.partners-slider .slick-next {
		right: -47px;
	}
}

@media screen and (max-width: 1181px) {
	.partners-slider .slick-prev {
		top: -20%;
		left: auto;
		right: 92px;
	}	
	
	.partners-slider .slick-next {
		top: -13%;
		right: 21px;
	}
}