/* ======================================================
//   Стили для страницы Наші переваги
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__about-group.jpg") no-repeat;
}

/* =================================== */



.home-kpi {
    padding: 40px 0 0 0;
}

.advantages {
    margin-bottom: 40px;
}

.advantages__item {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 20px;
}

.advantages__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

.advantages__info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 13px;
}

.advantages__info p {
    line-height: 21px;
}

.advantages__info p span {
    margin-right: 5px;
    color: #3072C4;
}

.advantages__info li {
    margin: 8px 0;
}

.advantages__more-info {
    margin-top: 20px;
}

.advantages__more-info a {
    color: #3072C4;
}

.advantages__more-info a:hover {
    text-decoration: underline;
}


/* Слайдер Наград */

.awards {
    margin: 50px auto 35px auto;
}

.awards-slider {
	max-width: 1045px;
	margin-top: 30px;
}

.slick-slide {
    margin: 0 15px;
}

.awards-slider .slick-prev, .awards-slider .slick-next {
	width: 48px;
    height: 48px;
    top: 50%;
	background: #fff url("../img/system/icon/h-slider__arrow.svg") no-repeat center center;
}

.awards-slider .slick-prev {
    top: 46%;
	left: -88px;
	transform: rotate(180deg);
}

.awards-slider .slick-next {
	right: -88px;
}

.awards-slider .slick-prev:hover, .awards-slider .slick-prev:focus, .awards-slider .slick-next:hover, .awards-slider .slick-next:focus {
	background: #FFD500 url("../img/system/icon/h-slider__arrow--hover.svg") no-repeat center center;
}

.awards-slider .slick-prev:before, .awards-slider .slick-next:before {
	display: none;
}

.awards-slider__item {
	max-width: 231px;
    height: 220px;
    margin: 15px 0;
	background-color: #fff;
    border: 2px solid transparent;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease-out;
    overflow: hidden;
}

.awards-slider__item:hover {
	border: 2px solid #FFD500;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.awards-slider__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all .5s linear;
}

.awards-slider__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 7px;
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}

.awards-slider__info p, .awards-slider__info h3  {
    font-size: 16px;
    line-height: 20px;
}

.awards-slider__item:hover .awards-slider__info  {
    height: 100%;
    opacity: 1;
    transition: all .5s linear;
}

.awards-slider__item:hover .awards-slider__logo  {
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}


.awards-slider .awards-slider__info a:hover {
	border: 1px solid #FFD500;
	transition: all 0.5s ease-in;
}