/* ======================================================
//   Стили для страницы Про групу компаній «DELIVERY»
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__about-group.jpg") no-repeat;
}

/* =================================== */


.main__container--about-group {
    background: linear-gradient(108.82deg, #F8F8F8 22.34%, #F0F5F9 83.99%);
    height: 490px;
    margin: 50px 0;
}

.about-group__map {
    background: url("../img/system/about-group/map.png") no-repeat center;
    height: 100%;
    flex-direction: column;
}

.map-line {
    width: 100%;
    display: flex;
}

.map-line:first-child {
    margin-top: 103px;
    justify-content: space-between;
}

.map-line:last-child {
    margin-top: 91px;
    justify-content: space-evenly;
}

.map-line__item {
    display: flex;
    align-items: center;
    width: 283px;
    height: 90px;
    background: rgba(231, 238, 246, 0.87);
    border-radius: 5px;
    transition: all .5s ease-in;
}

.map-line__item:hover {
    cursor: default;
    background: linear-gradient(105.51deg, rgba(48, 114, 196, 0.6) 39.14%, rgba(129, 126, 129, 0.6) 98.33%);
    transition: all .5s ease-in;
}

.map-line__item:hover p {
    color: #fff;
}

.map-line__item img {
    margin: 0 21px;
}

.map-line__item p {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #333333
}

.about-group__description {
    margin-bottom: 17px;
}

.group-item__header {
    display: flex;
    margin-bottom: 30px;
}

.about-group__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 283px;
    height: 92px;
    margin-right: 30px;
}

/* delAuto */
.about-group__logo--delauto {
    background-color: #FDCC09;
}

.about-group__logo--delauto img {
    width: 240px;
}

/* deltruck */
.about-group__logo--deltruck {
    background-color: #EAEAEA;
}

.about-group__logo--deltruck img {
    width: 175px;
}

/* del International */
.about-group__logo--del-inter {
    background-color: #33638C;
}

.about-group__logo--del-inter img {
    width: 227px;
}

/* Kvorum */
.about-group__logo--kvorum {
    background-color: #6BAA38;
}

.about-group__logo--kvorum img {
    width: 185px;
}

.group-item {
    margin-top: 35px;
}

.group-item__info h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 15px;
}

.group-item__info p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
}

.group-item__info a {
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #3072C4;
}

.group-item__text p {
    margin-bottom: 18px;
}

/* Читать больше кнопка  */
.group-item__know-more {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.group-item__hide-block {
    display: none;
}

.group-item__know-more:hover {
    cursor: pointer;
    color: #3072C4;
}

.group-item__know-more:hover p {
    color: #3072C4;
}

.group-item__know-more p {
    font-weight: 600;
    margin-right: 7px;
    margin-bottom: 0;
}

.group-item__know-more img {
    width: 17px;
}

.know-more--show {
    display: block;
}

.about-group {
    margin-bottom: 45px;
}

.about-group__boss-card {
    margin-top: 45px;
}

.boss-card {
    display: flex;
}

.boss-card__item {
    margin: 20px 30px 50px 0;
    width: 283px;
    transition: all 0.3s ease-in;
}

.boss-card__item:last-child {
    margin-right: 0;
}

.boss-card__item img {
    width: 100%;
    border: 1px solid transparent;
    filter: grayscale(100%);
}

.boss-card__item:hover img {
    border: 1px solid #ffd500;
    filter: grayscale(0%);
    transition: all 0.3s ease-in;
}

.boss-card__item img:hover ~ h3 {
    color: #3072C4;
    transition: all 0.3s ease-in;
}

.boss-card__item h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-left: 32px;
    padding-bottom: 15px;
    transition: all 0.3s ease-in;
}

.boss-card__item p {
    font-size: 15px;
    padding-left: 32px;
}