/* ===============================================
//   Стили для страницы Робота і кар’єра
================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__job.jpg") no-repeat;
}

/* =================================== */


.job-form__title {
    margin-bottom: 30px;
}

.job-form__description {
    margin-bottom: 20px;
}

.vacancy-info {
    margin-bottom: 50px;
}

.vacancy-info__title {
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 32px;
    color: #333333;
}

.vacancy-info__date {
    display: flex;
    align-items: center;
}

.vacancy-info__date img {
    margin-right: 7px;
    width: 12px;
    height: 12px;
}

.vacancy-info__date time {
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #ffd500;
}

.vacancy-info__sub-title {
    font-size: 16px;
    line-height: 20px;
}

.vacancy-info__list {
    list-style-type: "•";
    padding-left: 7px;
}

.vacancy-info__list li {
    padding-left: 5px;
}

.vacancy-info__date,
.vacancy-info__sub-title,
.vacancy-info__list li {
    margin-bottom: 25px;
}

/* Форма */
.job-form {
    margin: 20px 0 45px 0;
    width: 805px;
}
.job-form__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.job-form__input--large, .job-form__item--large {
    width: 100%;
}

.job-form__input--small, .job-form__item--small {
    width: 258px;
}

.job-form__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-form__item--size {
    width: 387px;
}

.job-form__textarea {
    min-height: 52px;
    max-height: 300px;
    min-width: 100%;
}

.job-form__textarea--large {
    min-height: 85px;
}

.job-form__required-input {
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}

.job-form__btn {
    margin-top: 35px;
}

