/* ===============================================
//   Стили для страницы Робота і кар’єра
================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__job.jpg") no-repeat;
}

/* =================================== */


.job-form__title {
    margin-bottom: 30px;
}

.job-form__description {
    margin-bottom: 20px;
}

.job-city {
    margin-bottom: 40px;
}

.job-city__item {
    margin-top: 20px;
    width: max-content;
}

.job-city__item summary {
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
    cursor: pointer;
    width: max-content;
}

.job-city__list-vacancy {
    padding-top: 25px;
}

.job-city__vacancy {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 10px;
}

.job-city__vacancy:hover {
    color: #3072C4;
}

.job-city__vacancy span {
    color: #808080;
}

/* Форма */
.job-form {
    margin: 20px 0 45px 0;
    width: 805px;
}
.job-form__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.job-form__input--large, .job-form__item--large {
    width: 100%;
}

.job-form__input--small, .job-form__item--small {
    width: 258px;
}

.job-form__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-form__item--size {
    width: 387px;
}

.job-form__textarea {
    min-height: 52px;
    max-height: 300px;
    min-width: 100%;
}

.job-form__textarea--large {
    min-height: 85px;
}

.job-form__required-input {
    font-size: 12px;
    line-height: 20px;
    color: #808080;
}

.job-form__btn {
    margin-top: 35px;
}

@media (max-width: 1024px) {
    .job-city {
        margin-bottom: 20px;
    }
    .job-city__item {
        width: 100%;
        margin-top: 15px;
    }
    .job-city__item summary {
        font-size: 18px;
    }
    .job-city__item[open] summary {
        color: #3072C4;
    }
    .job-city__list-vacancy {
        padding-top: 15px;
    }
    .job-city__vacancy span {
        display: block;
    }
    .job-city__vacancy {
        font-size: 15px;
        border-top: 1px solid #ffd500;
        padding-top: 15px;
        margin-bottom: 15px;
    }
    .job-city__vacancy:last-child {
        border-bottom: 1px solid #ffd500;
        padding-bottom: 15px;
    }
    .job-form__title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px;
    }
    .job-form {
        margin-bottom: 20px;
    }
}

@media (max-width: 960px) {
    .job-form__input--large, .job-form__item--large {
        max-width: 387px;
    }
    .job-form__line {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .job-form__item {
        margin-bottom: 25px;
        width: 100%;
    }
    .job-form__input--small, .job-form__item--small {
        max-width: 387px;
        width: 100%;
    }
}
@media (max-width: 430px) {
    .job-form {
        max-width: 100%;
    }
}