/* ===============================================
//   Стили для страницы Индексы
================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__kpi.jpg") no-repeat;
}



@font-face {
    font-family: BebasNeueBold; 
    src: url("../fonts/BebasNeueBold.otf"); 
}
@font-face {
    font-family: DINProBold; 
    src: url("../fonts/DINProBold.otf"); 
}
@font-face {
    font-family: HeliosCondLightNormal; 
    src: url("../fonts/OpenSansCondLight.ttf"); 
}
@font-face {
    font-family: GothaProMed; 
    src: url("../fonts/GothaProMed.otf"); 
}
@font-face {
    font-family: RobotoRegular; 
    src: url("../fonts/RobotoRegular.ttf"); 
}
@font-face {
    font-family: GothaProLig; 
    src: url("../fonts/GothaProLig.otf"); 
}


@keyframes rotateCircleDiagram {
    0% {
    transform: rotate(180deg);
    }
    100% {
    }
}

.kpi {
    display: flex;
    justify-content: center;
}

.kpi__inner {
    display: flex;
}

.pie {
    width: 191px;
    height: 191px;
    border-radius: 50%;
    background: #ffcf00;
    background-image: linear-gradient(to right, #afafaf 50%, transparent 0);
    position: absolute;
}

.pie>span {
    content: '»';
    color:transparent;
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    animation: 1s ease-out 0s 1 rotateCircleDiagram;
}

.pie > div {
    width: 161px;
    height: 161px;
    border-radius: 50%;
    background: white;
    top:15px;
    left:15px;
    position:absolute;
    font-family:Arial;
}

@keyframes diagramRise {
    0% {
    height:0px;
    }
    100% {
    }
}



.block {
    background-position:0% 0%;
    background-repeat:no-repeat;
    position:relative;
    margin-bottom: 12px;
}

.block1{
    width:491px;
    height:437px;
    background-image:url("../img/system/kpi/block1-bg.jpg");
}

.block2{
    width:488px;
    height:437px;
    background-image:url("../img/system/kpi/block2-bg.jpg");
}

.block3{
    width:491px;
    height:301px;
    background-image:url("../img/system/kpi/block3-bg.jpg");
}

.block4{
    width:488px;
    height:419px;
    background-image:url("../img/system/kpi/block4-bg.jpg");
}

.block5{
    width:491px;
    height:370px;
    background-image:url("../img/system/kpi/block5-bg.jpg");
}

.block6{
    width:488px;
    height:255px;
    background-image:url("../img/system/kpi/block6-bg.png");
}

.small_padding{
    padding-left:11px;
}

div.block_title,
label.block_title{
    font-size: 20px;
    text-align: center;
    position: absolute;
    color: #6e6e6e;
    font-family: GothaProMed, Arial;
}

div.block_title{
    text-align: left;
    width: 280px;
}

div.block_title > label {
    margin-bottom:0px;
}

.values{
    font-size:59px;
    font-weight:normal;
    color: #5f5f5f;
    vertical-align:bottom;
    line-height:58px;
    font-family: BebasNeueBold, Arial;
}

.persent{
    font-size:31px;
    font-weight:normal;
    color: #5f5f5f;
    vertical-align:bottom;
    line-height: 48px;
    font-family: DINProBold, Arial;
}

.text_center{
    width:100%;
    text-align:center;
}

.text_absolute{
    position:absolute;
    left:0px;
}

.delta{
    vertical-align:bottom;
    padding-top: 22px;
    font-size: 22px;
    font-family:Arial;
    font-weight:bold;
}

.delta > span{
    width:20px;
    height:7px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    display:inline-block;
}

.delta.right_align{
    float:right;
}

.delta.green{
    color:#36c154;
}

.delta.red{
    color:#ff0404;
}

.delta.green.up > span{
    background-image:url("../img/system/kpi/kpi__arrow-green.png");
    transform:rotate(180deg);
}

.delta.green.down > span{
    background-image:url("../img/system/kpi/kpi__arrow-green.png");
}

.delta.red.up > span{
    background-image:url("../img/system/kpi/kpi__arrow-red.png");
}

.delta.red.down > span{
    background-image:url("../img/system/kpi/kpi__arrow-red.png");
    transform:rotate(180deg);
}

.enjoy_line{
    height: 100px;
    width: 397px;
    background-color: #ffcf00;
    position: absolute;
    top: 80px;
    left: 46px;
}

.diagram{
    position:absolute;
    bottom:40px;
    left:50px;
    border-bottom:1px solid #b0aeb3;
    width:396px;
}

.diagram_box{
    background-color: #ffcf00;
    width: 56px;
    display: inline-block;
    height: 140px;
    min-height:70px;
    position:absolute;
    bottom:0px;
    animation: 0.6s ease-out 0s 1 diagramRise;
}

.diagram > .diagram_box:last-child{
    margin-right:0px;
}

.diagram_box > label:first-child{
    color: white;
    position: absolute;
    width: 100%;
    top: 2px;
    left: 0px;
    text-align: center;
    font-size: 38px;
    font-weight: normal;
    line-height: 42px;
    font-family: RobotoRegular, Arial;
}

.diagram_box > label:last-child{
    color:black;
    position:absolute;
    width:100%;
    bottom:0%;
    left:0px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    color: #606060;
    font-family: GothaProLig, Arial;
}

.simple_icon{
    background-image:url("../img/system/kpi/kpi__home-icon.png");
    width:40px;
    height:40px;
    position:absolute;
    background-position:50% 50%;
    background-repeat:no-repeat;
    top: 4px;
    left: 61px;
}

.simple_icon.door{
    background-image:url("../img/system/kpi/kpi__point-icon.png");
}

.pool{
    position:absolute;
    left:0px;
    top:100px;
    width:100%;
    background-position:50% 0px;
    height:50px;
    background-repeat:no-repeat;
    background-image:url("../img/system/kpi/kpi__bg2--pool.png");
}

.title_in_oval{
    position: absolute;
    top: 108px;
    left: 261px;
    width: 160px;
    font-weight: normal;
    text-align: left;
    font-size: 27px;
    line-height: 28px;
    font-family: HeliosCondLightNormal, Arial;
}

.trapezoid {
    border-bottom: 32px solid #ffcf00;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    height: 0;
    width: 19px;
    position: absolute;
    top: 88px;
    left: 232px;
    transform: rotate(180deg);
}

.two_row_label{
    font-family: GothaProMed, Arial;
    color:#5d686c;
}

.info_button{
    width:31px;
    height:31px;
    display:block;
    background-image:url("../img/system/kpi/kpi__info-btn.svg");
    background-position:50% 50%;
    background-repeat:no-repeat;
    position:absolute;
    top: 0;
    right: 0;
    cursor:pointer;
}

.info_button:hover {
    background-image:url("../img/system/kpi/kpi__info-btn--yellow.svg");
}

.help_panel{
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-family: Arial;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in;
}

.help_panel p {
    color: #fff;
}

.help_panel > div:first-child{
    width:100%;
    padding: 17px 30px;
    color:#333333;
    background-color:#ffcf00;
}

.help_panel > div:last-child{
    width:100%;
    padding: 17px 30px;
    color:white;
    background-color:#5f5f5f;
}

.small_description_label {
    font-size: 13px;
    font-weight: normal;
    line-height: 31px;
    position: absolute;
    top: 66px;
    left: 0px;
}

.value_with_label {
    font-size: 53px;
    line-height: 51px;
}

.delta.upper {
    padding-top: 11px;
}






.help-hide {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in;
}

.help-show {
    visibility: visible;
    opacity: 1;
    transition: all .5s ease-in;
} 


@media (max-width: 1024px) {
    .kpi__inner {
        flex-direction: column;
    }
    .small_padding {
        padding-left: 0;
    }
}

@media (max-width: 525px) {
    .kpi__inner {
        transform: scale(.8);
        margin-top: -225px;
        margin-bottom: -225px;
    }
}

@media (max-width: 415px) {
    .kpi__inner {
        transform: scale(.7);
        margin-top: -340px;
        margin-bottom: -340px;
    }
}

@media (max-width: 370px) {
    .kpi__inner {
        transform: scale(.6);
        margin-top: -455px;
        margin-bottom: -455px;
    }
}