/* ===============================================
//   Стили для страницы Партнери Delivery Group
================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__partners.jpg") no-repeat;
}

.partners {
    display: flex;
    width: 100%;
}

.partners__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
    width: max-content;
}

.partners__main {
    margin-left: 30px;
}

/* Навигация по галузям */
.nav-area__item {
    padding: 4px 0;
}

.nav-area__item a {
	display: block;
	padding: 5px 20px;
	cursor: pointer;
    height: 35px;
    width: 300px;
    background: url("../img/system/icon/partners__arrow--grey.svg") no-repeat 96%;
    border-bottom: 1px solid #DADADA;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.nav-area__item a:hover {
    color: #3072C4;
    background: url("../img/system/icon/partners__arrow.svg") no-repeat 96%;
}


.nav-area__item a.nav-area__active {
    color: #3072C4;
    background: url("../img/system/icon/partners__arrow.svg") no-repeat 96%;
}

/* Главный блок Преймущества партнеров */

.partners__advantages h3 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
}

.partners__advantages p {
    margin-bottom: 20px;
}

.partners__offers {
    margin-top: 35px;
}

.partners__offers li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.partners__offers h4 {
    min-width: 258px;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.partners__offers p {
    margin-bottom: 0;
    max-width: 545px;
    font-size: 15px;
    line-height: 21px;
}

/* Как стать партнером */
.become-partner {
    margin-top: 50px;
}

.become-partner h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.become-partner p {
    margin-bottom: 24px;
}

.become-partner__btn-group {
    display: flex;
}

.become-partner__btn {
    font-size: 16px;
    line-height: 20px;
}

.become-partner__btn:first-child {
    margin-right: 30px;
}

.become-partner__btn--white {
    background-color: #fff;
    border: 1px solid #666666;
}
/* Конец Преймуществ партнеров */






.partners__about-area {
    margin-left: 30px;
}

.about-area__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 22px;
}

/* Лидеры Галузи */
.leaders {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.leaders__item {
    width: 272px;
    height: 170px;
    margin: 15px 0;
	background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease-out;
    overflow: hidden;
    margin-right: 30px;
}

.leaders__item:last-child {
    margin-right: 0;
}

.leaders__item:hover {
	border: 1px solid #FFD500;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.leaders__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all .5s linear;
}

.leaders__logo img {
    width: 100%;
}

.leaders__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    padding: 0 7px;
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}

.leaders__info h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.leaders__info p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 25px;
}

.leaders__info a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
}

.leaders__item:hover .leaders__info  {
    height: 100%;
    opacity: 1;
    transition: all .5s linear;
}

.leaders__item:hover .leaders__logo  {
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}

.leaders .leaders__info a:hover {
	border: 1px solid #FFD500;
	transition: all 0.5s ease-in;
}




.leaders--small {
    display: flex;
    flex-wrap: wrap;
}

.leaders__item--small {
    width: 179px;
    height: 114px;
}


.leaders__info--small {
    margin-left: 18px;
}

.leaders__info--small h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}

.leaders__info--small p {
    margin-bottom: 6px;
}

.leaders__info--small a {
    font-size: 14px;
}

.leaders__info--small a:hover {
    border: 1px solid #ffd500;
}





