/* ===============================================
//   Стили для страницы Партнери Delivery Group
================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__partners.jpg") no-repeat;
}


.partners__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
    width: max-content;
}


.partners__area {
    width: 100%;
    height: 680px;
    position: relative;
}

.area {
	display: flex;
    padding: 4px 0;
    width: max-content;
}

.area__input {
	display: none;
}

.area__label {
	display: block;
	padding: 5px 20px;
	cursor: pointer;
	height: auto;
	min-height: 35px;
    width: 300px;
    background: url("../img/system/icon/partners__arrow--grey.svg") no-repeat;
    background-position: 96%;
    border-bottom: 1px solid #DADADA;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.area__input:checked + .area__label {
    position: relative;
    color: #3072C4;
    background: url("../img/system/icon/partners__arrow.svg") no-repeat;
    background-position: 96%;
}

.area__answer {
	display: none;
	position: absolute;
	top: 0;
	left: 340px;
	padding: 5px 10px;
	height: 100%;
	overflow-y: scroll;
    -ms-overflow-style: none;
    background-color: #fff;
}





.area__answer::-webkit-scrollbar {
	width: 0;
}

.area__answer .answer__text {
	margin-bottom: 20px;
}

.area__answer .answer__text:last-child {
	margin-bottom: 0;
}

.area__answer .answer__title {
	font-weight: normal;
	margin-bottom: 33px;
}

.area__input:nth-of-type(1) ~ .area__answer:nth-of-type(1) {
	display: none;
}

.area__input:nth-of-type(1):checked ~ .area__answer:nth-of-type(1) {
	display: block;
}




.partners__advantages {
    display: block;
	position: absolute;
	top: 0;
	left: 340px;
    height: 100%;
    overflow: hidden;
    padding: 0;

    width: 100%;
    max-width: 910px;
}

.partners__advantages h3 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
}

.partners__advantages p {
    margin-bottom: 20px;
}

.partners__offers {
    margin-top: 35px;
}

.partners__offers li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.partners__offers h4 {
    min-width: 258px;
}

.partners__offers p {
    margin-bottom: 0;
}










.become-partner {
    margin-top: 20px;
}

.become-partner h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.become-partner p {
    margin-bottom: 24px;
}

.become-partner__btn-group {
    display: flex;
}

.become-partner__btn {
    font-size: 16px;
    line-height: 20px;
}

.become-partner__btn:first-child {
    margin-right: 30px;
}

.become-partner__btn--white {
    background-color: #fff;
    border: 1px solid #666666;
}











.leaders {
    display: flex;
    flex-wrap: wrap;
}

.leaders__item {
    max-width: 283px;
    width: 100%;
    height: 180px;
    margin: 15px 0;
	background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.08);
    transition: all 0.5s ease-out;
    overflow: hidden;
    margin-right: 30px;
}

.leaders__item:last-child {
    margin-right: 0;
}

.leaders__item:hover {
	border: 1px solid #FFD500;
	cursor: pointer;
	transition: all 0.5s ease-out;
}

.leaders__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all .5s linear;
}

.leaders__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    padding: 0 7px;
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}

.leaders__info h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.leaders__info p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 25px;
}

.leaders__info a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
}

.leaders__item:hover .leaders__info  {
    height: 100%;
    opacity: 1;
    transition: all .5s linear;
}

.leaders__item:hover .leaders__logo  {
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}

.leaders .leaders__info a:hover {
	border: 1px solid #FFD500;
	transition: all 0.5s ease-in;
}




/* .leaders-small {
    display: flex;
    flex-wrap: wrap;
}

.leaders__item--small {
    max-width: 179px;
    height: 114px;
}


.leaders__info--small {
    margin-left: 18px;
}

.leaders__info h5 {
    font-size: 16px;
    line-height: 24px;
}

.leaders__info p {
    margin-bottom: 25px;
}

.leaders__info a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
}

.leaders-small__item:hover .leaders-small__info  {
    height: 100%;
    opacity: 1;
    transition: all .5s linear;
}

.leaders-small__item:hover .leaders-small__logo  {
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}

.leaders-small .leaders-small__info a:hover {
	border: 1px solid #FFD500;
	transition: all 0.5s ease-in;
} */