/* ===============================================
//   Стили для страницы Партнери Delivery Group
================================================== */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__partners.jpg") no-repeat;
}

.partners {
    display: flex;
    width: 100%;
}

.partners__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 30px;
    width: max-content;
}

.partners__main {
    margin-left: 30px;
}

/* Навигация по галузям */
.nav-area__item {
    padding: 4px 0;
}

.nav-area__item a {
	display: block;
	padding: 5px 20px;
	cursor: pointer;
    height: 35px;
    width: 300px;
    background: url("../img/system/icon/partners__arrow--grey.svg") no-repeat 96%;
    border-bottom: 1px solid #DADADA;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
}

.nav-area__item a:hover {
    color: #3072C4;;
}

.nav-area__item a.nav-area__active {
    color: #3072C4;
    background: url("../img/system/icon/partners__arrow.svg") no-repeat 96%;
}

/* Главный блок Преймущества партнеров */

.partners__advantages h3 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
}

.partners__advantages p {
    margin-bottom: 20px;
}

.partners__offers {
    margin-top: 35px;
}

.partners__offers li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.partners__offers h4 {
    min-width: 258px;
    font-weight: 600;
    font-size: 24px;
    line-height: 20px;
}

.partners__offers p {
    margin-bottom: 0;
    max-width: 545px;
    font-size: 15px;
    line-height: 21px;
}

/* Как стать партнером */
.become-partner {
    margin-top: 50px;
}

.become-partner h2 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.become-partner p {
    margin-bottom: 24px;
}

.become-partner__btn-group {
    display: flex;
}

.become-partner__btn--white {
    margin-left: 30px;
    background-color: #fff;
    border: 1px solid #666666;
}
/* Конец Преймуществ партнеров */

.partners__about-area {
    margin-left: 30px;
}

.about-area__title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 22px;
}

/* Лидеры Галузи */
.leaders {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.leaders__item {
    width: 272px;
    height: 170px;
    margin: 15px 0;
	background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1), 0px 1px 1px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-out;
    overflow: hidden;
    margin-right: 25px;
}

.leaders__item:last-child {
    margin-right: 0;
}

.leaders__item:hover {
	border: 1px solid #FFD500;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.leaders__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all .3s linear;
}

.leaders__logo img {
    width: 100%;
}

.leaders__info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    padding: 0 7px;
    height: 0;
    opacity: 0;
    transition: all .3s linear;
}

.leaders__info h5 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 15px;
}

.leaders__info p {
    font-size: 12px;
    color: #999999;
    margin-bottom: 25px;
}

.leaders__info .leaders__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #d9d9d9;
}

.leaders__item:hover .leaders__info  {
    height: 100%;
    opacity: 1;
    transition: all .5s linear;
}

.leaders__item:hover .leaders__logo  {
    height: 0;
    opacity: 0;
    transition: all .5s linear;
}

.leaders .leaders__info a:hover {
	border: 1px solid #FFD500;
	transition: all 0.4s ease-in;
}

.leaders--small {
    display: flex;
    flex-wrap: wrap;
}

.leaders__item--small {
    width: 179px;
    height: 114px;
}

.leaders__info--small {
    margin-left: 18px;
}

.leaders__info--small h5 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
}

.leaders__info--small p {
    margin-bottom: 6px;
}

.leaders__info--small .leaders__link {
    font-size: 14px;
}

.leaders__info--small .leaders__link:hover {
    border: 1px solid #ffd500;
}

.partners__mob-title {
    display: none;
    align-items: center;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    height: 50px;
    background-color: #F0F5F9;
    border-radius: 5px;
    padding-left: 10px;
    position: relative;
}

.partners__mob-title:after {
	content: " ";
	position: absolute;
    right: 10px;
    top: 10px;
	width: 30px;
	height: 30px;
    background: #ffd500 url("../img/system/icon/tabs-icon--close.svg") no-repeat center;
    background-size: 10px;
	border-radius: 50px;
	transform-origin: center;
    transition: transform .2s linear;
    transform: rotate(0deg);
}

#show-area {
    display: none;
}

#show-area:checked ~ .nav-area__list {
    display: block;
}

#show-area:checked ~ .partners__mob-title {
    margin-bottom: 0;
}

#show-area:checked ~ .partners__mob-title:after {
    transform: rotate(90deg);
	background: #fff url("../img/system/icon/tabs-icon--open.svg") no-repeat center;
    background-size: 10px;
    transition: transform .5s linear;
}

.partners__click-desc {
    display: none;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #3072C4;
}

.partners__click-desc img {
    width: 15px;
    margin: 2px 0 0 8px;
}

.about-area__sub-title, .leaders__link--mob {
    display: none;
}

@media (max-width: 1024px) {
    .partners__show-desc {
        display: none;
    }
    .partners__click-desc  {
        display: flex;
    }
    .partners__active {
        display: block;
    }
    .partners__hide {
        display: none;
    }
    .partners {
        flex-direction: column;
    }
    .partners__mob-title {
        display: flex;
    }
    .nav-area__list {
        display: none;
    }
    .partners__title {
        display: none;
    }
    .partners__main {
        margin: 20px 0 0;
    }
    .partners__advantages h3, .become-partner h2 {
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 10px;
    }
    .partners__advantages p {
        margin-bottom: 10px;
    }
    .partners__offers h4 {
        min-width: 210px;
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
    }
    .partners__offers {
        margin-top: 20px;
    }
    .become-partner {
        margin-top: 30px;
    }
    .become-partner p {
        margin-bottom: 12px;
    }
    .become-partner__btn-group {
        margin-top: 8px;
    }
    .nav-area__item a {
        padding: 12px 0;
        height: auto;
        width: 100%;
        font-size: 15px;
        line-height: 20px;
        background: none;
        border-bottom: 2px solid #F0F5F9;
    }
    .nav-area__item::after {
        content: "+";
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: #ffd500;
    }
    .nav-area__item {
        padding: 0;
        position: relative;
    }
    .partners__nav {
        max-width: 390px;
    }
    .about-area__title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .partners__about-area {
        margin: 20px 0 0;
    }
    .nav-area__item a.nav-area__active {
        color: #3072C4;
        background: none;
    }
    .about-area__sub-title {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .hide-on-mob {
        display: none;
    }
    .leaders__item {
        width: 280px;
        height: 160px;
        margin: 5px;
    }
    .leaders__item--small {
        width: 135px;
        height: 85px;
    }
    .leaders {
        margin: 20px 0 30px;
        justify-content: space-evenly;
    }
    .leaders--small {
        justify-content: space-evenly;
    }
    .leaders__item:last-child {
        margin: 5px;
    }
    .leaders__info h5 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .leaders__info p {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 10px;
    }
    .leaders__info--small .leaders__link, .leaders__info--small p {
        display: none;
    }
    .leaders__info--small .leaders__link--mob {
        display: block !important;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 0;
        border: none;
        padding: 0;
        color: #999;
    }
    .leaders__info--small .leaders__link:hover {
        border: none;
    }
    .leaders__info--small {
        margin-left: 0px;
    }
}

@media (max-width: 600px) {
    .partners__offers li {
        flex-direction: column;
        align-items: baseline;
    }
}

@media (max-width: 400px) {
    .become-partner__btn-group {
        flex-direction: column;
    }
    .become-partner__btn--white {
        margin: 20px 0 0;
    }
    .become-partner__btn-group .main-btn {
        min-width: 157px;
    }
}