/* ======================================================
//   Стили для страницы Центр обслуговування клієнтів
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__service-center.jpg") no-repeat;
}

/* =================================== */


.service-center__description {
    margin-bottom: 50px;
}

.service-center__title {
    margin-bottom: 25px;
}

.service-center__description p {
    margin-bottom: 15px;
}

.advantages-service {
    margin-top: 50px;
}

.advantages-service__inner {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.advantages-service__col {
    margin: 30px 30px 0 0;
}

.advantages-service__col:last-child {
    margin-right: 0;
}

.advantages-service__photo {
    max-width: 385px;
    max-height: 273px;
}

.advantages-service__photo img {
    display: block;
    width: 100%;
    height: auto;
}

.advantages-service__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 33px;
}

.advantages-service__item:last-child {
    margin-bottom: 0;
}

.advantages-service__info {
    width: 295px;
    padding-left: 20px;
    margin-left: 9px;
    border-left: 2px solid #fff;
}

.advantages-service__icon {
    width: 50px;
    height: 50px;
}

/* Найближчі заходи  */
.meeting {
    padding-top: 50px;
}

.meeting__item {
    display: flex;
    margin-top: 30px;
}

.meeting__img {
    max-width: 283px;
    width: 100%;
}

.meeting__img img {
    display: block;
    width: 100%;
    height: auto;
}

.meeting__date {
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin-bottom: 15px;
}

.meeting__date img {
    width: 16px;
    height: 15px;
    margin-right: 9px;
}

.meeting__date p {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #ffd500;
}

.meeting__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.meeting__info h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 15px;
}

.meeting__info p {
    font-size: 15px;
    line-height: 20px;
}

.meeting__btn {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-top: 20px;
}

/* організувати захід */
.create-event  {
    margin-top: 100px;
}

.create-event h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 32px;
}

.create-event p {
    font-size: 15px;
    margin-bottom: 32px;
}

.create-event__btn {
    display: flex;
}

.create-event__btn a:first-child {
    margin-right: 30px;
}

.create-event__btn a {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.create-event__btn a:last-child {
    border: 1px solid #808080;
    background-color: transparent;
}

.create-event__btn a:hover:last-child {
    border: 1px solid #FFD500;
    background-color: #F0F5F9;
    color: #000;
}

.service-office {
    width: 100%;
    margin-top: 110px;
}

.service-office h2 {
    margin-bottom: 32px;
}

.service-office p {
    margin-bottom: 25px;
}

.service-office__map {
    max-width: 1222px;
    width: 100%;
    height: 340px;
    margin-top: 20px;
}

.service-office__map iframe {
    display: block;
    border: 0;
    width: 100%;
    height: 100%;
}

.service-center__click-desc,
.advantages-service__click-desc {
    display: none;
    align-items: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #3072C4;
}

.service-center__click-desc img,
.advantages-service__click-desc img {
    width: 15px;
    margin: 2px 0 0 8px;
}

@media (max-width: 1024px) {
    .service-center__show-desc,
    .advantages-service__show-desc,
    .advantages-service__show-desc--flex {
        display: none;
    }
    .service-center__click-desc,
    .advantages-service__click-desc   {
        display: flex;
        margin-bottom: 20px;
    }
    .block__active {
        display: block;
    }
    .block__active--flex {
        display: flex;
    }
    .block__hide {
        display: none;
    }
    .service-center__description {
        margin-bottom: 20px;
    }
    .service-center__title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin: 20px 0 10px 0;
    }
    .advantages-service {
        margin-top: 0;
        width: 100%;
    }
    .advantages-service .service-center__title {
        margin-bottom: 0;
    }
    .advantages-service__col {
        margin: 20px 20px 0 0;
    }
    .advantages-service__col:first-child .advantages-service__item {
        margin-bottom: 0;
    }
    .advantages-service__inner {
        margin-bottom: 20px;
    }
    .advantages-service__photo {
        display: none;
    }
    .advantages-service__item {
        margin-bottom: 20px;
    }
    .advantages-service__info {
        width: 100%;
        padding-left: 0;
        margin-left: 10px;
        border-left: none;
    }
    .meeting {
        padding-top: 0;
    }
    .meeting__item {
        margin: 5px 0 40px 0;
        flex-direction: column;
        align-items: baseline;
    }
    .meeting__info {
        margin: 20px 0 0;
    }
    .meeting__info h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .p-event__date {
        margin-bottom: 10px;
    }
    .create-event {
        margin-top: 40px;
    }
    .create-event h2 {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .create-event p {
        margin-bottom: 10px;
    }
    .create-event__btn {
        margin-top: 20px;
    }
    .create-event__btn .meeting__btn {
        margin-top: 0;
    }
    .create-event__btn .meeting__btn {
        text-align: center;
    }
    .create-event__btn a:first-child {
        margin-right: 10px;
    }
    .service-office {
        margin-top: 40px;
    }
    .service-office h2 {
        margin-bottom: 10px;
    }
    .service-office p {
        margin-bottom: 10px;
    }
}

