/*-------------------------------------------------------------
		Project:        DelTruck
		Author:         Anton Shaposhnikov
		Telegram:		https://t.me/hesoyam_666
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%; }

body {
  width: 100%;
  overflow: hidden;
  font-family: 'Segoe UI';
  background-color: #fff;
  color: #303030;
  font-style: normal; }

@media screen and (max-width: 990px) {
  body {
    width: 100vh; } }

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

input:invalid {
  border-color: red !important; }

textarea, input, select {
  -webkit-appearance: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none; }

[type="checkbox"], [type="radio"] {
  -webkit-appearance: checkbox; }

:active, :focus {
  outline: none; }

a, a:focus, a:hover, a:active {
  outline: 0;
  color: inherit;
  text-decoration: none; }

option,
option:hover,
option:focus {
  border: none;
  outline: none;
  box-shadow: none;
  color: #333;
  font-size: 1.4667vh; }

p {
  font-family: 'Segoe UI';
  font-size: 16px;
  line-height: 20px;
  color: #333; }

h1, h2, h3, h4, h5 {
  color: #333; }

.in-dev {
  padding-top: 10vh;
  padding-bottom: 30px;
  text-align: center; }
  .in-dev h1 {
    font-size: 5vh;
    text-transform: uppercase; }
  .in-dev a {
    margin-top: 50px;
    font-size: 3vh;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #6e6e6e;
    border-radius: 5px; }
    .in-dev a:hover {
      border-color: #FFD500; }

.section--grey {
  background-color: #F8F8F8; }

.container {
  max-width: 1222px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px; }
  .container--nav {
    display: flex;
    justify-content: space-between; }

.home-heading {
  display: flex;
  justify-content: space-between;
  padding: 55px 0 27px 0; }
  .home-heading__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px; }
  .home-heading__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px; }
    .home-heading__link:hover {
      opacity: .6; }
    .home-heading__link img {
      margin-left: 14px;
      width: 18px; }

.main-navigation {
  height: 64px;
  width: 100%;
  background-color: #FFD500; }

.nav {
  width: max-content;
  height: 100%; }
  .nav__ul {
    display: flex;
    height: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none; }
  .nav__li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9999;
    padding: 0 20px;
    text-decoration: none;
    transition: all 0.2s;
    cursor: pointer; }
  .nav__li:hover {
    background-color: #fff;
    cursor: pointer; }
  .nav__title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #303030; }
  .nav__li:hover .nav__title {
    color: #333; }
  .nav .drop__ul {
    position: absolute;
    top: 64px;
    left: 0;
    background-color: #E6E6E6;
    min-width: 220px;
    padding: 0;
    box-shadow: none;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s; }
  .nav .drop__li {
    height: 50px;
    background-color: #FFD500; }
  .nav .drop__li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    height: 100%;
    width: 100%;
    text-transform: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px; }
  .nav .drop__li:hover a {
    color: #333; }
  .nav .drop__li:hover {
    background-color: #fff; }
  .nav .nav__ul .nav__li:hover .drop__ul {
    display: block;
    opacity: 1;
    visibility: visible;
    list-style-type: none; }

.nav-numbers {
  display: flex; }
  .nav-numbers__item {
    display: flex;
    align-items: center;
    margin-right: 30px; }
    .nav-numbers__item:last-child {
      margin-right: 0; }
    .nav-numbers__item img {
      margin-right: 6px;
      height: 12px; }

.container--slider {
  max-width: 1345px;
  margin: 0 auto; }

.slider img {
  width: 1345px;
  margin: 0 auto;
  position: relative; }

.slider {
  margin-bottom: 0 !important;
  height: 461px; }

.slider .slick-dots {
  display: flex !important;
  justify-content: flex-end !important;
  flex-direction: column;
  position: relative !important;
  bottom: 280px !important;
  height: max-content;
  max-width: 1340px;
  width: max-content;
  margin: 0 0 0 auto;
  right: 0; }

.slider .slick-dots li {
  right: 30px;
  width: 15px !important;
  height: 15px !important;
  margin: 7px 0 7px auto !important;
  border: 1px solid #fff;
  border-radius: 50px; }

.slider .slick-dots .slick-active {
  background: #FDCE00 !important; }

.slider .slick-dots li button {
  display: none !important; }

.slick-vertical .slick-slide {
  border: none !important; }

.tracking {
  max-width: 867px;
  margin: 38px auto;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
  background-color: #F8F8F8; }
  .tracking__top {
    display: flex;
    justify-content: flex-end; }
  .tracking__bottom {
    padding-left: 20px; }
    .tracking__bottom h5 {
      padding: 13px 0;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px; }
    .tracking__bottom p {
      padding: 13px 0 33px 0; }
      .tracking__bottom p a:hover {
        opacity: 0.6; }
  .tracking__item {
    display: flex;
    align-items: center;
    height: 56px;
    padding: 0 13px 0 18px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #E6E6E6;
    transition: all 0.2s linear; }
    .tracking__item:last-child {
      border: none; }
    .tracking__item:first-child {
      background-color: #F8F8F8;
      border-left: 1px solid #F8F8F8;
      padding: 0 30px 0 20px; }
    .tracking__item img {
      margin-right: 10px;
      height: 22px; }
    .tracking__item #tracking-icon--large {
      height: 16px; }
    .tracking__item:hover {
      background-color: #F8F8F8;
      transition: all 0.2s linear; }

.tracking__form {
  display: flex; }
  .tracking__form .tracking__btn {
    width: 48px;
    height: 48px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-left: 2px solid #ccc;
    margin-left: -2px;
    transition: all 0.3s ease-in; }
    .tracking__form .tracking__btn img {
      max-width: 18px; }
    .tracking__form .tracking__btn:hover {
      transition: all 0.3s ease-in;
      background-color: #FFD500;
      border-color: #FFD500;
      cursor: pointer; }
  .tracking__form .tracking__input {
    width: 542px;
    height: 48px;
    border: 2px solid #ccc;
    padding: 0 0 3px 14px;
    font-size: 20px;
    line-height: 24px;
    transition: all 0.3s ease-in; }
  .tracking__form .tracking__input:focus {
    border-color: #FFD500;
    transition: all 0.3s ease-in; }
  .tracking__form .tracking__input:focus ~ .tracking__btn {
    background-color: #FFD500;
    border-color: #FFD500;
    transition: all 0.3s ease-in; }

.home-tariff {
  display: flex;
  padding-bottom: 70px; }
  .home-tariff__item {
    width: 283px;
    min-height: 350px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    transition: all 0.3s ease-in; }
    .home-tariff__item:last-child {
      margin-right: 0; }
    .home-tariff__item:hover {
      border: 1px solid #FFD500;
      transition: all 0.3s ease-in; }
    .home-tariff__item:hover .home-tariff__img {
      filter: grayscale(0%);
      transition: all 0.3s ease-in; }
  .home-tariff__img {
    display: block;
    margin: 40px auto 10px auto;
    filter: grayscale(100%); }
  .home-tariff__info {
    width: max-content;
    padding: 0 10px 0 25px;
    margin-bottom: 40px; }
  .home-tariff__title {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px; }
  .home-tariff__text {
    font-size: 16px;
    line-height: 20px; }

.section--subs {
  background-color: #3F81A7; }

.subs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  padding: 75px 104px; }
  .subs__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    color: #FFFFFF;
    padding-right: 10px; }

.subs__form {
  display: flex; }
  .subs__form .subs__btn {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
    background-color: #FFD500;
    border: 2px solid #FFD500;
    border-left: 2px solid #FFD500;
    margin-left: -2px;
    padding: 0 18px;
    border-radius: 0px 2px 2px 0px; }
    .subs__form .subs__btn:hover {
      cursor: pointer; }
  .subs__form .subs__input {
    width: 373px;
    height: 48px;
    border: 2px solid #ccc;
    padding-left: 14px;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    border-radius: 2px 0px 0px 2px; }
  .subs__form .subs__input:focus {
    border-color: #FFD500; }
  .subs__form .subs__input:focus ~ .subs__btn {
    background-color: #FFD500;
    border-color: #FFD500; }

.home-news {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px; }
  .home-news .list {
    height: 439px;
    width: 387px;
    background-color: #F8F8F8;
    overflow-y: scroll;
    -ms-overflow-style: none;
    position: relative; }
    .home-news .list::-webkit-scrollbar {
      width: 0; }
    .home-news .list__item {
      padding: 25px 25px 15px 25px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease-in; }
      .home-news .list__item:hover .list__title {
        color: #3072C4;
        transition: all 0.3s ease-in; }
    .home-news .list__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px; }
    .home-news .list__date {
      display: flex;
      align-items: center; }
      .home-news .list__date img {
        width: 11px;
        height: 12px;
        margin-right: 7px; }
      .home-news .list__date time {
        font-size: 12px;
        color: #666666; }
  .home-news .preroll {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 805px;
    min-height: 439px;
    margin-left: 30px; }
    .home-news .preroll .preroll__img {
      max-width: 128px;
      height: auto; }
    .home-news .preroll .preroll__large-block {
      width: 100%;
      height: 258px; }
      .home-news .preroll .preroll__large-block .preroll__img {
        max-width: 383px; }
      .home-news .preroll .preroll__large-block .preroll__info {
        padding-top: 25px; }
        .home-news .preroll .preroll__large-block .preroll__info h3 {
          font-size: 24px;
          line-height: 28px; }
    .home-news .preroll .preroll__small-block {
      display: flex;
      justify-content: space-between;
      height: 161px; }
      .home-news .preroll .preroll__small-block .preroll__item {
        width: 387px; }
    .home-news .preroll .preroll__item {
      display: flex;
      height: 100%;
      background-color: #F8F8F8;
      transition: all 0.3s ease-in; }
      .home-news .preroll .preroll__item:hover .preroll__info h3 {
        color: #3072C4;
        transition: all 0.3s ease-in; }
      .home-news .preroll .preroll__item:hover .preroll__btn {
        transform: scale(1.2);
        transition: all 0.3s ease-in; }
      .home-news .preroll .preroll__item--delivery {
        border-bottom: 4px solid #FFD500; }
      .home-news .preroll .preroll__item--kvorum {
        border-bottom: 4px solid #96B620; }
      .home-news .preroll .preroll__item--international {
        border-bottom: 4px solid #3F81A7; }
      .home-news .preroll .preroll__item--deltruck {
        border-bottom: 4px solid #ACABA8; }
    .home-news .preroll .preroll__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 15px;
      padding: 15px 0; }
      .home-news .preroll .preroll__info h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px; }
      .home-news .preroll .preroll__info p {
        margin-top: 25px; }
    .home-news .preroll .preroll__footer {
      display: flex;
      justify-content: space-between;
      margin-right: 25px; }
    .home-news .preroll .preroll__btn {
      width: 15px;
      transition: all 0.3s ease-in; }
    .home-news .preroll .preroll__date {
      display: flex;
      align-items: center; }
      .home-news .preroll .preroll__date img {
        width: 15px;
        height: 16px;
        margin-right: 7px; }
      .home-news .preroll .preroll__date time {
        font-size: 14px;
        color: #666666; }

.section--apps {
  margin-top: 110px;
  background-color: #FFD500; }

.home-apps {
  display: flex;
  justify-content: space-between;
  height: 305px; }
  .home-apps__phone-img {
    margin: -55px 62px 0 0; }
  .home-apps__info {
    margin-top: 50px; }
  .home-apps__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px; }
  .home-apps__text {
    margin-top: 25px;
    max-width: 490px; }
  .home-apps__downloads {
    display: flex;
    align-items: center;
    margin-top: 33px; }
    .home-apps__downloads a:first-child {
      margin-right: 20px; }

.footer {
  height: 335px;
  background-color: #333; }
  .footer a {
    color: #999; }
  .footer .footer__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 75px; }

.footer__support a {
  display: block; }
  .footer__support a:hover {
    color: #FFD500; }

.footer__support .support__call-center {
  margin-bottom: 45px; }
  .footer__support .support__call-center p {
    color: #C4C4C4; }
  .footer__support .support__call-center .call-center__number {
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 25px; }
  .footer__support .support__call-center .call-center__schedule {
    border-bottom: 1px dashed #949494;
    padding-bottom: 5px;
    width: max-content; }

.footer__support .support__link {
  margin-bottom: 13px; }
  .footer__support .support__link:last-child {
    margin-bottom: 0; }

.footer__menu {
  display: flex;
  justify-content: space-between; }
  .footer__menu .menu__item {
    margin-right: 75px; }
    .footer__menu .menu__item:last-child {
      margin-right: 0; }
    .footer__menu .menu__item a {
      display: block;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 7px; }
      .footer__menu .menu__item a:hover {
        color: #FFD500; }
      .footer__menu .menu__item a:last-child {
        margin-bottom: 0; }
    .footer__menu .menu__item .menu__title {
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 20px; }

.footer__links .footer-subs {
  max-width: 415px; }
  .footer__links .footer-subs .footer-subs__title {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 20px; }
  .footer__links .footer-subs .footer-subs__form {
    display: flex; }
  .footer__links .footer-subs .footer-subs__btn {
    background-color: #FFD500;
    border: 2px solid #FFD500;
    border-left: 2px solid #FFD500;
    margin-left: -2px;
    padding: 0 18px; }
    .footer__links .footer-subs .footer-subs__btn:hover {
      cursor: pointer; }
  .footer__links .footer-subs .footer-subs__input {
    width: 373px;
    height: 48px;
    border: 2px solid #fff;
    padding-left: 14px;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    background-color: transparent; }
    .footer__links .footer-subs .footer-subs__input::placeholder {
      color: inherit; }
  .footer__links .footer-subs .footer-subs__input:focus {
    border-color: #FFD500; }
  .footer__links .footer-subs .footer-subs__input:focus ~ .footer-subs__btn {
    background-color: #FFD500;
    border-color: #FFD500; }

.footer__links .links {
  display: flex;
  margin-top: 40px; }
  .footer__links .links .links__title {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 13px; }
  .footer__links .links .apps__img, .footer__links .links .socials__img {
    display: flex;
    align-items: center; }
  .footer__links .links .apps__img {
    margin-right: 80px; }
    .footer__links .links .apps__img img {
      width: 106px;
      height: 32px; }
      .footer__links .links .apps__img img:first-child {
        margin-right: 10px; }
  .footer__links .links .socials__img {
    justify-content: space-between;
    margin-left: -10px; }
    .footer__links .links .socials__img img:hover {
      opacity: .6; }

.sub-footer {
  height: 100px;
  background-color: #FFD500; }

.sub-footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; }

.sub-footer__info p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #333333; }

.sub-footer__payment {
  display: flex;
  align-items: center; }
  .sub-footer__payment img {
    margin-right: 25px; }
    .sub-footer__payment img:last-child {
      margin-right: 0; }

.home-kpi {
  margin: 40px 0 160px 0;
  display: flex;
  justify-content: space-between; }
  .home-kpi__title {
    display: flex;
    align-items: center;
    max-width: 130px;
    margin-bottom: 22px;
    padding-right: 15px;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px; }
  .home-kpi:hover .on-time__circle {
    animation: 1s ease-out 0s 1 rotateCircleDiagram;
    transition: all 0.3s ease-in; }
  .home-kpi:hover .stats__icon {
    width: 50px;
    height: 50px;
    margin-left: 0;
    transition: all 0.3s ease-in; }

.on-time {
  display: flex;
  padding: 0 10px; }

.on-time__diagram {
  width: 194px;
  height: 194px;
  position: relative;
  border-radius: 50%;
  background-color: #ffcf00;
  background-image: linear-gradient(to right, #afafaf 50%, transparent 0); }
  .on-time__diagram .on-time__circle {
    color: transparent;
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    transform: rotate(104deg); }
  .on-time__diagram .on-time__info {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #fff; }
  .on-time__diagram .on-time__icon {
    display: flex;
    margin: 7px auto 0 auto; }
  .on-time__diagram .on-time__percent {
    display: flex;
    justify-content: center; }
    .on-time__diagram .on-time__percent p {
      font-family: 'Bebas Neue', 'Arial', cursive;
      font-size: 54px;
      line-height: 42px;
      font-weight: normal;
      color: #5f5f5f;
      padding-top: 11px; }
      .on-time__diagram .on-time__percent p span {
        font-family: 'Segoe UI';
        font-size: 27px;
        line-height: 41px;
        font-weight: bolder;
        color: #5f5f5f; }

.on-time__rank {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-top: 7px;
  width: 100%;
  height: 74px;
  background-position: 50% -2px;
  background-repeat: no-repeat;
  background-size: 139px;
  background-image: url("../img/system/kpi/kpi__bg1.png"); }
  .on-time__rank img {
    width: 13px;
    height: 9px; }
  .on-time__rank p {
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    margin-left: 5px; }
  .on-time__rank--red p {
    color: #ff0404; }
  .on-time__rank--green p {
    color: #36c154; }

@keyframes rotateCircleDiagram {
  0% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(104deg); } }

.in-road {
  display: flex;
  padding: 0 10px; }

.in-road__diagram {
  width: 194px;
  height: 194px;
  position: relative;
  border-radius: 50%;
  background-image: url("../img/system/kpi/kpi__clock.png");
  background-repeat: no-repeat;
  background-size: 100%; }
  .in-road__diagram .in-road__hours {
    color: #5d686c;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px; }
  .in-road__diagram .in-road__info {
    position: absolute;
    top: 17px;
    left: 17px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding-top: 29px; }
  .in-road__diagram .in-road__icon {
    display: flex;
    margin: 7px auto 0 auto; }
  .in-road__diagram .in-road__time {
    display: flex;
    justify-content: center;
    padding-bottom: 5px; }
    .in-road__diagram .in-road__time p {
      font-family: 'Bebas Neue', 'Arial', cursive;
      font-size: 54px;
      line-height: 42px;
      font-weight: normal;
      color: #5f5f5f; }
  .in-road__diagram .in-road__rank {
    background-size: 121px; }

.stats {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 10px; }

.stats__item {
  display: flex;
  align-items: center;
  padding-bottom: 3px; }
  .stats__item:first-child {
    border-bottom: 1px solid #c1c1c1; }
  .stats__item .stats__icon {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    margin-left: 5px;
    transition: all 0.3s ease-in; }
  .stats__item .stats__info {
    margin-right: 8px;
    min-width: 137px; }
    .stats__item .stats__info--first {
      font-size: 14px;
      font-weight: bold;
      color: #6e6e6e; }
    .stats__item .stats__info--second {
      font-family: 'Bebas Neue', 'Arial', cursive;
      font-size: 41px;
      font-weight: normal;
      line-height: 32px;
      color: #5f5f5f;
      padding-top: 3px; }
      .stats__item .stats__info--second span {
        font-family: 'Segoe UI';
        font-weight: bolder;
        font-size: 23px;
        color: inherit; }
    .stats__item .stats__info--third {
      font-size: 12px; }
  .stats__item .stats__rank {
    display: flex;
    justify-content: center;
    align-items: baseline; }
    .stats__item .stats__rank img {
      width: 13px;
      height: 9px; }
    .stats__item .stats__rank p {
      font-size: 17px;
      font-family: Arial;
      font-weight: bold;
      margin-left: 5px; }
    .stats__item .stats__rank--red p {
      color: #ff0404; }
    .stats__item .stats__rank--green p {
      color: #36c154; }

.faq {
  display: flex;
  justify-content: space-between;
  margin-bottom: 95px;
  padding-top: 100px; }

.feedback {
  width: 310px;
  height: 553px;
  padding: 15px 0 32px 0;
  background-color: #FFD500;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1); }
  .feedback__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    width: 87%;
    margin: 0 auto; }
  .feedback__form {
    display: flex;
    flex-direction: column;
    width: 87%;
    margin: 30px auto 0 auto; }
  .feedback__label {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 7px; }
  .feedback__input, .feedback__select {
    width: 268px;
    height: 40px;
    margin-bottom: 10px;
    padding-left: 7px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15); }
  .feedback__select {
    cursor: pointer;
    background: url("../img/system/icon/faq__arrow-down.svg") no-repeat center;
    background-color: #F2F2F2;
    background-size: 10px 7px;
    -webkit-appearance: none;
    background-position-x: 97%;
    padding-right: 25px; }
    .feedback__select option {
      background-color: #F2F2F2; }
  .feedback__textarea {
    border: 1px solid rgba(0, 0, 0, 0.15);
    height: 122px;
    resize: none;
    padding: 10px 7px; }
  .feedback__btn {
    width: 138px;
    height: 48px;
    background-color: #333333;
    border-radius: 2px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 22px;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease-in; }
    .feedback__btn:hover {
      border: 1px solid #333;
      background-color: #fff;
      color: #333;
      transition: all 0.3s ease-in; }

.faq-block {
  padding-left: 10px; }

.faq-block__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px; }

.faq-block__ask-btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 24px; }
  .faq-block__ask-btn:hover {
    opacity: .6; }
  .faq-block__ask-btn img {
    margin-left: 14px;
    margin-top: 3px;
    width: 18px; }

.faq-block__questions {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 800px;
  height: 440px;
  margin: 30px 0 20px 0;
  position: relative; }

.questions {
  display: flex;
  padding: 4px 0; }
  .questions__input {
    display: none; }
  .questions__label {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    height: auto;
    min-height: 35px;
    width: 300px;
    border: 2px solid transparent; }
    .questions__label:before {
      content: " ";
      position: absolute;
      top: 0;
      right: -11px;
      width: 17px;
      height: 100%; }
  .questions__input:checked + .questions__label {
    background-color: #FFFFFF;
    border: 2px solid #FFD54B;
    border-right: none;
    border-radius: 3px;
    color: #333333;
    position: relative; }
    .questions__input:checked + .questions__label:before {
      background: url("../img/system/icon/faq__arrow-checked.svg") no-repeat;
      background-position: right; }
  .questions__answer {
    display: none;
    position: absolute;
    top: 0;
    left: 340px;
    padding: 5px 10px;
    height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none; }
    .questions__answer::-webkit-scrollbar {
      width: 0; }
    .questions__answer .answer__text {
      margin-bottom: 20px; }
      .questions__answer .answer__text:last-child {
        margin-bottom: 0; }
    .questions__answer .answer__title {
      font-weight: normal;
      margin-bottom: 33px; }
  .questions__input:nth-of-type(1):checked ~ .questions__answer:nth-of-type(1) {
    display: block; }

.home-advantages {
  padding-bottom: 120px; }

#home-advantages__slider {
  height: 420px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d; }
  #home-advantages__slider [type="radio"] {
    display: none; }

#home-advantages__slider .slider__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 386px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease; }

.slider__info {
  max-width: 285px;
  margin: 0 auto;
  text-align: center; }
  .slider__info h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px; }
  .slider__info p {
    display: none; }

#slide1 .slider__icon,
#slide2 .slider__icon,
#slide3 .slider__icon,
#slide4 .slider__icon,
#slide5 .slider__icon {
  width: 90px;
  height: 90px;
  margin: 0 auto 25px auto; }

#slide1 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon1.svg"); }

#slide2 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon2.svg"); }

#slide3 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon3.svg"); }

#slide4 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon4.svg"); }

#slide5 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon5.svg"); }

#s1:checked ~ #slide1 .slider__icon,
#s2:checked ~ #slide2 .slider__icon,
#s3:checked ~ #slide3 .slider__icon,
#s4:checked ~ #slide4 .slider__icon,
#s5:checked ~ #slide5 .slider__icon {
  width: 123px;
  height: 123px;
  margin: 0 auto 15px auto; }

#s1:checked ~ #slide1 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon1--gold.svg"); }

#s2:checked ~ #slide2 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon2--gold.svg"); }

#s3:checked ~ #slide3 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon3--gold.svg"); }

#s4:checked ~ #slide4 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon4--gold.svg"); }

#s5:checked ~ #slide5 .slider__icon {
  background: url("../img/system/icon/h-advantages__slider/h-advantages__slider--icon5--gold.svg"); }

#s1:checked ~ #slide1 .slider__info p,
#s2:checked ~ #slide2 .slider__info p,
#s3:checked ~ #slide3 .slider__info p,
#s4:checked ~ #slide4 .slider__info p,
#s5:checked ~ #slide5 .slider__info p {
  display: block; }

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  border: 1px solid #ffd500; }

#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate3d(-115%, 0, -200px); }

#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate3d(-90%, 0, -100px); }

#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0); }

#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate3d(90%, 0, -100px); }

#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
  transform: translate3d(115%, 0, -200px); }

#s1:checked ~ #slide1 .slider__btn--prev1,
#s2:checked ~ #slide2 .slider__btn--prev2,
#s3:checked ~ #slide3 .slider__btn--prev3,
#s4:checked ~ #slide4 .slider__btn--prev4,
#s5:checked ~ #slide5 .slider__btn--prev5 {
  visibility: hidden; }

#s1:checked ~ #slide3 .slider__btn--prev3,
#s2:checked ~ #slide4 .slider__btn--prev4,
#s3:checked ~ #slide5 .slider__btn--prev5,
#s4:checked ~ #slide1 .slider__btn--prev1,
#s5:checked ~ #slide2 .slider__btn--prev2 {
  visibility: hidden; }

#s1:checked ~ #slide4 .slider__btn--prev4,
#s2:checked ~ #slide5 .slider__btn--prev5,
#s3:checked ~ #slide1 .slider__btn--prev1,
#s4:checked ~ #slide2 .slider__btn--prev2,
#s5:checked ~ #slide3 .slider__btn--prev3 {
  visibility: hidden; }

#s1:checked ~ #slide1 .slider__btn--next1,
#s2:checked ~ #slide2 .slider__btn--next2,
#s3:checked ~ #slide3 .slider__btn--next3,
#s4:checked ~ #slide4 .slider__btn--next4,
#s5:checked ~ #slide5 .slider__btn--next5 {
  visibility: hidden; }

#s1:checked ~ #slide3 .slider__btn--next3,
#s2:checked ~ #slide4 .slider__btn--next4,
#s3:checked ~ #slide5 .slider__btn--next5,
#s4:checked ~ #slide1 .slider__btn--next1,
#s5:checked ~ #slide2 .slider__btn--next2 {
  visibility: hidden; }

#s1:checked ~ #slide4 .slider__btn--next4,
#s2:checked ~ #slide5 .slider__btn--next5,
#s3:checked ~ #slide1 .slider__btn--next1,
#s4:checked ~ #slide2 .slider__btn--next2,
#s5:checked ~ #slide3 .slider__btn--next3 {
  visibility: hidden; }

.slider__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: #fff;
  background-image: url("../img/system/icon/h-slider__arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%; }
  .slider__btn:hover {
    background-color: #FFD500;
    background-image: url("../img/system/icon/h-slider__arrow--hover.svg"); }

.slider__btn--prev1,
.slider__btn--prev2,
.slider__btn--prev3,
.slider__btn--prev4,
.slider__btn--prev5 {
  left: -150px;
  transform: rotate(180deg); }

.slider__btn--next1,
.slider__btn--next2,
.slider__btn--next3,
.slider__btn--next4,
.slider__btn--next5 {
  right: -150px; }

.home-partners {
  padding-bottom: 80px; }
  .home-partners .become-partner {
    display: flex;
    justify-content: center;
    width: 100%; }
    .home-partners .become-partner a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 178px;
      height: 48px;
      background-color: #FFD500;
      border-radius: 5px;
      border: 1px solid #FFD500;
      transition: all 0.3s ease-in; }
      .home-partners .become-partner a:hover {
        transition: all 0.3s ease-in;
        border-color: #FFD500;
        background-color: transparent; }

.partners-slider {
  max-width: 1035px;
  margin: 0 auto; }
  .partners-slider .slick-prev, .partners-slider .slick-next {
    width: 48px;
    height: 48px;
    top: 34%;
    background-color: #fff;
    background-image: url("../img/system/icon/h-slider__arrow.svg");
    background-repeat: no-repeat;
    background-position: center center; }
  .partners-slider .slick-prev {
    left: -88px;
    transform: rotate(180deg); }
  .partners-slider .slick-next {
    right: -68px; }
  .partners-slider .slick-prev:hover, .partners-slider .slick-prev:focus, .partners-slider .slick-next:hover, .partners-slider .slick-next:focus {
    background: #FFD500;
    background-color: #FFD500;
    background-image: url("../img/system/icon/h-slider__arrow--hover.svg");
    background-repeat: no-repeat;
    background-position: center center; }
  .partners-slider .slick-prev:before, .partners-slider .slick-next:before {
    display: none; }

.partners-slider .partners-slider__item {
  max-width: 242px;
  height: 249px;
  background-color: #fff;
  margin-right: 22px;
  border: 2px solid transparent;
  margin-bottom: 130px;
  transition: all 0.3s ease-out; }
  .partners-slider .partners-slider__item:hover {
    border: 2px solid #FFD500;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.1);
    height: 349px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out; }
  .partners-slider .partners-slider__item:hover .partners-slider__info p {
    display: block; }
  .partners-slider .partners-slider__item:hover .partners-slider__info a {
    display: flex; }

.partners-slider .partners-slider__logo {
  width: 100%;
  height: 178px; }
  .partners-slider .partners-slider__logo img {
    display: block;
    max-width: 100%;
    height: 100%; }

.partners-slider .partners-slider__info {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 27px 10px 10px 22px; }
  .partners-slider .partners-slider__info h3 {
    font-weight: normal;
    font-size: 20px;
    padding-bottom: 12px; }
  .partners-slider .partners-slider__info p {
    display: none;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    padding-bottom: 8px; }
  .partners-slider .partners-slider__info a {
    display: none;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    transition: all 0.3s ease-in; }
    .partners-slider .partners-slider__info a:hover {
      border: 1px solid #FFD500;
      transition: all 0.3s ease-in; }

.hover-animation--zoom {
  transition: all 0.3s ease-in; }
  .hover-animation--zoom:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in; }
