/* ======================================================
//   Стили для страницы Light Калькулятор
========================================================= */




/* Временый стиль, при переносе можно удалить */

/* .main-btn {
    white-space: nowrap;
} */








/* Убрать если нужно подсвечивать красным инпуты с аттрибутом "requided" */
input:required { 
    border-color: #DADADA;
}


/* Убирает стили фокуса на инпуте. С доступом "только чтение" */
input[readonly="readonly"]:focus,
input[readonly="readonly"]:active {
    border-color: #DADADA;
}

.main-btn {
    text-align: center;
}

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__calc.jpg") no-repeat;
}

/* Моб. Приложение */
.mob-app-block {
    display: none;
    padding: 20px 0;
}

.mob-app-block__info {
    display: flex;
}

.mob-app-block__icon {
    max-width: 100px;
    min-width: 90px;
    width: 100%;
    margin-right: 5px;
}

.mob-app-block__icon img {
    display: block;
    max-width: 100%;
    height: auto;
}

.mob-app-block__text {
    font-weight: bold;
    max-width: 250px;
    margin: auto 0;
}

.mob-app-block__link-group {
    display: flex;
    margin-top: 10px;
}

.mob-app-block__link {
    display: block;
    max-width: 133px;
    width: 100%;
}

.mob-app-block__link:first-child {
    margin-right: 10px;
}

.mob-app-block__link img {
    display: block;
    max-width: 100%;
    height: auto;
}


@media (max-width: 600px) {
    .mob-app-block {
        display: block;
    }
}

/* =================================== */

.calculate-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
    border: 1px solid #DADADA;
    border-radius: 5px;
    margin-bottom: 32px;
}

.calulate-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333333%;
    height: 100%;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
	text-align: center;
    position: relative;
}

.calulate-nav__item:nth-child(2)::after {
    content: " ";
    position: absolute;
    top: 9px;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: #DADADA;
}

.calulate-nav__item--active {
    height: 64px;
    background-color: #ffd500;
    border-radius: 5px;
    font-weight: bold;
    margin-right: -3px;
}

.full-word {
	margin-left: 3px;
	display: block;
}

.short-word {
	margin-left: 3px;
	display: none;
}

@media (max-width: 1024px) {
	.full-word {
		display: none;
	}
	.short-word {
		display: block;
	}
	.calculate {
		margin-top: 20px;
	}
	.calculate-nav {
		margin-bottom: 20px;
	}
	.calulate-nav__item {
		font-size: 13px;
		flex-direction: column;
	}
}

/* Time line */
.time-line {
    position: relative;
}

.time-line:before {
    content: " ";
    position: absolute;
    top: 15px;
    left: -65px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #DADADA;
}

.time-line--category::before {
    top: 35px;
}

.time-line-active:before {
    background-color: #00D315 !important;
    box-shadow: 0px 2px 10px rgba(8, 227, 30, 0.63);
    transform: scale(1);
    animation: 2s linear 0s 1 time-line-point; 
}

@keyframes time-line-point {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.6);
    }
}

.time-line--first-point::before {
    top: -22px;
}

.time-line--for-ticket::before {
    top: 8px;
}

/* Calc common */
.calc-form {
    width: 870px;
    padding-left: 65px;
    position: relative;
}

.calc-form::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 3px;
    width: 2px;
    height: 100%;
    max-height: calc(100% - 40px);
    border-right: 2px dashed #DADADA;
}

/* Точка для Time-line самая последняя */
.calc-form::after {
    content: " ";
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #DADADA;
}

.calc-form__group-title,
.calc-form__title {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 20px;
}

.calc-form__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calc-form__colm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 387px;
    width: 100%;
}

.calc-form__input--short {
    max-width: 179px;
    width: 100%;
}

.calc-form__label {
    font-size: 16px;
    line-height: 20px;
}

.calc-form__yellow-arrow {
    position: relative;
}

.calc-form__yellow-arrow::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: -26px;
    width: 20px;
    height: 20px;
    background: url('../img/system/icon/calc/calc-form__yellow-arrow.svg') no-repeat center;
    background-size: 21px;
}

@media (max-width: 1024px) {
    /* Calc common */
    .calc-form {
        width: 100%;
        padding-left: 0;
    }
    .calc-form::before,
    .calc-form::after {
        display: none;
    }
    .calc-form__group-title {
        margin-bottom: 20px;
        font-size: 15px;
    }
    .calc-form__line {
        flex-direction: column;
        align-items: baseline;
    }
    .calc-form__colm:first-child {
        margin-bottom: 20px;
    }
    .calc-form__input-wrap:first-child {
        margin-bottom: 20px;
    }
    .calc-form__label {
        font-size: 15px;
    }
    .calc-form__yellow-arrow::after {
        display: none;
    }
    .calc-form__input--short {
        max-width: 135px;
        margin-left: 10px;
    }
}

@media (max-width: 430px) {
    .calc-form__input-wrap,
    .calc-form__input-wrap input,
    .calc-form__select {
        width: 100%;
    }
}

/* switch btn */
.calc-switch-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.calc-switch-btn .calc-form__label {
    margin-right: 15px;
}

.calc-switch-btn__toggle {
    isolation: isolate;
    position: relative;
    height: 32px;
    width: 65px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 25px;
}

.calc-switch-btn__toggle-state {
    display: none;
}

.calc-switch-btn__indicator {
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 15px;
    transform: translate3d(8px, 4px, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);;
}

.calc-switch-btn__bg {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DADADA;
    transition: .3s linear all;
}

.calc-switch-btn__toggle-state:checked ~ .calc-switch-btn__indicator {
    transform: translate3d(34px, 4px, 0);
}

.calc-switch-btn__toggle-state:checked ~ .calc-switch-btn__bg  {
    background-color: #ffd500;
    transition: .3s linear all;
}

.calc-switch-btn__desc {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.calc-switch-btn__desc--active {
    color: #333;
}

@media (max-width: 1024px) {
    .calc-switch-btn__desc {
        font-size: 13px;
    }
}

@media (max-width: 800px) {
    .calc-switch-btn {
        flex-wrap: wrap;
    }
    .calc-switch-btn__desc {
        margin-top: 5px;
    }
}

.calc-type-cargo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(67, 67, 67, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.calc-type-cargo__group {
    display: flex;
    width: 50%;
    height: 100%;
}

.calc-type-cargo__item {
    display: flex;
    align-items: center;
    padding-left: 13px;
    width: 50%;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    position: relative;
}

.calc-type-cargo__item::after {
    content: ' ';
    position: absolute;
    top: 18px;
    right: -2px;
    width: 1px;
    height: 35px;
    background-color: #DADADA;
}

.calc-type-cargo:hover .calc-type-cargo__item::after {
    background-color: #ffd500;
}

.calc-type-cargo__item--active {
    height: 100%;
    background-color: #ffd500;
}

.calc-type-cargo__item--active::after {
    display: none;
}

.calc-type-cargo__group:last-child .calc-type-cargo__item:last-child::after {
    display: none;
}

.calc-type-cargo__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 13px;
    transform: scale(1);
    transition: transform .4s linear;
}

.calc-type-cargo__item:hover {
    color: #ffd500;
}

.calc-type-cargo__item--active:hover {
    color: #333;
}

@media (max-width: 1024px) {
    .calc-type-cargo {
        margin-bottom: 40px;
        margin-top: 10px;
        width: fit-content;
        height: 140px;
        flex-direction: column;
        align-items: baseline;
    }
    .calc-type-cargo__group {
        width: 100%;
    }
    .calc-type-cargo__item {
        padding-left: 10px;
        width: 180px;
        font-size: 15px;
    }
    .calc-type-cargo__item::after {
        display: none;
    }
    .calc-type-cargo__item--active {
        position: relative;
    }
    .calc-type-cargo__item::before {
        content: ' ';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: #DADADA;
    }
    .calc-type-cargo__group:first-child .calc-type-cargo__item:first-child::before {
        bottom: 19px;
        right: -15px;
        transform: rotate(90deg);
    }
    .calc-type-cargo__group:first-child .calc-type-cargo__item:last-child::before {
        bottom: 0;
        left: 4px;
    }
    .calc-type-cargo__group:last-child .calc-type-cargo__item:last-child::before {
        top: 19px;
        left: -15px;
        transform: rotate(90deg);
    }
    .calc-type-cargo__group:last-child .calc-type-cargo__item:first-child::before {
        top: 0;
        right: 4px;
    }
    .calc-type-cargo__group .calc-type-cargo__item--active::before {
        background-color: transparent;
    }
    .calc-type-cargo__icon {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin-right: 5px;
    }
    .calc-type-cargo__icon img {
        display: block;
        width: 25px;
        height: 25px;
    }
}

@media (max-width: 410px) {
    .calc-type-cargo__item {
        width: 140px;
    }
}

/* Тип Вантажу */
.type-cargo {
    display: none;
}

.type-cargo--active {
    display: block;
}

.after-pay-acc__hide {
    display: none;
}

.after-pay-acc__notice {
    font-size: 12px;
    line-height: 14px;
    color: #999;
}

.after-pay-acc__notice a {
    color: #3072C4;
}

/* Параметры вантажу */
.cargo-parameters {
    display: flex;
    margin-bottom: 30px;
}

.cargo-parameters__info {
    width: 300px;
    margin-right: 30px;
}

.cargo-parameters__images {
    flex-grow: 1;
    height: 315px;
    background: url('../img/system/icon/calc/cargo-parameters__bg.png') no-repeat center center;
    border-bottom: 2px solid #DADADA;
    position: relative;
}

.cargo-parameters__images--pallets {
    position: relative;
    max-width: 418px;
    width: 100%;
    height: 300px;
    border-right: 2px solid #DADADA;
}

.cargo-parameters__cargo-box {
    position: absolute;
    bottom: 10px;
    left: calc((100% - 150px) / 2);
    width: 150px;
    height: 150px;
}

.cargo-parameters__cargo-box img {
    width: 100%;
    display: block;
}

.cargo-parameters__pallets-box {
    position: absolute;
    bottom: 10px;
    left: calc((100% - 208px) / 2);
    width: 208px;
    height: 208px;
}

.cargo-parameters__pallets-box .delivery_calc_palet_image {
    width: 100%;
    height: 100%;
}

.delivery_calc_palet_image.ng-hide {
    display: none;
}

.cargo-parameters .calc-form__label {
    margin-right: 8px;
}

.cargo-parameters .calc-form__input--short {
    width: 130px;
    height: 40px;
}

.cargo-parameters .calc-form__line {
    margin-bottom: 15px;
}

.cargo-parameters input:disabled {
    color: #999;
    background-color: #fff;
    border: 1px solid #DADADA;
}

.cargo-parameters input:disabled ~ label {
    color: #999;
    order: -1;
}

.calc-form__group-title--for-mob,
.calc-form__group-title--to-postomat {
    display: none;
}

.calc-form__group-title.hide {
    display: none;
}

.calc-form__group-title--express.active {
    display: block;
}

@media (max-width: 1024px) {
    .type-cargo-1 .cargo-parameters__images {
        display: none;
    }
    /* Параметры вантажу */
    .cargo-parameters {
        margin-bottom: 20px;
    }
    .cargo-parameters__info {
        max-width: 387px;
        width: 100%;
        margin-right: 0;
    }
    .cargo-parameters .calc-form__colm {
        margin-bottom: 0;
    }
    .type-cargo-2 .cargo-parameters,
    .type-cargo-3 .cargo-parameters {
        flex-direction: column;
        align-items: baseline;
    }
    .type-cargo-2 .cargo-parameters__images--pallets,
    .type-cargo-3 .cargo-parameters__images--pallets  {
        order: -1;
    }
    .type-cargo-3 .cargo-parameters__images--pallets {
        margin-bottom: 20px;
    }
    .calc-form__group-title--to-postomat {
        display: none;
    }
    .calc-form__group-title--choose-param,
    .calc-form__group-title--for-mob {
        display: block;
        margin-bottom: 10px;
    }
    .cargo-parameters__postomat-info {
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .type-cargo-2 .cargo-parameters {
        width: 80%;
    }
    .type-cargo-3 .cargo-parameters {
        width: 70%;
    }
}

@media (max-width: 450px) {
    .cargo-parameters__pallets-box {
        left: calc((100% - 170px) / 2);
        width: 170px;
        height: 170px;
    }
    .cargo-parameters__pallets-box>div {
        background-size: 170px 170px;
    }
    .cargo-parameters__cargo-box {
        left: calc((100% - 90px) / 2);
        width: 90px;
        height: 90px;
    }
    .cargo-parameters__cargo-box>div {
        background-size: 90px 90px;
    }
}

/* Футер Параметров вантажу */
.calc-footer {
    display: flex;
    align-items: center;
}

.calc-footer--express-block {
    flex-direction: column;
    align-items: baseline;
}

.calc-footer__notice {
    display: flex;
    margin-left: 30px;
}

.calc-footer--express-block .calc-footer__notice {
    margin-bottom: 30px;
    margin-left: 0;
    order: -1;
}

.calc-footer__notice-item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.calc-footer--express-block .calc-footer__notice-item {
    margin-right: 30px;
}

.calc-footer__notice-item:last-child {
    margin-right: 0;
}

.calc-footer__notice-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.calc-footer__notice-text {
    width: 200px;
}

.calc-footer__notice-text--long {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
}

/* Рузультат рассчета стоимости */
.calc-result__inner {
    padding-top: 30px;
    margin: 30px 0;
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(67, 67, 67, 0.1);
    border-radius: 5px;
    position: relative;
}

.calc-result__inner::before {
    content: " ";
    position: absolute;
    top: 30px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: url('../img/system/icon/aside-calculator.svg') no-repeat center center;
    background-size: 50px;
}

.calc-result__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 105px;
    margin-bottom: 15px;
}

.calc-result__item--additional {
    padding-left: 135px;
}

.calc-result__item p:first-child {
    flex-grow: 1;
}

.calc-result__item p:last-child {
    width: 110px;
    text-align: end;
    white-space: nowrap;
}

.calc-result__quantity {
    font-weight: bold;
}

.calc-result__title {
    padding-top: 5px;
}

.calc-result__title p {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.calc-result__item--bold {
    font-weight: 600;
}

.calc-result__total {
    background-color: #F0F5F9;
    border-radius: 0px 0px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

@media (max-width: 1150px) {
    #cargo-parameters--express .calc-footer {
        flex-direction: column;
        
    }
}

@media (max-width: 1024px) {
    .calc-result__inner::before {
        display: none;
    }
    .calc-result__item {
        padding: 0 40px;
    }
    .calc-result__total {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 700px) {
    /* Футер Параметров вантажу */
    .calc-footer {
        flex-direction: column;
        align-items: baseline;
    }
    .calc-footer__notice {
        margin-left: 0;
        flex-direction: column;
        align-items: baseline;
    }
    .calc-footer__notice-item {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .calc-footer__notice-item:last-child {
        margin-bottom: 20px;
    }
    .calc-footer__notice-text--long {
        max-width: 100%;
        font-size: 13px;
        line-height: 20px;
    }
    .calc-footer .main-btn {
        order: 1;
    }
    .type-cargo-1 .calc-form__line:last-child {
        margin-bottom: 0;
    }
    /* Рузультат рассчета стоимости */
    .calc-result__inner {
        padding-top: 20px;
        margin: 20px 0;
    }
    .calc-result__item {
        padding: 0 10px;
        margin-bottom: 10px;
        align-items: flex-end;
    }
    .calc-result__title {
        padding-top: 0;
        align-items: flex-start;
    }
    .calc-result__title p {
        font-size: 18px;
        line-height: 24px;
    }
    .calc-result__total {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .calc-result .calc-footer__notice {
        order: 1;
        margin-top: 20px;
    }
    .calc-result .calc-footer__notice-item {
        align-items: flex-start;
        margin-bottom: 0;
    }
}

/* Слайдер выбора веса в "Параметрах вантажу" */
.calc-slider {
    width: 130px;
    height: 300px;
    position: absolute;
    top: 0;
    right: -130px;
}

.calc-slider__inner {
    height: 100%;
}

.calc-slider__value {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slider-tick-label {
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: #999;
    margin-left: 15px;
    height: 33.33px;
    position: relative;
}

.calc-slider__value--pallets .slider-tick-label{
    height: 30px;
}

.slider-tick-label::before {
    content: " ";
    position: absolute;
    top: 8px;
    left: -15px;
    width: 10px;
    height: 2px;
    background-color: #DADADA;
}

.slider-tick-label--active {
    font-weight: 600;
    color: #333;
}

.slider-tick-label--active::before {
    background-color: #ffd500;
}

.slider-handle {
    position: absolute;
    top: 0;
    left: -20px;
    width: 25px;
    height: 18px;
    background: url('../img/system/icon/calc/calc-slider-handle__icon.svg') no-repeat center;
    background-size: 100%;
}

.slider-handle.hide {
    display: none;
}

.slider-track {
    height: 300px;
    margin-bottom: -300px;
    width: 130px;
}

/* Поштомат */
.cargo-parameters__postomat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 210px;
}

.cargo-parameters__postomat.disabled {
    cursor: not-allowed;
}

.cargo-parameters__postomat.disabled .cargo-parameters__postomat-btn {
    cursor: not-allowed;
    color: #DADADA;
}

.cargo-parameters__postomat-info {
    max-width: 290px;
    margin-bottom: 30px;
    color: #999;
}

.cargo-parameters__postomat-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border: 2px solid #DADADA;
    border-radius: 50px;
    background-color: #fff;

    font-weight: bold;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
}

.cargo-parameters__postomat-btn.active {
    border-color: #ffd500;
    background-color: #ffd500;
    box-shadow: 0px 2px 6px rgba(255, 213, 0, 0.58);
}

/* Выбор палет */
.select-pallets {
    margin-top: 20px;
}

.select-pallets__item {
    display: flex;
    margin-bottom: 30px;
}

.select-pallets__item:last-child {
    margin-bottom: 0;
}

.select-pallets__info {
    width: 120px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 20px;
}

.select-pallets__name {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
}

.select-pallets__size {
    color: #999;
    font-size: 16px;
    line-height: 20px;
}

@media (max-width: 1024px) {
    .select-pallets__item {
        margin-bottom: 25px;
    }
    .select-pallets__name {
        font-size: 15px;
    }
    .select-pallets__size {
        font-size: 15px;
    }
}

/* Добавление количества палет */
.select-pallets__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quantity__number {
    width: 71px;
    height: 40px;
    margin: 0 15px;
    border: 1px solid #DADADA;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.quantity__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background-color: #DADADA;
    box-shadow: 0px 2px 6px #DADADA;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.quantity__arrow:focus {
    background-color: #FFD500;
    box-shadow: 0px 2px 6px rgba(255, 213, 0, 0.58);
    cursor: pointer;
}

/* Галузеві тарифи */
.sectoral-tariffs {
    max-width: 625px;
    width: 100%;
    margin: 20px 0 30px;
    border-top: 2px solid #F0F5F9;
}

.sectoral-tariffs summary {
    height: 53px;
    cursor: pointer;
    padding-left: 22px;
}

.sectoral-tariffs summary h3 {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.sectoral-tariffs__desc {
    font-size: 16px;
    line-height: 24px;
    color: #999;
}

.sectoral-tariffs__details>.sectoral-tariffs__summary {
    position: relative;
    border-bottom: 2px solid #F0F5F9;
}

.sectoral-tariffs__details>.sectoral-tariffs__summary::after {
	content: " ";
	position: absolute;
    right: 30px;
    top: 20px;
	width: 15px;
	height: 15px;
	background: url("../img/system/icon/tabs-icon--open.svg") no-repeat center;
	border-radius: 50px;
	transform-origin: center;
    transform: rotate(45deg);
    transition: transform .2s linear;
}

.sectoral-tariffs__details[open]>.sectoral-tariffs__summary::after {
    transform: rotate(135deg);
	background: url("../img/system/icon/grey-x.svg") no-repeat center;
    background-size: 13px;
    transition: transform .5s linear;
}

.sectoral-tariffs__details[open]>summary h3 {
    font-weight: bold;
}

.sectoral-tariffs__details--second-lvl[open]>summary h3 {
    font-weight: 600;
}

.sectoral-tariffs__details--second-lvl .sectoral-tariffs__summary-inner {
    padding-right: 65px;
    padding-left: 50px;
}

.sectoral-tariffs__summary-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sectoral-tariffs__line {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectoral-tariffs__colm {
    display: flex;
    align-items: center;
}

.sectoral-tariffs__colm input {
    width: 80px;
    height: 40px;
}

.sectoral-tariffs__colm label {
    margin-right: 20px;
    font-size: 16px;
    line-height: 20px;
}

.sectoral-tariffs__line .checkbox--before input[type=checkbox] + label:before {
    margin: -5px 15px 0 0;
}

.sectoral-tariffs__line .checkbox--before {
    width: 200px;
    margin-right: 25px;
}

.sectoral-tariffs__inner-block {
    padding-bottom: 20px;
    border-bottom: 2px solid #F0F5F9;
}

/* Sectoral Tariffs in 2 line */
.sectoral-tariffs__line .checkbox--two-line input[type=checkbox] + label:before {
    margin: 15px 15px 0 0;
}

.checkbox--two-line .checkbox__desc {
    padding-left: 40px;
    margin-top: -5px;
}

@media (max-width: 1024px) {
    /* Галузеві тарифи */
    .sectoral-tariffs {
        margin: 10px 0 20px;
    }
    .sectoral-tariffs summary {
        padding-left: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        height: auto;
    }
    .sectoral-tariffs summary h3 {
        font-size: 15px;
        font-weight: bold;
        line-height: 20px;
    }
    .sectoral-tariffs__desc {
        font-size: 13px;
        line-height: 15px;
        padding-left: 15px;
        max-width: 70%;
        text-align: right;
    }
    .sectoral-tariffs__details>.sectoral-tariffs__summary::after {
        right: 5px;
        background-size: 9px;
    }
    .sectoral-tariffs__details[open]>.sectoral-tariffs__summary::after {
        background-size: 10px;
    }
    .sectoral-tariffs__details--second-lvl .sectoral-tariffs__summary-inner {
        padding-right: 30px;
        padding-left: 5px;
    }
    .sectoral-tariffs__details--second-lvl .sectoral-tariffs__summary-inner h3 {
        font-weight: normal;
    }
    .sectoral-tariffs__colm label {
        margin-right: 10px;
        font-size: 15px;
    }
    .sectoral-tariffs__line .checkbox--before {
        margin-right: 15px;
    }
}


@media (max-width: 650px) {
    .sectoral-tariffs__line {
        flex-direction: column;
        align-items: baseline;
        padding-left: 20px;
        padding-bottom: 15px;
        border-bottom: 2px solid #F0F5F9;
        margin-bottom: 15px;
    }
    .sectoral-tariffs__line:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .sectoral-tariffs__colm label {
        order: 1;
        margin-left: 15px;
    }
    .sectoral-tariffs__colm {
        margin-top: 15px;
    }
}

/* popup icon */
.calc-form__info-btn {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#popup-after-pay .popup-main {
    padding: 50px;
}

/* POPUP Послеплата */
.popup-after-pay__sub-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.popup-after-pay__block-haeding {
    margin-bottom: 10px;
    text-align: center;
    padding: 8px 0;
    background-color: rgba(255, 213, 0, 0.58);
}

.popup-after-pay__warehouse {
    display: flex;
    margin-bottom: 30px;
}

.warehouse__colm {
    max-width: 200px;
    width: 100%;
    margin-right: 50px;
}

.warehouse__colm:last-child {
    margin-right: 0;
}

.warehouse__colm  .warehouse_title {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
}

.warehouse__colm  .warehouse_item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
} 

.warehouse__colm.ng-hide {
    display: none;
}

@media (max-width: 1024px) {
    .popup-after-pay__sub-title {
        font-size: 15px;
        margin-bottom: 15px;
    }
}

@media (max-width: 560px) {
    .popup-after-pay__warehouse {
        flex-direction: column;
        align-items: baseline;
    }
    .warehouse__colm {
        margin-bottom: 20px;
    }
    .warehouse__colm:last-child {
        margin-bottom: 0;
    }
    .warehouse__colm  .warehouse_title {
        font-size: 15px;
        line-height: 20px;
    }
    .warehouse__colm  .warehouse_item {
        font-size: 15px;
        line-height: 20px;
    } 
}

.calc-form__group-title--express {
    display: none;
}

/* Express block */
.calc-express {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.calc-express__image {
    width: 213px;
    height: 191px;
}
.calc-express__image img {
    width: 100%;
}

.calc-express__type {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-right: 15px;
}

.calc-express__type-item {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.calc-express__type-item input {
    margin-right: 15px;
}

.calc-express__item input {
    width: 90px;
}

.calc-express--delivery-hour select {
    width: 90px;
    background-position-x: 92%;
}

.calc-express__line--time-pickup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.calc-express__item-wrap {
    display: flex;
    margin-left: 3px;
}

#timeSend {
    margin-left: 35px;
}

.calc-express__item--timeSendTo {
    margin-left: 45px;
}

.calc-express__item--timeSendTo label {
    margin-right: 10px;
}

.calc-express--delivery-hour label {
    margin-right: 8px;
}

.calc-express__form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-left: 10px;
}

.calc-footer__notice-item--express-only {
    display: none;
}

#cargo-parameters--express {
    display: none;
}

@media (max-width: 1024px) {
    .calc-express  {
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 15px;
    }
    .calc-express__image {
        order: 1;
    }
    .calc-express__form {
        margin-left: 0;
        margin-bottom: 15px;
    }
    .calc-express__type {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 900px) {
    .calc-footer--express-block .calc-footer__notice {
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 15px;
    }
    .calc-footer--express-block .calc-footer__notice-item {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

@media (max-width: 490px) {
    .calc-express__line--time-pickup {
        flex-direction: column;
        align-items: baseline;
        margin-bottom: 15px;
    }
    .calc-express__line--time-pickup .kill-coma {
        display: none;
    }
    .calc-express__line--time-pickup  #timeSend {
        margin-left: 15px;
    }
    .calc-express__line--time-pickup .calc-express__item-wrap {
        margin-top: 15px;
    }
    .calc-express--delivery-hour select {
        width: 135px;
    }
    .calc-express__item--timeSendTo {
        margin-left: 35px;
    }
    .calc-express--delivery-hour label {
        margin-right: 15px;
    }
}

/* Full Calc start here */

.calc-form__warehouse-select {
    display: flex;
    align-items: center;
}

.calc-form__warehouse-select select {
    width: 352px;
}

.calc-form__warehouse-map {
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/system/icon/calc/map_icon.png') no-repeat center;
    background-size: 100%;
    margin-left: 5px;
}

/* Выбор Категории */

.tariff-category__wrapper {
    max-width: 805px;
    width: 100%;
}

.tariff-category {
    padding: 30px 20px;
    background-color: #F8F8F8;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
}

.pick-category__wrapper {
    display: flex;
}

.pick-category {
    margin-bottom: 18px;
    font-weight: 600;
    max-width: 387px;
    width: 100%;
}

/* Алерт */
.calc-alert {
    position: relative;
    margin-left: 50px;
    display: none;
}

.calc-alert--cargo {
    display: block;
}

.calc-alert__btn {
    width: 30px;
    height: 28px;
    margin-top: 6px;
    cursor: pointer;
}

.calc-alert__btn img {
    width: 100%;
}

.calc-alert__popup-item {
    display: none;
    position: absolute;
    bottom: 10px;
    right: -252px;
    width: 240px;
    background-color: #FC6868;
    border-radius: 5px;
    padding: 20px 30px;
}

.calc-alert__popup-item::before {
    content: " ";
    position: absolute;
    bottom: 18px;
    left: -11px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 16px solid #FC6868;
    border-bottom: 8px solid transparent;
}

.calc-alert__popup-item table {
    border-collapse: collapse;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0 auto;
}

.calc-alert__popup-item th {
    font-weight: normal;
}

/* Кнопка удалить блок */
.delete-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 11px;
    height: 11px;
    background: url('../img/system/icon/add-file__delete.svg') no-repeat center;
    background-size: 11px;
    cursor: pointer;
}

.tariff-category--example-clone .delete-btn {
    display: none;
}

/* Ввод параметров груза */
.select-option {
    display: none;
    align-items: flex-end;
    flex-wrap: wrap;
}

.select-option.hide {
    display: none;
}

.select-option.active {
    display: flex;
}

.select-option__select-item {
    width: 190px;
}

.select-option__item {
    width: min-content;
    margin-right: 15px;
    margin-bottom: 20px;
}

.select-option__item:last-child {
    margin-right: 0;
}

.select-option__item input {
    width: 94px;
    padding: 0 10px;
}

.select-option__item select {
    padding: 0 20px 0 10px;
}

.select-option--documents input {
    width: 111px;
}

.select-option--documents .select-option__select-item {
    width: 387px;
}

.select-option--industry-tariffs .select-option__select-item  {
    width: 263px;
}

.select-option--industry-tariffs .select-option__select-item--small {
    width: 142px;
}

.select-option--pallets .select-option__select-item--small {
    width: 100px;
}

.select-option__item label {
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    /* .select-option__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 0;
    } */
    .select-option__item input {
        width: 125px;
    }
}

/* Доп. Услуги */
.additional-option .calc-form__group-title {
    margin-bottom: 0;
}

.additional-option__inner {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.additional-option__pick-option {
    display: none;
    margin: 10px 15px 20px 0;
    max-width: 387px;
    width: 100%;
}

.additional-option__pick-option--ticket {
    margin: 10px 15px 20px 0;
    max-width: 387px;
    width: 100%;
}

.additional-option__pick-option.active {
    display: block;
}

.additional-option__list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.additional-option__item {
    width: 94px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.additional-option__item:last-child {
    margin-right: 0;
}

.additional-option__item input {
    width: 100%;
    margin-top: 10px;
}

/* ДУ квитанции */
.additional-option--ticket .additional-option__inner{
    margin-bottom: 10px;
}

/* Кнопка добавить категорию */
.add-category-btn {
    margin-bottom: 50px;
}

.add-category-btn span{
    color: #ffd500;
    margin-right: 5px;
    font-weight: bold;
    font-size: 16px;
}

.full-calc__btn-group {
    display: flex;
    flex-wrap: wrap;
}

.full-calc__btn-group a:first-child {
    margin-right: 30px;
}

.full-calc__btn-group .main-btn {
    margin-right: 30px;
}

/* Кнопка Печать */
.calc-form__text-btn {
    color: #808080;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 30px;
    white-space: nowrap;
}

.calc-form__text-btn img {
    margin-right: 5px;
    padding-top: 5px;
    width: 16px;
}

.calc-form__text-btn:hover {
    color: #ffd500;
}

@media (max-width: 1024px) {
    .full-calc__btn-group .main-btn,
    .full-calc__btn-group .calc-form__text-btn {
        margin-bottom: 20px;
        text-align: center;
    }
}

/* Блок добавление дополнительной инфы, для залогиненых пользователей */
.add-info {
    margin-top: 30px;
}

.add-info__item[open] summary ~ * {
	animation: acc-media-open 0.3s ease-in-out;
}

.add-info__item summary::-webkit-details-marker {
	display: none;
}

.add-info__item summary {
    display: flex;
    align-items: center;
    max-width: 730px;
	width: 100%;
	height: 72px;
	position: relative;
	margin-bottom: 30px;
	cursor: pointer;
	list-style: none;
	background-color: #F0F5F9;
	border-radius: 5px;
    outline: 0;
    padding: 0 70px 0 30px;
}

.add-info__item summary:after {
	content: " ";
	position: absolute;
    right: 20px;
    top: 20px;
	width: 35px;
	height: 35px;
	background: #ffd500 url("../img/system/icon/tabs-icon--close.svg") no-repeat center;
	border-radius: 50px;
	transform-origin: center;
    transition: transform .2s linear;
    transform: rotate(0deg);
}

.add-info__item[open] summary:after {
    transform: rotate(90deg);
	background: #fff url("../img/system/icon/tabs-icon--open.svg") no-repeat center;
    transition: transform .5s linear;
}

.add-info__heading h3 {
    font-size: 20px;
    line-height: 24px;
}

.add-info__line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.add-info__sub-title {
    margin-right: 30px;
    font-weight: bold;
}

.add-info__label {
    margin-right: 20px;
}

.add-info__label--long {
    width: 187px;
}

.add-info__select--large {
    width: 491px;
}

.add-info__select--middle {
    width: 387px;
    margin-left: auto;
}

.add-info__select--one-item {
    margin-left: 103px;
    width: 491px;
}

.add-info__comment {
    width: 387px;
    max-width: 387px;
    min-width: 387px;
    max-height: 150px;
    min-height: 40px;
}

.add-info__date-item {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.add-info__date-item input {
    width: 178px;
}

.add-info__date-item:last-child {
    margin-right: 0;
}

.add-info__contact-face {
    width: 283px;
    margin-right: 30px;
}

.add-info__contact-face:last-child {
    margin-right: 0;
}

.add-info__line--contact-name label {
    width: 300px;
}

.add-info__line--contact-name input {
    width: 283px;
}

@media (max-width: 1024px) {
    .add-info__item summary {
        height: 50px;
        margin-bottom: 15px;
        padding: 0 60px 0 10px;
    }
    .add-info__item summary:after {
        right: 10px;
        top: 10px;
        width: 30px;
        height: 30px;
        background-size: 10px;
    }
    .add-info__item[open] summary:after {
        background-size: 10px;
    }
    .add-info__heading h3 {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
    }
}

/* Кнопка "Создать" */
.create-btn {
    display: flex;
    align-items: center;
    margin-left: 30px;
    max-width: 180px;
    width: 100%;
}

.create-btn__item {
    max-width: 74px;
    min-width: 74px;
    height: 40px;

    color: #ffd500;
    font-size: 29px;
    font-weight: 600;
    padding-bottom: 5px;
    margin-right: 15px;
}

.create-btn__text {
    font-weight: bold;
}

.add-info__line-title {
    width: 170px;
    margin-right: 10px;
}

.radio-btn__group {
    display: flex;
}

.radio-btn__group label {
    display: flex;
    align-items: center;
    margin-right: 85px;
    cursor: pointer;
    width: 150px;
}

.radio-btn__group label:last-child {
    margin-right: 0;
}

.radio-btn__group input {
    margin-right: 15px;
    height: 20px;
}

.add-info__create-receipt {
    max-width: 730px;
}

.document-type {
    display: flex;
    margin-left: auto;
}

.document-type--id-card,
.select-yur-face {
    display: none;
}

#DenyIssueSeria {
    width: 40px;
    margin-right: 10px;
    padding: 0 5px;
}

#DenyIssuePhone,
#DenyIssueNumber,
#DenyIssueNumberIdCard,
#DenyIssueNumberOkpo  {
    width: 200px;
}

/* Последняя группа кнопок в Расширенном Калькуляторе */
.last-btn-group {
    display: flex;
    flex-wrap: wrap;
}

.last-btn-group a,
.last-btn-group .main-btn {
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .last-btn-group .calc-form__text-btn {
        order: -1;
    }
}

.last-btn-group .main-btn:first-child {
    margin-right: 30px;
}

.calc-create-address__line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    max-width: 540px;
    width: 100%;
}

.calc-create-address__line label {
    width: 80px;
    margin-right: 5px;
}

.calc-create-address__input {
    width: 179px;
    margin-right: 13px;
}

.calc-create-address__input:last-child {
    margin-right: 0;
}

.calc-create-address__input--large {
    flex-grow: 1;
}

/* Поп-ап создание  нового получателя */
#popup-calc-create-client .popup-main {
    padding-left: 40px;
    padding-right: 40px;
}

.calc-create-client__nav {
    display: flex;
}

.calc-create-client__item {
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.calc-create-client__item:last-child {
    margin-right: 0;
}

.calc-create-client__item input {
    height: fit-content;
    margin-right: 15px;
}

.calc-create-client__line {
    display: flex;
    margin-bottom: 20px;
    max-width: 545px;
    width: 100%;
}

.calc-create-client__line label {
    margin: auto 10px auto 0;
    min-width: 180px;
}

.calc-create-client__line input,
.calc-create-client__line select {
    max-width: 365px;
    width: 100%;
}

.calc-create-client__or-text {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.calc-create-client__btn-group {
    margin-top: 30px;
}

.calc-create-client__btn-group .main-btn:first-child {
    margin-right: 30px;
}

.network_trading_list {
    max-width: 535px;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    margin-top: 15px;
}

.network_trading_list::-webkit-scrollbar { width: 3px; height: 3px;}
.network_trading_list::-webkit-scrollbar-button { height: 0; width: 3px;}
.network_trading_list::-webkit-scrollbar-thumb {background-color: #ffd500; border-radius: 50px;}
.network_trading_list::-webkit-scrollbar-track-piece { background-color: #dadada;}

.network_trading_list>div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #F0F5F9;
    cursor: pointer;
}

.network_trading_logo {
    width: 105px;
    height: 40px;
    margin-right: 15px;
}

.network_trading_name {
    font-weight: 600;
}

.network_trading_name label {
    cursor: pointer;
}

.search_input_tn {
    width: 100%;
    background: url('https://delivery-auto.com/Images/Calculation/ic_search.png') no-repeat;
    background-position: 97% 50%;
    background-size: 27px;
    padding-right: 50px;
}

.search_input_tn::placeholder {
    color: #999;
}

.calc-create-client__fiz-face,
.calc-create-client__yur-face,
.calc-create-client__company {
    display: none;
}

.calc-create-client__fiz-face.active,
.calc-create-client__yur-face.active,
.calc-create-client__company.active {
    display: block;
}

.show-in-express {
    display: none;
} 

.radio-btn__group--type-order {
    margin-left: 27px;
}

.radio-btn__group--type-order label {
    width: auto;
    min-width: 200px;
    margin-right: 10px;
}

.calc-form__label--express-date {
    margin: 0 10px 0 auto;
}











