/* ======================================================
//   Стили для страницы Light Калькулятор
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__calc.jpg") no-repeat;
}

/* =================================== */

.calculate-nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #F8F8F8;
    border: 1px solid #DADADA;
    border-radius: 5px;
    margin-bottom: 32px;
}

.calulate-nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.333333%;
    height: 100%;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #333333;
	text-align: center;
    position: relative;
}

.calulate-nav__item:nth-child(2)::after {
    content: " ";
    position: absolute;
    top: 9px;
    right: 0;
    width: 1px;
    height: 40px;
    background-color: #DADADA;
}

.calulate-nav__item--active {
    height: 64px;
    background-color: #ffd500;
    border-radius: 5px;
    font-weight: bold;
    margin-right: -3px;
}

.full-word {
	margin-left: 3px;
	display: block;
}

.short-word {
	margin-left: 3px;
	display: none;
}

@media (max-width: 1024px) {
	.full-word {
		display: none;
	}
	.short-word {
		display: block;
	}
	.calculate {
		margin-top: 20px;
	}
	.calculate-nav {
		margin-bottom: 20px;
	}
	.calulate-nav__item {
		font-size: 13px;
		flex-direction: column;
	}
}

/* Calc common */

.calc-form {
    width: 870px;
    padding-left: 65px;
}

.calc-form__group-title {
    margin-bottom: 11px;
    font-size: 16px;
    line-height: 20px;
}

.calc-form__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.calc-form__colm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 387px;
    width: 100%;
}

.calc-form__input--short {
    max-width: 179px;
    width: 100%;
}

.calc-form__label {
    font-size: 16px;
    line-height: 20px;
}

.calc-form__yellow-arrow {
    position: relative;
}

.calc-form__yellow-arrow::after {
    content: " ";
    position: absolute;
    top: 10px;
    right: -26px;
    width: 20px;
    height: 20px;
    background: url('../img/system/icon/calc/calc-form__yellow-arrow.svg') no-repeat center;
    background-size: 21px;
}




.calc-switch-btn {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}

.calc-switch-btn .calc-form__label {
    margin-right: 15px;
}


.calc-switch-btn__toggle {
    isolation: isolate;
    position: relative;
    height: 32px;
    width: 65px;
    border-radius: 20px;
    overflow: hidden;
}

.calc-switch-btn__toggle-state {
    display: none;
}

.calc-switch-btn__indicator {
    height: 24px;
    width: 24px;
    background-color: #fff;
    border-radius: 15px;
    transform: translate3d(8px, 4px, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);;
}

.calc-switch-btn__bg {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DADADA;
    transition: .3s linear all;
}

.calc-switch-btn__toggle-state:checked ~ .calc-switch-btn__indicator {
    transform: translate3d(34px, 4px, 0);
}

.calc-switch-btn__toggle-state:checked ~ .calc-switch-btn__bg  {
    background-color: #ffd500;
    transition: .3s linear all;
}

.calc-switch-btn__desc {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #999;
    margin-left: 25px;
}


.calc-switch-btn__desc--active {
    color: #333;
}










.time-line {
    position: relative;
}

.time-line:before {
    content: " ";
    position: absolute;
    top: 15px;
    left: -65px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #DADADA;
}

.time-line-active:before {
    background-color: #00D315 !important;
    box-shadow: 0px 2px 10px rgba(8, 227, 30, 0.63);
}

.time-line--first-point::before {
    top: -22px;
}

.calc-form {
    position: relative;
}

.calc-form::before {
    content: " ";
    position: absolute;
    top: 10px;
    left: 3px;
    width: 2px;
    height: 100%;
    max-height: 535px;
    border-right: 2px dashed #DADADA;
}

.calc-type-cargo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(67, 67, 67, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.calc-type-cargo__item {
    display: flex;
    align-items: center;
    padding-left: 13px;
    width: 25%;
    height: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    position: relative;
}

.calc-type-cargo__item::after {
    content: ' ';
    position: absolute;
    top: 18px;
    right: -2px;
    width: 1px;
    height: 35px;
    background-color: #DADADA;
}

.calc-type-cargo:hover .calc-type-cargo__item::after {
    background-color: #ffd500;
}

.calc-type-cargo__item--active {
    height: 100%;
    background-color: #ffd500;
}

.calc-type-cargo__item--active::after {
    display: none;
}

.calc-type-cargo__item:last-child::after {
    display: none;
}

.calc-type-cargo__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    margin-right: 13px;
    transform: scale(1);
    transition: transform .4s linear;
}

.calc-type-cargo__item:hover {
    color: #ffd500;
}

.calc-type-cargo__item--active:hover {
    color: #333;
}


.type-cargo {
    display: none;
}

.type-cargo--active {
    display: block;
}

.after-pay-acc__hide {
    display: none;
}

.after-pay-acc__notice {
    font-size: 12px;
    line-height: 14px;
    color: #999;
}

.after-pay-acc__notice a {
    color: #3072C4;
}






.cargo-parameters {
    display: flex;
    margin-bottom: 30px;
}

.cargo-parameters__info {
    width: 300px;
    margin-right: 30px;
}

.cargo-parameters__images {
    flex-grow: 1;
    height: 315px;
    background: url('../img/system/icon/calc/cargo-parameters__bg.png') no-repeat center center;
    border-bottom: 1px solid #DADADA;
    position: relative;
}


.cargo-parameters__cargo-box {
    position: absolute;
    bottom: 10px;
    left: calc((100% - 150px) / 2);
    width: 150px;
    height: 150px;
}

.cargo-parameters__cargo-box img {
    width: 100%;
    display: block;
}

/* .cargo-box__2 {
    left: calc((100% - 250px) / 2);
    width: 250px;
    height: 250px;
} */



.cargo-parameters .calc-form__label {
    margin-right: 8px;
}


.cargo-parameters .calc-form__input--short {
    width: 130px;
    height: 40px;
}

.cargo-parameters .calc-form__line {
    margin-bottom: 15px;
}

.cargo-parameters input:disabled {
    color: #999;
    background-color: #fff;
    border: 1px solid #DADADA;
}

.cargo-parameters input:disabled ~ label {
    color: #999;
    order: -1;
}








.calc-footer {
    display: flex;
}


.calc-footer__notice {
    display: flex;
    margin-left: 30px;
}

.calc-footer__notice-item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.calc-footer__notice-item:last-child {
    margin-right: 0;
}

.calc-footer__notice-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.calc-footer__notice-text {
    max-width: 187px;
}

.calc-footer__notice-text--long {
    max-width: 100%;
    font-size: 12px;
    line-height: 20px;
}

.calc-result__inner {
    padding-top: 30px;
    margin: 30px 0;
    background-color: #FFF;
    box-shadow: 0px 4px 15px rgba(67, 67, 67, 0.1);
    border-radius: 5px;
    position: relative;
}

.calc-result__inner::before {
    content: " ";
    position: absolute;
    top: 30px;
    left: 25px;
    width: 50px;
    height: 50px;
    background: url('../img/system/icon/aside-calculator.svg') no-repeat center center;
    background-size: 50px;
}

.calc-result__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 105px;
    margin-bottom: 15px;
}

.calc-result__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding-top: 5px;
}

.calc-result__item--bold {
    font-weight: 600;
}

.calc-result__total {
    background-color: #F0F5F9;
    border-radius: 0px 0px 5px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}