/* ======================================================
//   Трекинг Квитанций Незалогиненого пользователя
========================================================= */

/* Хедер страницы */
.page-header {
	background: #fff url("../img/system/page-header/page-header__mob-app.jpg") no-repeat;
}

/* =================================== */

.tracking__container {
    margin: 0 auto;
    max-width: 1015px;
    width: 100%;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.tracking__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 33px;
    width: 100%;
    height: 56px;
    background: rgb(255,210,38);
    background: linear-gradient(90deg, rgba(255,210,38,1) 0%, rgba(252,229,142,1) 53%, rgba(250,238,192,1) 100%);
}

.tracking__block-logo img {
    display: block;
    width: 90px;
    height: auto;
}

.tracking__block-title {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}

.tracking__inner {
    max-width: 1015px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F8F8F8;
    padding: 35px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .main__container {
        padding: 0;
    }
    .tracking__container {
        box-shadow: none;
    }
    .tracking__inner {
        padding: 0;
        flex-direction: column;
        align-items: baseline;
        background-color: #fff;
    }
}

.short-ticket,
.login-block {
    background-color: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.short-ticket {
    width: 484px;
    height: fit-content;
}

.login-block {
    width: 428px;
    height: fit-content;
    padding: 25px 33px;
}

.login-block__main-img {
    margin-bottom: 30px;
}

.login-block__main-img img {
    display: block;
    width: 360px;
    height: auto;
    margin: 0 auto;
}

.login-block__title {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.tracking-login {
    margin-bottom: 25px;
}

.tracking-login input {
    width: 100%;
    height: 48px;
    margin-bottom: 15px;
}

.tracking-login input::placeholder {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 16px;
    color: #999999;
}

.tracking-login__btn {
    width: 100%;
    border-radius: 2px;
}

.login-block__reg-text {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    margin-bottom: 30px;
}

.reg-text__item {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #666;
    text-align: right;
}

.reg-text__item a {
    color: #3072C4;
}

.reg-text__item a:hover {
    color: #3072C4;
    text-decoration: underline;
}

.login-block__mob-app-enter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;;
}

.mob-app-enter__store-item {
    display: block;
    transition: transform .4s linear;
}

.mob-app-enter__store-item:hover {
    transform: scale(1.03);
    transition: transform .4s linear;
}

.mob-app-enter__store-item:first-child {
    margin-bottom: 15px;
}

.mob-app-enter__store-item img {
    display: block;
    width: 133px;
    height: 40px;
}

.qr-code__guide {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #333;
    max-width: 117px;
    margin: 0 auto 8px auto;
}

.login-block__legal-alert {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
}

.legal-alert__text {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #999;
}

.legal-alert__text:first-child {
    margin-bottom: 17px;
}

@media (max-width: 1024px) {
    .short-ticket,
    .login-block {
        background-color: #FFF;
        box-shadow: none;
        width: 100%;
    }
    .login-block {
        padding: 0;
    }
    .mob-app-enter__qr-code {
        display: none;
    }
    .login-block__mob-inner {
        background-color: #F8F8F8;
        padding: 20px 15px 0 15px;
    }
    .mob-app-enter__store {
        display: flex;
        justify-content: space-between;
        max-width: 310px;
        width: 100%;
    }
    .reg-text__item {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .login-block__reg-text {
        padding-top: 15px;
        padding-bottom: 24px;
        margin-bottom: 24px;
    }
    .login-block__mob-app-enter {
        padding: 0 16px;
    }
    .tracking-login {
        margin: 0 auto 25px auto;
        max-width: 300px;
    }
    .login-block__legal-alert {
        padding: 15px 16px 0 16px;
    }
    .login-block__title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .login-block__main-img {
        margin-bottom: 18px;
    }
    .login-block__main-img img {
        width: 288px;
    }
    .tracking-login input::placeholder {
        font-size: 14px;
    }
}

/* Короткая Квитанция для незалогиненого */
.ticket-header {
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 5px 25px;
    background: rgba(255, 220, 85, 0.2);
}

.ticket-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.ticket-header__mobile-title {
    display: none;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #333;
}

.ticket-header__number {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #333;
}
.tiket-header__btn-group {
    display: flex;
}

.ticket-header__btn-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: all .3 linear;
}

.ticket-header__btn-icon img {
    display: block;
    width: 32px;
    height: 32px;
}

.ticket-header__btn-icon:hover {
    transition: all .3 linear;
    background: rgba(0, 0, 0, 0.1);
}

.ticket-header__btn-icon--add-deliv {
    margin-left: 10px;
}

.ticket-header__btn-icon--add-deliv img {
    width: 24px;
    height: 24px;
}

.ticket-header__tooltip {
    display: none;
    position: absolute;
    bottom: -40px;
    right: 0;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    padding: 9px 17px 11px 17px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.ticket-header__btn-icon:hover .ticket-header__tooltip {
    display: block;
}

.short-ticket__container {
    padding: 25px 27px 33px 27px;
}

@media screen and (max-width: 1024px) {
    .ticket-header__mobile-title {
        display: block;
    }
    .tracking__header {
        display: none;
    }
    .ticket-header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        height: 80px;
        padding: 8px 15px 17px 15px;
    }
    .short-ticket__container {
        padding: 16px 16px 20px 16px;
    }
}

.ticket-status {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.date-status__item {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}

.date-status__item:last-child {
    margin-bottom: 0;
}

.date-status__time {
    width: 93px;
    margin-right: 7px;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333;
}

.date-status__description {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #666;
}

.ticket-status__main-status {
    display: flex;
    height: 57px;
    margin-bottom: 20px;
}

.main-status__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.main-status__icon {
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 25px;
}

.main-status__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.main-status__title {
    min-width: 110px;
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #87AF3F;
    margin-right: 15px;
    margin-bottom: 8px;
}

.main-status__last-time {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #666;
    margin-bottom: 8px;
}

.main-status__block-drop {
    display: flex;
    align-items: center;
}

.block-drop__title {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #999;
    margin-right: 5px;
}

.block-drop__icon {
    display: block;
    width: 18px;
    height: 18px;
}

.ticket-route {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}

.ticket-route__inner {
    display: flex;
}

.ticket-route__progress-bar {
    height: auto;
    width: 2px;
    background-color: #999;
}

.ticket-route__route-header {
    cursor: pointer;
    width: 100%;
}

.route-header__item {
    width: 90%;
    position: relative;
    padding-left: 20px;
}

.route-header__item--send-from {
    margin-bottom: 22px;
}

.route-header__item--send-from::before,
.route-header__item--road-to::before {
    content: ' ';
    position: absolute;
    top: -1px;
    left: -5px;
    width: 8px;
    height: 8px;
    background-color: #999;
    border-radius: 50px;
}

.route-header__item--road-to::before {
    top: auto;
    bottom: 0;
}

.route-header__item--send-from::after,
.route-header__item--road-to::after {
    content: ' ';
    position: absolute;
    top: -5px;
    right: -45px;
    width: 32px;
    height: 32px;
    background: url('../img/new-img-file/route-header__point.svg') no-repeat center center;
    background-size: 32px;
}

.route-header__item--road-to::after {
    top: 5px;
    background: url('../img/new-img-file/route-header__car-point.svg') no-repeat center center;
}

.route-header__office-name {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #333;
}

.route-header__office-address {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.road-to {
    margin-top: 15px;
}

.road-to__map {
    width: 100%;
    height: 180px;
    margin-bottom: 15px;
}

.office-info__title {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #999;
    margin-bottom: 5px;
}

.office-info__desc {
    font-family: 'Segoe UI';
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    margin-bottom: 12px;
}

.office-info__desc a {
    color: inherit;
}

.office-info__desc a:hover {
    color: #3072C4;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .main-status__last-time {
        font-size: 14px;
        line-height: 19px;
    }
    .ticket-status {
        margin-bottom: 23px;
    }
    .ticket-route {
        border-bottom: none;
        padding-bottom: 0;
    }
}

@media (max-width: 400px) {
    .route-header__item--send-from::after, .route-header__item--road-to::after {
        right: -40px;
    }
}