<!-- <div class="aside-news"> -->
    <a href="ko-news.html">
        <h5 class="aside-block__title">Новини</h5>
        <ul>
            <li class="aside-news__item">
                <time>03.07</time>
                <p>Введення післяплати готівкою на складах</p>
            </li>

            <li class="aside-news__item">
                <time>02.07</time>
                <p>Відкриття представництв «Делівері» у 2020 році</p>
            </li>

            <li class="aside-news__item">
                <time>19.06</time>
                <p>Відкриття нового представництва у м. Рівне (склад №4)</p>
            </li>

            <li class="aside-news__item">
                <time>12.06</time>
                <p>Особливості роботи складу м. Верховина</p>
            </li>

            <li class="aside-news__item">
                <time>01.05</time>
                <p>Делівері відновлює стандартний термін зберігання вантажу на складах</p>
            </li>
        </ul>
    </a>
<!-- </div> -->