<!-- <div class="aside-links"> -->
    <h5 class="aside-block__title">Компанії групи «DELIVERY»</h5>
    <ul class="aside-links__inner">
        <li>
            <a href="https://delivery-auto.com/" target="_blank">
                <img src="img/system/delivery-group__logos/delauto-logo--very-small.jpg" alt="delauto logo">
            </a>
        </li>

        <li>
            <a href="https://deltruck.com/uk-ua" target="_blank">
                <img src="img/system/delivery-group__logos/deltruck-logo--very-small.jpg" alt="deltruck logo">
            </a>
        </li>

        <li>
            <a href="https://www.delivery-international.com/uk-ua" target="_blank">
                <img src="img/system/delivery-group__logos/delinter-logo--very-small.jpg" alt="delivery International logo">
            </a>
        </li>

        <li>
            <a href="https://www.kvorum.com.ua/uk-ua" target="_blank">
                <img src="img/system/delivery-group__logos/kvorum-logo--very-small.jpg" alt="kvorum logo">
            </a>
        </li>
    </ul>
<!-- </div> -->