<!-- <section class="section"> -->
	<div class="container">
		<div class="faq">
			<aside class="feedback">
				<h3 class="feedback__title">
					Замовити дзвінок
				</h3>
				<form action="" class="feedback__form">
					<div class="feedback__group">
						<div class="feedback__item">
							<label class="feedback__label">Ваше ім’я</label>
							<input type="text" class="feedback__input" data-val="true" data-val-required="Потрібно поле Iм'я." name="Name">
						</div>
						<div class="feedback__item">
							<label class="feedback__label">Номер на який ми зателефонуємо</label>
							<input class="feedback__input" data-val="true" data-val-required="Потрібно поле Телефон." id="Phone" name="Phone" data-val-regex-pattern="^([0-9]{10})$" minlength="10" maxlength="10" type="tel">
						</div>
					</div>

					
					<div class="feedback__item">
						<label class="feedback__label">Тема питання</label>
						<select class="feedback__select">
							<img class="select-icon" src="img/system/icon/faq__arrow-down.svg" alt="">
							<option value="0" disabled selected style="display:none">Оберіть</option>
							<option value="1">Оформити заявку на адресний забір/доставку вантажів</option>
							<option value="2">Отримати інформацію по квитанції</option>
							<option value="3">Отримати інформацію по послугах компанії</option>
							<option value="4">Розрахунок вартості</option>
							<option value="5">Міжнароднi перевезення</option>
							<option value="6">Внести зміни в квитанцію, переадресація вантажу</option>
							<option value="7">Запит рахунку, калькуляції</option>
							<option value="8">Питання втрати, пошкодження вантажу</option>
							<option value="9">Замовити комерційну пропозицію</option>
							<option value="10">Укласти договір про співпрацю</option>
							<option value="11">Особистий кабінет</option>
							<option value="12">Зміни з логістики</option>
							<option value="13">Інша тема</option>
						</select>
					</div>
				
					<div class="feedback__item">
						<label class="feedback__label">Повідомлення</label>
						<textarea class="feedback__textarea" cols="30" rows="10"></textarea>
					</div>
					
					<button class="feedback__btn popup-order-approve_open">Надіслати</button>
				</form>
			</aside>

			<div class="faq-block">
				<h3 class="faq-block__title">
					Часті запитання
				</h3>

				<div class="faq-block__questions">
					<div class="questions">
						<input class="questions__input" type="radio" checked name="tab" id="tab1">
						<label class="questions__label" for="tab1">Відправити вантаж від адресу</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Відправити вантаж від адресу
							</h2>
							<p class="answer__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum modi inventore adipisci, quis, ipsa ullam dolor natus deserunt itaque aut delectus eos at vitae laborum nemo obcaecati reprehenderit, ad excepturi!</p> 
							<p class="answer__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut ribus. Molestias autem optio delectus, laudantium corrupti dicta facere quas molestiae blanditiis nesciunt officiis non ipsam voluptas corporis accusantium esse cum eveniet nulla vitae.</p> 
							<p class="answer__text">Lorem ipsum dolor sit amet cognissimos ducimus iste, dolores distinctio perferendis odio, autem non, animi totam commodi itaque dolor placeat? Enim dolores maiores repudiandae ex ullam!</p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" checked name="tab" id="tab2">
						<label class="questions__label" for="tab2">Відправити вантаж зі складу</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Відправити вантаж зі складу
							</h2>
							<p class="answer__text">1. Lorem, ipsum dolor sit amet consectetur adipisicem. At id quae aut, alias minima nisi voluptatibus dolore quam cum repellendu consequatur temporibus? Reiciendis dolorum veniam magni nisi maxime qui temporibus necessitatibus quisquam optio?</p> 
							<p class="answer__text">2. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, provident ad cumque doloribus aspernatur maiores architecto ducimus assumenda ratione  voluptas cum amet corporis accusantium quis veritatis in quidem! </p> 
							<p class="answer__text">3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, veniam.</p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" name="tab" id="tab3">
						<label class="questions__label" for="tab3">Пошвидшити відправлення вантажу</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Пошвидшити відправлення вантажу
							</h2>
							<p class="answer__text">1. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam perspiciatis dignissimos provident! Eos itaque quaerat dolorem, sunt aut hic. At dolore dolorum sunt, molestiae fugit rem niet minima cupiditate eligendi voluptatum? Odio ad provident ratione, dolores quas facilis harum doloremque non sit.</p> 
							<p class="answer__text">2. Lorem, ipsum dolor. </p> 
							<p class="answer__text">3. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis aperiam ad? Iste explicabo architecto voluptatem et, voluptates expedita! Velit laudantium distinctio sunt odio ea maiores, corrupti et at assumenda?</p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" name="tab" id="tab4">
						<label class="questions__label" for="tab4">Сплатити готівкою</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Сплата готівкою
							</h2>
							<p class="answer__text">1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.a, cum odit obcaecati eius. Nobis voluptatem numquam possimus officia aliquam odit odio reiciendis fugiat.</p> 
							<p class="answer__text">2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, earum rerum. Nulla tempora laborum dolorem incidunt quia. Eum expedita suscipit aliquam minima quod porro reprehenderit qui facere. Quidem, asperiores recusandae! </p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" name="tab" id="tab5">
						<label class="questions__label" for="tab5">Отримати вантаж на терміналі</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Отримати вантаж на терміналі
							</h2>
							<p class="answer__text">1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.a, cum odit obcaecati eius. Nobis voluptatem numquam possimus officia aliquam odit odio reiciendis fugiat.</p> 
							<p class="answer__text">2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, earum rerum. Nulla tempora laborum dolorem incidunt quia. Eum expedita suscipit aliquam minima quod porro reprehenderit qui facere. Quidem, asperiores recusandae! </p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" name="tab" id="tab6">
						<label class="questions__label" for="tab6">Сплатити карткою онлайн</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Сплатити карткою онлайн
							</h2>
							<p class="answer__text">1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.a, cum odit obcaecati eius. Nobis voluptatem numquam possimus officia aliquam odit odio reiciendis fugiat.</p> 
							<p class="answer__text">2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, earum rerum. Nulla tempora laborum dolorem incidunt quia. Eum expedita suscipit aliquam minima quod porro reprehenderit qui facere. Quidem, asperiores recusandae! </p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" name="tab" id="tab7">
						<label class="questions__label" for="tab7">Сплатити карткою онлайн</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Сплатити карткою онлайн
							</h2>
							<p class="answer__text">1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.a, cum odit obcaecati eius. Nobis voluptatem numquam possimus officia aliquam odit odio reiciendis fugiat.</p> 
							<p class="answer__text">2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, earum rerum. Nulla tempora laborum dolorem incidunt quia. Eum expedita suscipit aliquam minima quod porro reprehenderit qui facere. Quidem, asperiores recusandae! </p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" name="tab" id="tab8">
						<label class="questions__label" for="tab8">Сплатити за безготівковим рахунком</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Сплатити за безготівковим рахунком
							</h2>
							<p class="answer__text">1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.a, cum odit obcaecati eius. Nobis voluptatem numquam possimus officia aliquam odit odio reiciendis fugiat.</p> 
							<p class="answer__text">2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, earum rerum. Nulla tempora laborum dolorem incidunt quia. Eum expedita suscipit aliquam minima quod porro reprehenderit qui facere. Quidem, asperiores recusandae! </p> 
						</div>
					</div>
					<!-- next item -->
					<div class="questions">
						<input class="questions__input" type="radio" name="tab" id="tab9">
						<label class="questions__label" for="tab9">Отримати бухгалтерські документи</label>
						<div class="questions__answer">
							<h2 class="answer__title">
								Отримати бухгалтерські документи
							</h2>
							<p class="answer__text">1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.a, cum odit obcaecati eius. Nobis voluptatem numquam possimus officia aliquam odit odio reiciendis fugiat.</p> 
							<p class="answer__text">2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, earum rerum. Nulla tempora laborum dolorem incidunt quia. Eum expedita suscipit aliquam minima quod porro reprehenderit qui facere. Quidem, asperiores recusandae! </p> 
						</div>
					</div>
				</div>

				<a href="co-faq.html" class="faq-block__ask-btn">Задати питання <img src="img/system/icon/arrow.svg" alt="arrow"></a>
			</div>
		</div>
	</div>
<!-- </section> -->