<div class="container">
	<div class="footer__inner">
		<div class="footer__support">
			<div class="support__call-center">
				<p>Безкоштовний дзвінок по Україні</p>
				<a class="call-center__number" href="tel:0 800 509 509">0 800 509 509</a>
				<p class="call-center__schedule popup-call-center_open">Графік роботи Гарячої лінії</p>
			</div>

			<a class="support__link" href="co-faq.html">Часті запитання</a>
			<a class="support__link" href="https://delivery-auto.com/uk-UA/UserReceipts">Особистий кабінет</a>
		</div>

		<div class="footer__menu">
			<div class="menu__item">
				<h4 class="menu__title">Клієнтам</h4>
				<a href="in-dev-mob.html">Розрахунок вартості</a>
				<a href="in-dev-mob.html">Представництва</a>
				<a href="cl-finance-services.html">Післяплата</a>
				<a href="co-tariff.html">Тарифи</a>
				<a href="cl-express-delivery.html">Експрес-доставка</a>
				<a href="cl-сourier-form.html">Забирання вантажу</a>
			</div>

			<div class="menu__item">
				<h4 class="menu__title">Компанія</h4>
				<a href="ko-about-group.html">Про компанію</a>
				<a href="ko-kpi.html">Індекси «Делівері»</a>
				<a href="ko-mass-media.html">Для ЗМІ</a>
			</div>
		</div>

		<div class="footer__links">
			<div class="footer-subs">
				<p class="footer-subs__title">Підпишіться на новини, щоб завжди бути в курсі акцій, знижок та подій!</p>

				<form action="" class="footer-subs__form">
					<input class="footer-subs__input" type="text" placeholder="Введіть вашу електронну адресу">
					<button class="footer-subs__btn popup-subscribe-approve_open"><img src="img/system/icon/arrow.svg" alt="enter"></button>
				</form>
			</div>

			<div class="links">
				<div class="links__apps">
					<p class="links__title">Мобільний додаток</p>
					<div class="apps__img">
						<a href="in-dev.html"><img class="hover-animation--zoom" src="img/system/mobile_app/home-page__google-play.png" alt="google-play"></a>
						<a href="in-dev.html"><img class="hover-animation--zoom" src="img/system/mobile_app/footer__app-store.png" alt="app-store"></a>
					</div>
				</div>

				<div class="links__socials">
					<p class="links__title">Ми в соцмережах</p>
					<div class="socials__img">
						<a href="https://www.instagram.com/deliverygroup_ua/" target="_blank"><img class="hover-animation--zoom" src="img/system/icon/socials__instagram.svg" alt="instagram"></a>
						<a href="https://www.linkedin.com/company/delivery-ltd/?trk=biz-companies-cym" target="_blank"><img class="hover-animation--zoom" src="img/system/icon/socials__linkedin.svg" alt="linkedin"></a>
						<a href="https://www.facebook.com/Deliveryauto" target="_blank"><img class="hover-animation--zoom" src="img/system/icon/socials__facebook.svg" alt="facebook"></a>
						<a href="https://www.youtube.com/channel/UC2ZxuQoIjvHGl2yR4FeS8qQ/featured" target="_blank"><img class="hover-animation--zoom" src="img/system/icon/socials__youtube.svg" alt="youtube"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>