<!-- <section> -->
	<div class="c-container">
		<div class="home-heading">
			<h3 class="home-heading__title">Індекси компанії</h3>
			<a href="ko-kpi.html" class="home-heading__link">Дивитись індекси <img src="img/system/icon/arrow.svg" alt="arrow"></a>
		</div>
		<a href="ko-kpi.html" class="home-kpi">
			<div class="home-kpi__inner">
				<div class="on-time">
					<p class="home-kpi__title">Своєчасно до складу</p>
					<div class="on-time__diagram">
						<span class="on-time__circle"></span>
						<div class="on-time__info">
							<img src="img/system/kpi/kpi__home-icon.png" alt="" class="on-time__icon">
							<div class="on-time__percent">
								<p>80,91 <span>%</span></p>
							</div>
	
							<div class="on-time__rank on-time__rank--green">
								<img src="img/system/kpi/kpi__arrow-green.png" alt="">
								<p>2,48</p>
							</div>
	
							<!-- Заменять green и red на нужный цвет текста и стрелки  -->
							
							<!-- Пример -->
	
							<!-- <div class="on-time__rank on-time__rank--red">
								<img src="img/system/kpi/kpi__arrow-red.png" alt="">
								<p>2,48</p>
							</div> -->
						</div>
					</div>
				</div>
	
				<div class="in-road">
					<p class="home-kpi__title">Час <br> у дорозі</p>
					<div class="in-road__diagram">
						<div class="in-road__info">
							<p class="in-road__hours">годин</p>
							<div class="in-road__time">
								<p>25:00</p>
							</div>
	
							<!-- Заменять green и red на нужный цвет текста и стрелки  -->
							<div class="in-road__rank on-time__rank on-time__rank--red">
								<img src="img/system/kpi/kpi__arrow-red.png" alt="">
								<p>01:00</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="stats">
				<div class="stats__item">
					<img class="stats__icon" src="img/system/kpi/kpi__client.png" alt="">
					<div class="stats__info">
						<p class="stats__info--first">Скарги по клієнтам</p>
						<p class="stats__info--second">0,0918<span>%</span></p>
						<p class="stats__info--third">1 скарга на 441 клієнтів</p>
					</div>

					<!-- Заменять green и red на нужный цвет текста и стрелки  -->
					<div class="stats__rank stats__rank--red">
						<img src="img/system/kpi/kpi__arrow-red.png" alt="">
						<p>0,0012</p>
					</div>
				</div>

				<!-- next item -->

				<div class="stats__item">
					<img class="stats__icon" src="img/system/kpi/kpi__search.png" alt="">
					<div class="stats__info">
						<p class="stats__info--first">Втрати вантажу</p>
						<p class="stats__info--second">0,0009<span>%</span></p>
						<p class="stats__info--third">1 скарга на 441 клієнтів</p>
					</div>

					<!-- Заменять green и red на нужный цвет текста и стрелки  -->
					<div class="stats__rank stats__rank--green">
						<img src="img/system/kpi/kpi__arrow-green.png" alt="">
						<p>0,0001</p>
					</div>
				</div>
			</div>
		</a>
	</div>
<!-- </section> -->