<div class="main-navigation">
	<div class="container container--nav">
		<nav class="nav" role="navigation">
			<ul class="nav__ul">
				<li class="nav__li">
					<p class="nav__title">Компанія</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="ko-about-group.html">Про групу компаній</a></li>
						<li class="drop__li"><a href="ko-advantages.html">Наші переваги</a></li>
						<li class="drop__li"><a href="ko-kpi.html">Індекси</a></li>
						<li class="drop__li"><a href="ko-partners.html">Партнери</a></li>
						<li class="drop__li"><a href="ko-news.html">Новини</a></li>
						<li class="drop__li"><a href="ko-mass-media.html">Прес-центр</a></li>
						<li class="drop__li"><a href="ko-franchising.html">Франчайзинг</a></li>
						<li class="drop__li"><a href="ko-сommercial-offers.html">Комерційні пропозиції</a></li>
						<li class="drop__li"><a href="ko-сounterparties.html">Контрагентам</a></li>
						<li class="drop__li"><a href="ko-tender.html">Тендер</a></li>
						<li class="drop__li"><a href="ko-job.html">Робота і кар’єра</a></li>
						<li class="drop__li"><a href="ko-developers-api.html">Розробникам</a></li>
						<li class="drop__li"><a href="ko-service-center.html">Центр обслуговування клієнтів</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Клієнтам</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="in-dev-mob.html">Розрахувати вартість</a></li>
						<li class="drop__li"><a href="cl-services.html">Послуги</a></li>
						<li class="drop__li"><a href="cl-сourier-form.html">Забір/доставка</a></li>
						<li class="drop__li"><a href="cl-express-delivery.html">Експрес-доставка</a></li>
						<li class="drop__li"><a href="cl-hot-flights.html">Горячі рейси</a></li>
						<li class="drop__li"><a href="cl-action.html">Акції</a></li>
						<li class="drop__li"><a href="cl-delivery-time.html">Терміни доставки</a></li>
						<li class="drop__li"><a href="cl-packing-rules.html">Правила упаковки</a></li>
						<li class="drop__li"><a href="cl-finance-services.html">Фінансові послуги</a></li>
						<li class="drop__li"><a href="cl-program-loyalty.html">Програма лояльності</a></li>
						<li class="drop__li"><a href="cl-mob-app.html">Мобільний додаток</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Вартість</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="co-tariff.html">Тарифи</a></li>
						<li class="drop__li"><a href="co-discount.html">Система знижок</a></li>
						<li class="drop__li"><a href="in-dev-mob.html">Додаткові послуги</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Документи</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="co-documents.html">Шаблони і бланки</a></li>
						<li class="drop__li"><a href="co-documents-offerta.html">Договір публічної оферти</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<a class="nav__title" href="in-dev-mob.html">Відділення</a>
				</li>

				<li class="nav__li">
					<a class="nav__title" href="co-faq.html">Зв’язок та підтримка</a>
				</li>
			</ul>
		</nav>

		<div class="nav-numbers">
			<a href="tel:0 800 509-509" class="nav-numbers__item tooltip">
				<img src="../HTML/img/system/icon/phone.svg" alt="phone">
				<p id="nav-numbers__tel">0 800 509-509</p>

				<div class="tooltip__info">
					<h3>Гаряча лінія</h3>
					<p id="tooltip__tel">0 800 509-509</p>
					<p>Безкоштовний дзвінок
						<br> по Україні.</p>
					<i></i>
				</div>
			</a>

			<a href="tel:0 800 509-509" class="nav-numbers__item tooltip">
				<img src="../HTML/img/system/icon/car.svg" alt="delivery phone">
				<p id="nav-numbers__tel">0 800 509-609</p>

				<div class="tooltip__info">
					<h3>Замовити доставку/забір</h3>
					<p id="tooltip__tel">0 800 509-609</p>
					<p>Безкоштовний дзвінок
						<br>по Україні.</p>
					<i></i>
				</div>
			</a>
		</div>
	</div>
</div>
