<div class="main-navigation">
	<div class="container container--nav">
		<nav class="nav" role="navigation">
			<ul class="nav__ul">
				<li class="nav__li">
					<p class="nav__title">Компанія</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="in-dev.html">Перевезення</a></li>
						<li class="drop__li"><a href="in-dev.html">Додаткові послуги</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Клієнтам</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="in-dev.html">Про компанію</a></li>
						<li class="drop__li"><a href="in-dev.html">Новини</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<p class="nav__title">Вартість</p>
					<ul class="drop__ul">
						<li class="drop__li"><a href="in-dev.html">Тарифи</a></li>
						<li class="drop__li"><a href="in-dev.html">Документація</a></li>
						<li class="drop__li"><a href="in-dev.html">Акції</a></li>
					</ul>
				</li>

				<li class="nav__li">
					<a class="nav__title" href="in-dev.html">Документи</a>
				</li>

				<li class="nav__li">
					<a class="nav__title" href="in-dev.html">Відділення</a>
				</li>

				<li class="nav__li">
					<a class="nav__title" href="in-dev.html">Зв’язок та підтримка</a>
				</li>
			</ul>
		</nav>

		<div class="nav-numbers">
			<a href="tel:0 800 509-509" class="nav-numbers__item">
				<img src="/HTML/img/system/icon/phone.svg" alt="phone">
				<p>0 800 509-509</p>
			</a>

			<a href="tel:0 800 509-509" class="nav-numbers__item">
				<img src="/HTML/img/system/icon/car.svg" alt="delivery phone">
				<p>0 800 509-509</p>
			</a>
		</div>
	</div>
</div>
