<div class="nav-mobile__wrapper">
	<div id="nav-mobile">
		<div id="menu-wrapper">
			<div id="hamburger-menu"><span></span><span></span><span></span></div>
		</div>
		<ul class="menu-list accordion">
			<li id="nav1" class="toggle accordion-toggle"> 
				<a class="menu-link" href="#">Компанія</a>
			</li>
			<ul class="menu-submenu accordion-content">
				<li><a href="ko-about-group.html">Про групу компаній</a></li>
				<li><a href="ko-advantages.html">Наші переваги</a></li>
				<li><a href="ko-kpi.html">Індекси</a></li>
				<li><a href="ko-partners.html">Партнери</a></li>
				<li><a href="ko-news.html">Новини</a></li>
				<li><a href="ko-mass-media.html">Прес-центр</a></li>
				<li><a href="ko-franchising.html">Франчайзинг</a></li>
				<li><a href="ko-сommercial-offers.html">Комерційні пропозиції</a></li>
				<li><a href="ko-сounterparties.html">Контрагентам</a></li>
				<li><a href="ko-tender.html">Тендер</a></li>
				<li><a href="ko-job.html">Робота і кар’єра</a></li>
				<li><a href="ko-service-center.html">Центр обслуговування клієнтів</a></li>
			</ul>

			<li id="nav2" class="toggle accordion-toggle"> 
				<a class="menu-link" href="#">Клієнтам</a>
			</li>
			<ul class="menu-submenu accordion-content">
				<li><a href="n-calc.html">Розрахувати вартість</a></li>
				<li><a href="cl-services.html">Послуги</a></li>
				<li><a href="cl-сourier-form.html">Забір / доставка вантажу</a></li>
				<li><a href="cl-express-delivery.html">Експрес-доставка</a></li>
				<li><a href="cl-hot-flights.html">Горячі рейси</a></li>
				<li><a href="cl-action.html">Акції</a></li>
				<li><a href="cl-delivery-time.html">Терміни доставки</a></li>
				<li><a href="cl-packing-rules.html">Правила упаковки</a></li>
				<li><a href="cl-finance-services.html">Фінансові послуги</a></li>
				<li><a href="cl-program-loyalty.html">Програма лояльності</a></li>
				<li><a href="cl-mob-app.html">Мобільний додаток</a></li>
			</ul>

			<li id="nav3" class="toggle accordion-toggle"> 
				<a class="menu-link" href="#">Вартість</a>
			</li>
			<ul class="menu-submenu accordion-content">
				<li><a href="co-tariff.html">Тарифи</a></li>
				<li><a href="co-discount.html">Система знижок</a></li>
				<li><a href="index.html">Додаткові послуги</a></li>
			</ul>

			<li id="nav4" class="toggle accordion-toggle"> 
				<a class="menu-link" href="#">Документи</a>
			</li>
			<ul class="menu-submenu accordion-content">
				<li><a href="co-documents.html">Шаблони і бланки</a></li>
				<li><a href="co-documents-offerta.html">Договір публічної оферти</a></li>
			</ul>

			<li class="toggle accordion-toggle" id="no-arrow"> 
				<a href="index.html">Відділення</a>
			</li>

			<li class="toggle accordion-toggle" id="no-arrow"> 
				<a href="co-faq.html">Зв’язок та підтримка</a>
			</li>

			<li class="nav-mob-numbers" id="no-arrow"> 
				<a class="nav-mob-numbers__item" href="tel:0800509509">
					<div class="nav-mob-numbers__title">
						<div class="nav-mob-numbers__icon">
							<img src="../HTML/img/system/icon/phone.svg" alt="icon">
						</div>
						<p>Гаряча лінія</p>
					</div>
					<p class="nav-mob-numbers__tel" >0 800 509 509</p>
				</a>

				<a class="nav-mob-numbers__item" href="tel:0800509609">
					<div class="nav-mob-numbers__title">
						<div class="nav-mob-numbers__icon">
							<img src="../HTML/img/system/icon/car.svg" alt="icon">
						</div>
						<p>Замовити забір/доставку</p>
					</div>
					<p class="nav-mob-numbers__tel">0 800 509 609</p>
				</a>
			</li>
		</ul>
	</div>
	
	<div class="sub-nav">
		<a class="nav-mobile__logo" href="index.html">
			<img src="img/system/delivery-group__logos/delGroup_logo.svg" alt="delivery group icon">
		</a>

		<!-- Быстрый старт -->
		<div class="fast-start">
			<div class="fast-start__open-btn">
				<p>Швидкий старт</p>
			</div>
			
			<ul class="fast-start__drop">
				<li class="fast-start__drop-item"><a href="#">Викликати кур’єра</a></li>
				<li class="fast-start__drop-item"><a href="#">Розрахувати вартість</a></li>
				<li class="fast-start__drop-item"><a href="#">Знайти представництво</a></li>

				<hr class="user-panel__line">

				<li class="fast-start__drop-item"><a href="#">Документообіг</a></li>
				<li class="fast-start__drop-item"><a href="#">Службові розслідування</a></li>
				<li class="fast-start__drop-item"><a href="#">Моя аналітика</a></li>
			</ul>
		</div>

		<!-- Меню ЛК -->
		<div class="sub-nav__item">
			<div class="sub-nav__user-panel">
				<div class="sub-nav__icon">
					<p>
						Мій кабінет
					</p>
					<svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12.6667 4.66733C12.6667 7.244 10.5773 9.334 8 9.334C5.42267 9.334 3.33333 7.244 3.33333 4.66733C3.33333 2.08933 5.42267 0 8 0C10.5773 0 12.6667 2.08933 12.6667 4.66733ZM11.6013 9.454C10.5973 10.212 9.352 10.6673 8 10.6673C6.64667 10.6673 5.40067 10.2107 4.39533 9.45267C1.68067 10.648 0 14.37 0 16H16C16 14.3847 14.2667 10.6627 11.6013 9.454Z" fill="white"/>
					</svg>
				</div>
				
				<ul class="user-panel__drop">
					<li class="user-panel__drop-item"><a href="#">Повідомлення</a></li>
					<li class="user-panel__drop-item"><a href="#">Особистий кабiнет</a></li>
					<li class="user-panel__drop-item"><a href="#">Профіль користувача</a></li>
					<li class="user-panel__drop-item"><a href="#">Налаштування</a></li>
					<li class="user-panel__drop-item"><a href="#">Бали лояльності</a></li>

					<hr class="user-panel__line">

					<li class="user-panel__drop-item"><a href="#">Мої документи</a></li>
					<li class="user-panel__drop-item"><a href="#">Служба безпеки</a></li>
					<li class="user-panel__drop-item"><a href="#">Моя аналітика</a></li>
					<li class="user-panel__drop-item"><a href="#">Мої замовлення авто</a></li>

					<hr class="user-panel__line">

					<li class="user-panel__drop-item"><a href="#">Вийти</a></li>
				</ul>
			</div>

			<div class="switch-lang">
				<div class="switch-lang__btn dropdown-arrow">
					<img src="/HTML/img/system/icon/mega-menu/mega-menu__flag-ukraine.svg" alt="ukraine">
				</div>

				<ul class="switch-lang__drop-list">
					<li class="switch-lang__drop-item">
						<a href="#">
							<img src="/HTML/img/system/icon/mega-menu/mega-menu__flag-ukraine.svg" alt="ukraine">
						</a>
					</li>

					<li class="switch-lang__drop-item">
						<a href="#">
							<img src="/HTML/img/system/icon/mega-menu/mega-menu__flag-russia.svg" alt="russia">
						</a>
					</li>

					<li class="switch-lang__drop-item">
						<a href="#">
							<img src="/HTML/img/system/icon/mega-menu/mega-menu__flag-united-kingdom.svg" alt="united-kingdom">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<script>
	// МегаМеню
	$(function() {
		var mainMenu = $('#nav-mobile .menu-list');
		var userPanel = $('.user-panel__drop');
		var fastStartPanel = $('.fast-start__drop');
		var switchLangPanel = $('.switch-lang__drop-list');

		var humburgerIcon = $('#hamburger-menu');

		// Открытие мобильного Гамбургер меню
		function openMainMenu() {
			var activeMainMenu = mainMenu.hasClass('active');
			mainMenu.animate({left: activeMainMenu ? '0%' : '-200%'}, 400);
		}

		$('#menu-wrapper').click(function(event) {
			event.stopPropagation();
			humburgerIcon.toggleClass('open');
			mainMenu.toggleClass('active');
			openMainMenu();
		});

		// Выпадающие пункты в главном МегаМеню
		$('.menu-list').find('.accordion-toggle').click(function() {
			$(this).next().toggleClass('open').slideToggle('fast');
			$(this).toggleClass('active-tab').find('.menu-link').toggleClass('active');
			$('.menu-list .accordion-content').not($(this).next()).slideUp('fast').removeClass('open');
			$('.menu-list .accordion-toggle').not(jQuery(this)).removeClass('active-tab').find('.menu-link').removeClass('active');
		});

		// Открытие Меню ЛК
		function openUserPanel() {
			var activeUserPanel = userPanel.hasClass('active');
			userPanel.animate({right: activeUserPanel ? '70px' : '-200%'}, 400);
		}

		$('.sub-nav__icon').click(function(event) {
			event.stopPropagation();
			userPanel.toggleClass('active');
			openUserPanel();
		});

		// Открытие меню Быстрый старт
		function openFastStart() {
			var activeFastStart = fastStartPanel.hasClass('active');
			fastStartPanel.animate({left: activeFastStart ? '175px' : '-200%'}, 400);
		}

		$('.fast-start__open-btn').click(function(event) {
			event.stopPropagation();
			fastStartPanel.toggleClass('active');
			openFastStart();
		});

		// Открытие меню Смены языка
		function openSwitchLang() {
			var activeSwitchLang = switchLangPanel.hasClass('active');
			switchLangPanel.animate({right: activeSwitchLang ? '0' : '-900%'}, 400);
		}

		$('.switch-lang__btn').click(function(event) {
			event.stopPropagation();
			switchLangPanel.toggleClass('active');
			openSwitchLang();
		});

		// ------------------------------------------------------------------

		// Закрытие меню
		// При открытии Моб.Меню -- закрывать все остальные меню
		$('#menu-wrapper, .in-dev, .main').on('click', function(e){
			userPanel.animate({right: mainMenu ? '-200%' : '0%'}, 400).removeClass('active');
			fastStartPanel.animate({left: fastStartPanel ? '-200%' : '0%'}, 400).removeClass('active');
			switchLangPanel.animate({right: switchLangPanel ? '-900%' : '0%'}, 400).removeClass('active');
		});

		// При открытии меню ЛК -- закрывать все остальные меню
		$('.sub-nav__icon, .in-dev, .main').on('click', function(e){
			humburgerIcon.removeClass('open');
			mainMenu.animate({left: userPanel ? '-200%' : '0%'}, 400).removeClass('active');
			fastStartPanel.animate({left: fastStartPanel ? '-200%' : '0%'}, 400).removeClass('active');
			switchLangPanel.animate({right: switchLangPanel ? '-900%' : '0%'}, 400).removeClass('active');
		})

		// При открытии меню Быстрый Старт -- закрывать все остальные меню
		$('.fast-start__open-btn, .in-dev, .main').on('click', function(e){
			humburgerIcon.removeClass('open');
			mainMenu.animate({left: fastStartPanel ? '-200%' : '0%'}, 400).removeClass('active');
			userPanel.animate({right: mainMenu ? '-200%' : '0%'}, 400).removeClass('active');
			switchLangPanel.animate({right: switchLangPanel ? '-900%' : '0%'}, 400).removeClass('active');
		})

		// При открытии меню Смены языка -- закрывать все остальные меню
		$('.switch-lang__btn, .in-dev, .main').on('click', function(e){
			humburgerIcon.removeClass('open');
			mainMenu.animate({left: fastStartPanel ? '-200%' : '0%'}, 400).removeClass('active');
			userPanel.animate({right: mainMenu ? '-200%' : '0%'}, 400).removeClass('active');
			fastStartPanel.animate({left: fastStartPanel ? '-200%' : '0%'}, 400).removeClass('active');
		})
	});
</script>
