<!-- <section class="section--mob-app"> -->
	<div class="c-container">
		<div class="home-apps">
			<div class="home-apps__info">
				<h3 class="home-apps__title">
					Завантажте мобільний додаток «Делівері» 
				</h3>
				<p class="home-apps__text">
					Завжди тримайте під рукою дані по квитанціям, відправленням, отриманням, рахункам та зручний калькулятор
				</p>
				<div class="home-apps__downloads">
					<a class="home-apps__link" href="in-dev.html"><img src="img/system/mobile_app/icon__google-play.png" alt="google-play"></a>
					<a class="home-apps__link" href="in-dev.html"><img src="img/system/mobile_app/icon__app-store.png" alt="app store"></a>
				</div>
			</div>

			<div class="home-apps__phone-img">
				<img src="img/system/mobile_app/home-page__phone.png" alt="mobile app">
			</div>
		</div>
	</div>
<!-- </section> -->
