<!-- <section class="news-block"> -->
	<div class="c-container">
		<div class="home-heading">
			<h3 class="home-heading__title">Новини та акції</h3>
			<a href="ko-news.html" class="home-heading__link">Всі новини <img src="img/system/icon/arrow.svg" alt="arrow"></a>
		</div>
	</div>
	<div class="home-news">
		<div class="list">
			<div class="list--wrap">
				<a href="ko-news-item.html">
					<div class="list__item">
						<h4 class="list__title">Введення післяплати готівкою на складах</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>20 червня</time>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a href="ko-news-item_images.html">
					<div class="list__item">
						<h4 class="list__title">Відкриття представництв «Делівері» у 2020 році</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>16 червня</time>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a href="ko-news-item.html">
					<div class="list__item">
						<h4 class="list__title">Відкриття нового представництва у м. Рівне (склад №4)</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>13 червня</time>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a href="ko-news-item_images.html">
					<div class="list__item">
						<h4 class="list__title">Особливості роботи складу м. Верховина</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>12 червня</time>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a href="ko-news-item.html">
					<div class="list__item">
						<h4 class="list__title">Делівері відновлює стандартний термін зберігання вантажу на складах. Особливості роботи складу м. Верховина</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>11 червня</time>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a href="ko-news-item_images.html">
					<div class="list__item">
						<h4 class="list__title">Відкриття представництв «Делівері» у 2020 році</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>7 червня</time>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a href="ko-news-item.html">
					<div class="list__item">
						<h4 class="list__title">Введення післяплати готівкою на складах. Особливості роботи складу м. Верховина. Відкриття представництв «Делівері» у 2020 році. Відкриття представництв «Делівері» у 2020 році</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>6 червня</time>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a href="ko-news-item_images.html">
					<div class="list__item">
						<h4 class="list__title">Особливості роботи складу м. Верховина</h4>
						<div class="list__date">
							<img src="img/system/icon/news__time.svg" alt="time">
							<time>3 червня</time>
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="preroll">
			<div class="preroll__large-block">
				<a href="ko-news-item_images.html">
					<div class="preroll__item preroll__item--delivery">
						<div class="preroll__img-wrapper preroll__img-wrapper--large">
							<img class="preroll__img" src="img/banners/home-page__slider--1.jpg" alt="news photo">
						</div>
						<div class="preroll__info">
							<h3>«Делівері» провела турнир з настільного тенісу у Новограді-Волинському</h3>
							<p>Зручність для клієнтів полягає в тому, що послуга дозволяє перераховувати гроші за товар ...</p>
							<div class="preroll__footer">
								<div class="preroll__date">
									<img class="preroll__icon" src="img/system/icon/news__time.svg" alt="time">
									<time class="preroll__time">3 червня</time>
								</div>

								<img class="preroll__btn" src="img/system/icon/news__arrow-down.svg" alt="learn more">
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="preroll__small-block">
				<a class="preroll__item-inner" href="ko-news-item.html">
					<div class="preroll__item preroll__item--international">
						<div class="preroll__img-wrapper">
							<img class="preroll__img" src="img/banners/home-page__slider--1.jpg" alt="news photo">
						</div>
						<div class="preroll__info">
							<h3>Графік роботи компанії на День Святої Трійці</h3>
							<div class="preroll__footer">
								<div class="preroll__date">
									<img class="preroll__icon" src="img/system/icon/news__time.svg" alt="time">
									<time class="preroll__time">5 червня</time>
								</div>

								<img class="preroll__btn" src="img/system/icon/news__arrow-down.svg" alt="learn more">
							</div>
						</div>
					</div>
				</a>
				<!-- next item -->
				<a class="preroll__item-inner" href="ko-news-item.html">
					<div class="preroll__item preroll__item--kvorum">
						<div class="preroll__img-wrapper">
							<img class="preroll__img" src="img/banners/home-page__slider--1.jpg" alt="news photo">
						</div>
						<div class="preroll__info">
							<h3>СК «КВОРУМ» посіла 8 місце серед компаній України</h3>
							<div class="preroll__footer">
								<div class="preroll__date">
									<img class="preroll__icon" src="img/system/icon/news__time.svg" alt="time">
									<time class="preroll__time">7 червня</time>
								</div>

								<img class="preroll__btn" src="img/system/icon/news__arrow-down.svg" alt="learn more">
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

<!-- </section> -->