<!-- POP UP Order Approve-->
<!-- <div id="order_approve" class='notice__box'>
	<div class='box_text'>
		<div>
			<h5>Ваша заявка успішно <br> відправлена!</h5>
			<p>Наш менеджер зв’яжеться <br>з вами найближчим часом.</p>
		</div>
		<img src="img/system/icon/notify__approve.svg" alt="Done">
	</div>
</div> -->
<!-- \POP UP -->

<!-- POP UP Order Error-->
<!-- <div id="order_error" class='notice__box notice__box--error'>
	<div class='box_text'>
		<div>
			<h5>Ваша заявка не <br> відправлена</h5>
			<p>Повторіть вашу спробу <br>ще раз.</p>
		</div>
		<img src="img/system/icon/notify__error.svg" alt="Error">
	</div>
</div> -->
<!-- \POP UP -->

<!-- POP UP Subs Approve-->
<!-- <div id="subscribe_approve" class='notice__box'>
	<div class='box_text'>
		<div>
			<h5>Ви успішно підписалися на розсилку.</h5>
		</div>
		<img src="img/system/icon/notify__approve.svg" alt="Done">
	</div>
</div> -->
<!-- \POP UP -->

<!-- POP UP Subs Error-->
<!-- <div id="subscribe_error" class='notice__box notice__box--error'>
	<div class='box_text'>
		<div>
			<h5>Помилка</h5>
		</div>
		<img src="img/system/icon/notify__error.svg" alt="Error">
	</div>
</div> -->
<!-- \POP UP -->