<!-- Pop Up Графік роботи call-центру -->
<section id="popup-call-center">
	<form class="popup-main">
		<h3 class="popup-main__title">Графік роботи call-центру</h3>
		<div class="p-call-center__info">
			<div>
				<p>Понеділок - п'ятниця</p>
				<p><strong>9:00 - 19:00</strong></p>
			</div>
			<div>
				<p>Субота</p>
				<p><strong>9:00 - 19:00</strong></p>
			</div>
			<div>
				<p>Неділя</p>
				<p><strong>Вихідний</strong></p>
			</div>
		</div>
	</form>
</section>



<!-- необходим тут -->
<script src="js/components/popup.js" type="text/javascript"></script>

