<!-- Pop Up Графік роботи call-центру -->
<div id="popup-call-center">
	<form class="popup-main">
		<h3 class="popup-main__title">Графік роботи call-центру</h3>
		<div class="p-call-center__info">
			<div>
				<p>Понеділок - п'ятниця</p>
				<p><strong>9:00 - 19:00</strong></p>
			</div>
			<div>
				<p>Субота</p>
				<p><strong>9:00 - 19:00</strong></p>
			</div>
			<div>
				<p>Неділя</p>
				<p><strong>Вихідний</strong></p>
			</div>
		</div>
	</form>
</div>

<!-- Pop Up Подписка на новости -->
<div id="popup-subscribe-approve">
	<form class="popup-main popup-notify">
		<div>
			<h3 class="popup-notify__title">Ваша заявка успішно <br> відправлена!</h3>
			<p>Дякуємо за підписку на новини  групи компаній "DELIVERY".</p>
		</div>
		<img class="popup-icon" src="img/system/icon/notify__approve.svg" alt="done icon">
	</form>
</div>

<!-- Pop Up Заявка отправлена -->
<div id="popup-order-approve">
	<form class="popup-main popup-notify">
		<div>
			<h3 class="popup-notify__title">Ваша заявка успішно <br> відправлена!</h3>
			<p>Наш менеджер зв’яжеться з Вами найближчим часом.</p>
		</div>
		<img class="popup-icon" src="img/system/icon/notify__approve.svg" alt="done icon">
	</form>
</div>

<!-- Pop Up Ошибка Заявка НЕ отправлена -->
<div id="popup-order-error">
	<form class="popup-main popup-notify">
		<div>
			<h3 class="popup-notify__title">Ваша заявка не відправлена</h3>
			<p>Повторіть вашу спробу ще раз.</p>
		</div>
		<img class="popup-icon" src="img/system/icon/notify__error.svg" alt="error icon">
	</form>
</div>

<!-- Pop Up Робота і кар’єра, заявка отправлена -->
<div id="popup-order-job">
	<form class="popup-main popup-notify">
		<div>
			<h3 class="popup-notify__title">Повідомлення надіслано</h3>
			<p>Дякуємо за звернення в нашу компанію! <br> Наш менеджер з персоналу зв’яжеться з Вами. </p>
		</div>
		<img class="popup-icon" src="img/system/icon/notify__approve.svg" alt="done icon">
	</form>
</div>



<!-- необходим тут -->
<script src="js/components/popup.js" type="text/javascript"></script>

