<div class="c-container">
	<div class="sub-footer__inner">
		<div class="sub-footer__info">
			<p>Група компаній «Делівері» © 2001-2020</p>
			<p><a href="https://goo.gl/maps/32bT192tV7gDBRTi8">Україна 01024, м. Київ, вул. Васильківська 15/2</a></p>
			<p> E-mail: <a href="email:office@delivery-auto.com.ua">office@delivery-auto.com.ua</a></p>

			<p class="sub-footer__politics"><a href="https://www.delivery-auto.com/userfs/LocalizableFiles/uk-UA/Documents/%D0%9F%D0%BE%D0%BB%D1%96%D1%82%D0%B8%D0%BA%D0%B0%20%D0%9A%D0%BE%D0%BD%D1%84%D1%96%D0%B4%D0%B5%D0%BD%D1%86%D1%96%D0%B9%D0%BD%D0%BE%D1%81%D1%82%D1%96%20%D0%A2%D0%9E%D0%92%20%D0%94%D0%B5%D0%BB%D1%96%D0%B2%D0%B5%D1%80%D1%96.pdf" target="_blank">Політика Конфіденційності ТОВ Делівері</a></p>
		</div>

		<div class="sub-footer__payment">
			<img src="img/system/icon/footer__visa.png" alt="visa" width="70px" height="25px">
			<img src="img/system/icon/footer__mastercard.png" alt="mastercard" width="52px" height="40px">
		</div>
	</div>
</div>