<div class="container">
	<div class="sub-footer__inner">
		<div class="sub-footer__info">
			<p> Група компаній «Делівері» © 2001-2020</p>
			<p><a href="https://goo.gl/maps/32bT192tV7gDBRTi8">Україна 01024, м. Київ, вул. Васильківська 15/2</a></p>
			<p> E-mail: <a href="email:office@delivery-auto.com.ua">office@delivery-auto.com.ua</a></p>
		</div>

		<div class="sub-footer__payment">
			<img src="img/system/icon/footer__visa.png" alt="visa" width="70px" height="25px">
			<img src="img/system/icon/footer__mastercard.png" alt="mastercard" width="52px" height="40px">
		</div>
	</div>
</div>